{% if role.is_reviewer %}
	<div class="card border mt-3" id="essay-rating">
		<div class="card-header bg-info text-white">Review Essay Answers</div>
		<div class="card-body">
			<div class="card-text">
				<h2>Essay qualities</h2>
				<ul>
				{% for quality in application.get_essay_qualities %}
					<li>{{ quality }}</li>
				{% endfor %}
				</ul>
				<p><a class='btn btn-secondary' href="{% url 'review-essay' applicant_username=application.applicant.account.username %}">Review essay qualities</a></p>

				<hr>
				<h2>Essay ratings</h2>
				{% if application.get_essay_ratings %}
					<ul>
					{% for essay_rating in application.get_essay_ratings %}
						<li>{% include 'home/snippet/essay_rating.html' %}</li>
					{% endfor %}
					</ul>
				{% endif %}
				<form method="post">
					{% csrf_token %}
					{% include 'home/snippet/applicant_essay_rating_form.html' %}
				</form>
				<div class="card border-info my-3" id="essay-rating-accordian">
					<div class="card-header" id="essay-rating-header">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#essay-rating-accordion" aria-expanded="false" aria-controls="essay-rating-accordion" href="#essay-rating-accordion">- Essay Tips</button>
						</h5>
					</div>
					<div id="essay-rating-accordion" class="collapse hide" aria-labelledby="essay-rating-header" data-parent="#essay-rating-accordian">
						<div class="card-body">
							<div class="card-text">
								<p>Please review whether the essay is compelling:
								</p>
								<form method="post">
									{% csrf_token %}
									<div class="container">
										<div class="row">
											<div class="col">
												{% include 'home/snippet/applicant_essay_rating_form.html' %}
											</div>
										</div>
									</div>
								</form>
								<div class="col-9">
									<p>Reviewers have the following essay ratings available to them:</p>
									<ul>
										<li><button type="button" class="btn btn-success">+3</button> essay was <b>strongly</b> compelling</li><br>
										<li><button type="button" class="btn btn-success">+2</button> essay was compelling</li><br>
										<li><button type="button" class="btn btn-success">+1</button> essay was <b>weakly</b> compelling</li><br>
										<li><button type="button" class="btn btn-secondary">??</button> essay answers were to short or unclear to make a decision. We may need to follow up with the applicant and ask them to update their essay questions.</li><br>
										<li><button type="button" class="btn btn-warning">-1</button> essay was not compelling</li><br>
										<li><button type="button" class="btn btn-warning">-2</button> essay was unrelated to the essay questions</li><br>
										<li><button type="button" class="btn btn-warning">-3</button> essay contained spam or trolling</li><br>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				{% if role.is_organizer %}
					<p>Send an email asking for the applicant to update their essay:
					<form method="post" action="{% url 'request-essay-revision' applicant_username=application.applicant.account.username %}">
						{% csrf_token %}
						<input type='submit' class='btn btn-warning' value="Request Essay Revision">
					</form>
					</p>
					<hr>
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}
