{% with project_contributions=request.user.comrade.get_projects_contributed_to %}
{% with project_applications=request.user.comrade.get_projects_applied_to %}

{% if project_applications %}
<div class="card border-info mb-3">
    <div class="card-header bg-warning"><a data-toggle="collapse" data-parent="applicant-action-accordion" {% if show_reminders == 1 %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %} aria-controls="#applicant-action-accordion" href="#applicant-action-accordion">+ My Contributions and Applications</a></div>
    <div class="collapse{% if show_reminders == 1 %} show{% endif %}" id="applicant-action-accordion">
    <div class="card-body">
	<p class="card-text">
	Thank you for recording your contributions and creating {{ project_applications|pluralize:"a project application, project applications" }}. You will need to create an application for each project, in order to be eligible to be selected as an intern for that project.
	</p>
	<p class="card-text">
	The application deadline is {{ current_round.appsclose|date:"F d, Y" }}. Some projects are open to late applications, and their application deadline will be {{ current_round.appslate|date:"F d, Y" }}.
	</p>
{% else %}
<div class="card border-warning mb-3">
    <div class="card-header text-white bg-warning">Submit a Project Application</div>
    <div class="card-body">
	<p class="card-text">
	<strong>Your next step is to create an application.</strong> You will need to create an application for each project, in order to be eligible to be selected as an intern for that project.
	</p>
	<p class="card-text">
	The application deadline is {{ current_round.appsclose|date:"F d, Y" }}. Some projects are open to late applications, and their application deadline will be {{ current_round.appslate|date:"F d, Y" }}.
	</p>
{% endif %}
	<h5 class="card-text">My Contributions</h5>
	<p class="card-text">
	You've recorded that you made a contribution to the following projects:
	</p>
	<ul class="card-text">
		{% for p in project_contributions %}
			<li>{{ p.project_round.community.name }} - {{ p.short_title }}
				<ul>
					<li><a href="{% url 'community-landing' round_slug=current_round.slug slug=p.project_round.community.slug  %}">View project information</a></li>
					<li><a href="{{ p.get_contributions_url }}">Record your contributions</a></li>
					<li><a href="{{ p.get_contributions_url }}">Edit or create an application</a></li>
				</ul>
			</li>
		{% endfor %}
	</ul>
	<p class="card-text">
	Interested in applying to another project? You'll need to record a contribution for a project in order to be eligible to create an application. You can see the full list of projects and their deadlines on <a href="{% url 'project-selection' %}">project selection page</a>.
	</p>

	{% if project_applications %}
	<h5 class="card-text">Applications</h5>
		<p class="card-text">
		Only applicants who submit an application for a project will be eligible to be selected as an intern for that project. You've created applications for the following projects:
		</p>

		<ul class="card-text">
			{% for p in project_applications %}
				<li>{% if p.withdrawn %}(Withdrawn application) {% endif %}<a href="{{ p.get_contributions_url }}">{{ p.short_title }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
	{% if project_applications %}</div>{% endif %}
    </div>
</div>
{% endwith %}
{% endwith %}
