<div class="card border-info mb-3">
	<div class="card-header text-white bg-warning">Project and community CFP is currently closed</div>
	<div class="card-body">
		<p class="card-text">
		Outreachy is not currently accepting new participating communities or new intern projects.
		The last Outreachy application round was for the {{ previous_round.official_name }}.
		Outreachy interns are announced on the <a href="{% url 'alums' %}">alums page</a> {{ previous_round.internannounce }} at 4pm UTC.</p>
		<p>Mentors are welcome to
		<a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">sign up for the Outreachy announcement list</a>
		to receive a notification for next round.</p>
	</div>
</div>
