<p>Outreachy understands that smaller communities operate differently than larger communities. Some of our rules may not apply to smaller communities.</p>

<p>Outreachy acknowledges that the free software and open source concepts were largely developed by white, cis, western men. We understand that communities in non-western and developing counties will operate differently, and we encourage them to apply!</p>

<p>If you have questions about if your community is eligible, please <a href="{% url 'contact-organizers' %}">contact Outreachy organizers.</a></p>

