<p>Some of our eligibility rules may be more flexible for smaller open source or open science communities.</p>

<p>Outreachy welcomes mentors from low-income and middle-income countries. We also welcome mentors from marginalized groups in the technology or science industry. Some of our community eligibility rules may be more flexible for communities built by less privileged groups.</p>

<p>We encourage your community to apply! Please apply even if you are unsure about our eligibility rules.</p>

<p>If you have questions about our eligibility rules, please <a href="{% url 'contact-organizers' %}">contact Outreachy organizers.</a></p>
