<div class="card border-warning mb-3">
    <div class="card-header text-white bg-warning">A Contribution is Required</div>
    <div class="card-body">
	<p class="card-text">
	Only applicants who have made a contribution will be eligible to be accepted as an Outreachy intern.
	Please look over the <a href="/apply/project-selection">projects list</a> and
	work with a mentor to start a contribution to a project.
	</p>
	<p class="card-text">
	In order to be eligible to be selected as an intern, you'll need to
	record your contributions to each project. You can record your
	contributions by going to the community landing page, finding your
	project, and clicking 'Record Contributions'.
	</p>
    </div>
</div>
