{% load static %}
<div class="container">
	<div class="row align-items-center justify-content-center">
		<div class="col-5 align-self-center">
			<img src="{% static 'img/183-cc-by-2_0-WOCinTech-Chat.jpg' %}" alt="cc-by 2.0 WOCinTech-Chat" class="img-fluid align-self-start">
			<p><i>Photo CC BY 2.0 WOCinTech Chat</i></p>
		</div>

		<div class="col-7">
			<p>
			Outreachy is open to applicants around the world.
			</p>
			<p>
			<b>We invite anyone from any background who faces under-representation, systemic bias, or discrimination</b> in the technology industry of their country to apply.
			</p>

		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
			Outreachy openly welcomes applicants who are women (both cis and trans), trans men, non-binary people, and genderqueer people to apply.
			</p>

			<p>
			We also openly welcome applications who are residents and nationals of the United States of America of any gender who are Black/African American, Hispanic/Latin@, Native American/American Indian, Alaska Native, Native Hawaiian, or Pacific Islander.
			</p>

			<p>
			Past Outreachy interns are:
			</p>
			<ul>
				<li>92% women, 4% men</li>
				<li>4% transgender, genderqueer, or non-binary people</li>
				<li>64% people of color, 36% white</li>
				<li>12% people from a historically disadvantaged caste or tribe</li>
			</ul>
			<p><i>Statistics are based on responses to the 2019 longitudinal study of Outreachy alums, and they're based on self-identification.</i> There is no list of groups that are eligible or ineligible for Outreachy. Outreachy interns have been from countless backgrounds and identities. Check our <a href="https://www.outreachy.org/alums/">alums page</a> to learn more about them.</p>
		</div>
	</div>
</div>
