{# This snippet only needs `role` in its context. #}

{% if role.user.comrade and not role.user.comrade.agreed_to_code_of_conduct %}
<div class="card border-warning mb-3">
    <div class="card-header text-white bg-warning">Agree to the Code of Conduct</div>
    <div class="card-body">
	<p class="card-text">
	By participating in the Outreachy program, you agree to abide by our Code of Conduct.
	</p>
	<p class="card-text">
	<a href="/account/">Please go to your account page</a> to agree to the Code of Conduct.
	</p>
    </div>
</div>
{% endif %}

{% if role.is_potential_applicant %}
	{% if not role.current_round.initial_applications_open.has_passed %}
		<div class="card border-info mb-3">
			<div class="card-header text-white bg-info">Initial applications are not open</div>
			<div class="card-body">
				<p class="card-text">
				You cannot submit an initial application until {{ role.current_round.initial_applications_open }} at 4pm UTC.
				</p>
				<p class="card-text">
				Please <a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">sign up for the Outreachy announcements mailing list</a>
				for an email when the round begins.
				</p>
			</div>
		</div>
	{% elif not role.current_round.initial_applications_closed.has_passed %}
		<div class="card border-info mb-3">
			<div class="card-header text-white bg-warning">Complete your initial application!</div>
			<div class="card-body">
				<p class="card-text">
				In order to see all project information,
				you must fill out a short initial application.
				</p>
				<p class="card-text"><a href="{% url 'eligibility' %}" class="btn btn-success">Start Initial Application</a></p>

				<p class="card-text">{{ role.current_round.initial_applications_close }} at 4pm UTC
				is the deadline for submitting an initial application.
				Applicants will be notified of their initial application status on {{ role.current_round.contributions_open }}.
				</p>

				<p class="card-text">
				Until your initial application is approved, some information about the internships will be hidden,
				including full project details, mentor contact information, and how to make contributions
				to internship projects.
				</p>
			</div>
		</div>
	{% else %}
		<div class="card border-info mb-3">
			<div class="card-header text-white bg-info">Initial applications are closed</div>
			<div class="card-body">
				<div class="card-text">
					<p>
					The deadline to create an initial application has passed for the {{ role.current_round.official_name }}.
					We are no longer accepting initial applications for internships.
					We encourage you to sign up for the
					<a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">announcements mailing list</a>
					to get an email when the next round opens.
					</p>
				</div>
			</div>
		</div>
	{% endif %}
{% elif role.is_rejected_applicant %}
	<div class="card border-info mb-3">
	    <div class="card-header text-white bg-warning">Initial Application Not Approved</div>
	    <div class="card-body">
		<p class="card-text">
		We're sorry, but after reviewing <a href="{% url 'eligibility-results' %}">your application</a>,
		we have determined that your application is not strong enough for the Outreachy internship program.
		</p>
		<p class="card-text">
		If you want to spread the word about Outreachy,
		there are <a href="/promote">posters and other resources</a> to help you do that.
		</p>
		<p class="card-text">
		If you want to be notified when the next Outreachy application round opens,
		you can sign up for our
		<a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">announcements mailing list</a>.
		</p>
	    </div>
	</div>
{% elif role.is_pending_applicant %}
	<div class="card border-info mb-3">
		{% if not role.current_round.contributions_open.has_passed %}
			<div class="card-header text-white bg-warning">Outreachy Initial Application Under Review</div>
			<div class="card-body">
				<p class="card-text">
				{% if role.application.barrierstoparticipation.applicant_should_update %}
				You need to <a href="{% url 'essay-revision' applicant_username=role.user.comrade.account.username %}">update your essay questions</a>.
				The Outreachy organizer found them unclear or not having enough information.
				{% else %}
				The Outreachy organizers are reviewing <a href="{% url 'eligibility-results' %}">your initial application</a>.
				{% endif %}
				</p>
				<p class="card-text">
				Until your initial application is approved, some information about the internships will be hidden,
				including full project details, mentor contact information, and how to make contributions
				to internship projects.
				</p>
			</div>
		{% else %}
			<div class="card-header text-white bg-warning">Initial Application Not Approved</div>
			<div class="card-body">
				<div class="card-text">
					<p>
					You submitted an <a href="{% url 'eligibility-results' %}">initial application</a> for the {{ role.current_round.official_name }}. Unfortunately, it was not approved.
					<p>
					</p>
					We encourage you to apply for a future round. Please sign up for the
					<a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">announcements mailing list</a>
					to get an email when the next round opens.
					</p>
				</div>
			</div>
		{% endif %}
	</div>
{% elif role.is_approved_applicant %}
	{% with project_contributions=role.application.get_projects_contributed_to %}
	{% if not project_contributions %}
		<div class="card border-warning mb-3">
			{% if not role.current_round.contribution_closes.has_passed %}
				<div class="card-header text-white bg-warning">A Contribution is Required</div>
				<div class="card-body">
					<p class="card-text">
					Only applicants who have made a contribution will be eligible to be accepted as an Outreachy intern.
					Please look over the <a href="/apply/project-selection">projects list</a> and
					work with a mentor to start a contribution to a project.
					If you're having trouble figuring out how to contribute,
					<a href="https://www.outreachy.org/apply/make-contributions/">check out our contribution tips</a>.
					</p>
					<p class="card-text">
					In order to be eligible to be selected as an intern, you'll need to
					record your contributions to each project. You can record your
					contributions by going to the <a href="/apply/project-selection">projects list</a>,
					finding your project,
					and clicking the link to 'record your contributions and create a final application'.
					</p>
				</div>
			{% else %}
				<div class="card-header text-white bg-info">The final application deadline has passed</div>
				<div class="card-body">
					<div class="card-text">
						{% include 'home/snippet/deadline_passed.html' %}
					</div>
				</div>
			{% endif %}
		</div>
	{% else %}
		{% with project_applications=role.application.get_projects_applied_to %}

		{% if project_applications %}
			<div class="card border-info mb-3">
			    <div class="card-header bg-warning"><a data-toggle="collapse" data-parent="applicant-action-accordion" {% if show_reminders == 1 %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %} aria-controls="#applicant-action-accordion" href="#applicant-action-accordion">+ My Contributions and Applications</a></div>
			    <div class="collapse{% if show_reminders == 1 %} show{% endif %}" id="applicant-action-accordion">
			    <div class="card-body">
				<p class="card-text">
				Thank you for recording your contributions and creating {{ project_applications|pluralize:"a project final application, project final applications" }}. You will need to create a final application for each project, in order to be eligible to be selected as an intern for that project.
				</p>
				<p class="card-text">
				{% if not role.current_round.contribution_closes.has_passed %}
					The final application deadline is {{ role.current_round.contribution_closes|date:"F d, Y" }} at 4pm UTC.
				{% else %}
					The deadline to submit a final application was {{ role.current_round.contribution_closes|date:"F d, Y" }} at 4pm UTC. Your final application{{ project_applications|pluralize }} will be reviewed.
				{% endif %}
				</p>
		{% elif role.current_round.contribution_closes.has_passed %}
			<div class="card border-info mb-3">
			    <div class="card-header text-white bg-info">The final application deadline has passed</div>
			    <div class="card-body">
				<div class="card-text">
					{% include 'home/snippet/deadline_passed.html' %}
				</div>
		{% else %}
			<div class="card border-warning mb-3">
			    <div class="card-header text-white bg-warning">Submit a Project Application</div>
			    <div class="card-body">
				<p class="card-text">
				<strong>Your next step is to create a final application.</strong> You will need to create a final application for each project, in order to be eligible to be selected as an intern for that project.
				</p>
				<p class="card-text">
				The final application deadline is {{ role.current_round.contribution_closes|date:"F d, Y" }} at 4pm UTC.
				</p>
		{% endif %}
			<h5 class="card-text">My Contributions</h5>
			<p class="card-text">
			You've recorded that you made a contribution to the following projects:
			</p>
			<ul class="card-text">
				{% for p in project_contributions %}
					<li>{{ p.project_round.community.name }} - {{ p.short_title }}
						<ul>
							<li>Final application deadline: {{ current_round.contributions_close }} 4pm UTC</li>
							{% if not current_round.contributions_close.has_passed %}
								<li><a href="{{ p.get_contributions_url }}">Record your contributions</a></li>
								<li><a href="{{ p.get_contributions_url }}">Edit or create a final application</a></li>
								<li><a href="{{ p.project_round.get_absolute_url }}">View project information</a></li>
							{% else %}
								{% if p in project_applications %}
									<li><a href="{{ p.get_contributions_url }}">Record your contributions</a></li>
									<li><a href="{{ p.get_contributions_url }}">View your final application</a></li>
								{% else %}
									<li>The final application deadline has passed. You have not submitted a final application,
										so you are not eligible to be selected as an intern for this project.</li>
									<li><a href="{{ p.get_contributions_url }}">View your contributions</a></li>
								{% endif %}
								<li><a href="{{ p.project_round.get_absolute_url }}">View project information</a></li>
							{% endif %}
						</ul>
					</li>
				{% endfor %}
			</ul>
			{% if not role.current_round.contribution_closes.has_passed %}
				<p class="card-text">
				Interested in applying to another project?
				You'll need to record a contribution for a project in order to be eligible to create a final application.
				You can see the full list of projects on the
				<a href="{% url 'project-selection' %}">project selection page</a>.
				</p>
			{% endif %}

			{% if project_applications %}
			<h5 class="card-text">Applications</h5>
				<p class="card-text">
				Only applicants who submit a final application for a project will be eligible to be selected as an intern for that project. You've created final applications for the following projects:
				</p>

				<ul class="card-text">
					{% for p in project_applications %}
						<li>{% if p.is_withdrawn %}(Withdrawn application) {% endif %}<a href="{{ p.get_contributions_url }}">{{ p.short_title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if project_applications %}</div>{% endif %}
		    </div>
		</div>
		{% endwith %}
	{% endif %}
	{% endwith %}
{% endif %}

{% with communities=role.approved_coordinator_communities %}
{% if communities %}
	<div class="card border-info mb-3">
		<div class="card-header bg-warning"><a data-toggle="collapse" data-parent="coordinator-action-accordion" {% if show_reminders == 1 %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %} aria-controls="#coordinator-action-accordion" href="#coordinator-action-accordion">+ Coordinator Actions</a></div>
		<div class="collapse{% if show_reminders == 1 %} show{% endif %}" id="coordinator-action-accordion">
	    <div class="card-body">
		<p class="card-text">
		Below is a list of all communities you are approved to be a coordinator for,
		where the community is also approved to participate in this round.
		You can find unapproved communities linked from the <a href="{% url 'community-cfp' %}">community CFP page</a>.
		</p>
		<p><a href="{% url 'account' %}">Edit your personal or coordinator information</a></p>

		{% for participation in communities %}
		{% with community=participation.community current_round=role.current_round participation_info=participation %}
			{% include 'home/snippet/coordinator_action.html' %}
		{% endwith %}
		{% endfor %}
	    </div>
	    </div>
	</div>
{% endif %}
{% endwith %}
