{% if request.user.comrade and not request.user.comrade.agreed_to_code_of_conduct %}
{% include "home/snippet/coc_prompt.html" %}
{% endif %}

{% if role.needs_application %}
{% include "home/snippet/eligibility_prompt.html" %}
{% elif role.application.barrierstoparticipation.applicant_should_update %}
{% include "home/snippet/pending_prompt.html" %}
{% elif role.application.is_rejected %}
{% include "home/snippet/ineligible_prompt.html" %}
{% elif role.application.is_pending %}
{% include "home/snippet/pending_prompt.html" %}
{% elif role.application.is_approved %}
	{% with project_contributions=role.application.get_projects_contributed_to %}
	{% if not project_contributions %}
	{% include "home/snippet/contribute_prompt.html" %}
	{% else %}
	{% include "home/snippet/apply_prompt.html" %}
	{% endif %}
	{% endwith %}
{% endif %}
{% with communities=role.approved_coordinator_communities %}
{% if communities %}
{% include "home/snippet/coordinator_reminder_prompt.html" %}
{% endif %}
{% endwith %}
