{% if request.user.comrade and not request.user.comrade.agreed_to_code_of_conduct %}
{% include "home/snippet/coc_prompt.html" %}
{% endif %}

{% if not request.user.comrade or request.user.comrade.needs_application %}
{% include "home/snippet/eligibility_prompt.html" %}
{% elif request.user.comrade.ineligible_application %}
{% include "home/snippet/ineligible_prompt.html" %}
{% elif request.user.comrade.pending_application %}
{% include "home/snippet/pending_prompt.html" %}
{% elif request.user.comrade.eligible_application and not request.user.comrade.get_projects_contributed_to %}
{% include "home/snippet/contribute_prompt.html" %}
{% elif request.user.comrade.eligible_application and request.user.comrade.get_projects_contributed_to %}
{% include "home/snippet/apply_prompt.html" %}
{% endif %}
{% if request.user.comrade.get_approved_coordinator_communities %}
{% include "home/snippet/coordinator_reminder_prompt.html" %}
{% endif %}
