{% comment %}Point coordinators to resources for finding and pitching to sponsors, once the community guide exists.{% endcomment %}

<p>All communities must find finding for at least one intern ($6,500 USD):</p>

<ul>
	<li><b>Humanitarian open source communities</b> can apply for funding from <a href="{% url 'docs-community' %}#outreachy-general-fund" %}>Outreachy</a></li>

	<li><b>Open science communities</b> can apply for funding from <a href="{% url 'docs-community' %}#open-science-funding" %}>Outreachy</a></li>

	<li><b>Other open source communities</b> need to find their own funding. Communities might use their own community funds, or find a company to sponsor an intern.</li>
</ul>

<p>All types of open source communities can apply to receive <a href='{% url 'docs-community' %}#outreachy-general-fund'>additional funding for interns</a>. However, funding for at least one intern must be secured first.</p>
