<p>Outreachy internships run twice a year. You can <a href="{% url 'past-rounds' %}">view communities and projects from all past Outreachy rounds</a>.</p>

<table class="table table-striped table-bordered">
	<tr>
		<th>Important Round Dates</th>
		<th>Mid-year Internships</th>
		<th>End of year Internships</th>
	</tr>
	<tr>
		<td>Call for communities and mentored projects opens</td>
		<td>January</td>
		<td>August</td>
	</tr>
	<tr>
		<td>Deadline for new participating communities</td>
		<td>February</td>
		<td>September</td>
	</tr>
	<tr>
		<td>Deadline for submitting new mentored projects</td>
		<td>March</td>
		<td>October</td>
	</tr>
	<tr>
		<td>Initial applications open</td>
		<td>late January</td>
		<td>late August</td>
	</tr>
	<tr>
		<td>Initial applications due</td>
		<td>March</td>
		<td>October</td>
	</tr>
	<tr>
		<td>Contribution period opens</td>
		<td>February</td>
		<td>September</td>
	</tr>
	<tr>
		<td>Final application and contributions due</td>
		<td>April</td>
		<td>November</td>
	</tr>
	<tr>
		<td>Interns announced</td>
		<td>April</td>
		<td>November</td>
	</tr>
	<tr>
		<td>Internships start</td>
		<td>May</td>
		<td>December</td>
	</tr>
	<tr>
		<td>Internships end</td>
		<td>August</td>
		<td>March</td>
	</tr>
</table>
