<div class="card border-info mb-3">
    <div class="card-header text-white bg-warning">Ineligible for Outreachy</div>
    <div class="card-body">
	<p class="card-text">
	Unfortunately, you're not eligible to apply for Outreachy.
	</p>
	<p class="card-text">
	You can spread the word to other eligible people,
	and there are <a href="/promote">posters and other resources</a> to help you do that.
	</p>
	<p class="card-text">
	If you want to be notified when the next Outreachy application round opens,
	you can sign up for our
	<a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">announcements mailing list</a>.
	</p>
    </div>
</div>
