<div class="card border-info mb-3">
    <div class="card-header text-white bg-warning">Initial Application Not Approved</div>
    <div class="card-body">
	<p class="card-text">
	We're sorry, but after reviewing <a href="{% url 'eligibility-results' %}">your application</a>,
        we have determined that you are not a strong applicant for the Outreachy internship program.
	</p>
	<p class="card-text">
	If you want to spread the word about Outreachy,
	there are <a href="/promote">posters and other resources</a> to help you do that.
	</p>
	<p class="card-text">
	If you want to be notified when the next Outreachy application round opens,
	you can sign up for our
	<a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">announcements mailing list</a>.
	</p>
    </div>
</div>
