<div class="card border-secondary mb-3">
	<div class="card-header text-white bg-secondary">
		Your Initial Application
	</div>
	<div class="card-body">
		<div class="card-text">
			{% for label, obj in role.application.get_question_models %}
				<h4>{{ label }}</h4>
				{% for field, answer in obj.get_answers %}
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Q{{ forloop.counter }}. {{ field.verbose_name }}</h5>
							<p class="card-text">{{ answer|linebreaksbr }}</p>
						</div>
					</div>
				{% endfor %}
				<hr>
			{% endfor %}
			<h4>Time Commitments</h4>
			{% include 'home/snippet/time_commitment_overview_for_applicant.html' %}
		</div>
	</div>
</div>

