<div class="card border-secondary mb-3">
	<div class="card-header text-white bg-secondary">
		Your Initial Application
	</div>
	<div class="card-body">
		<div class="card-text">
			{% for label, obj in application.get_question_models %}
				<h4>{{ label }}</h4>
				{% for question, answer in obj.get_answers %}
					<hr>
					<p>Q{{ forloop.counter }}. {{ question }}</p>
					<p>A{{ forloop.counter }}. {{ answer }}</p>
				{% endfor %}
				<hr>
			{% endfor %}
			<h4>Time Commitments</h4>
			{% include 'home/snippet/time_commitment_overview.html' %}
		</div>
	</div>
</div>

