<h3>Internship Extensions Instructions</h3>
<p>If your intern needs an internship extension:
<ul>
	<li>Note how long of an internship extension you currently have - {{ intern_selection.get_internship_extension_amount_in_weeks }} week(s)</li>
	<li>Decide how many more weeks the internship should be extended</li>
	<li>In the box below, pick the extension option for the <b>total number of weeks</b> the internship will be delayed</li>
	<li><i>Example:</i> Intern Foo does not currently have an internship extension. Their mentor, Bar, wants to extend the internship for 1 week. Bar picks the option to delay the stipend payment by 1 week total.</li>
	<li><i>Example:</i> Intern Foo had a 2 week internship extension. Their mentor, Bar, wants to extend the internship for 1 more week. Bar picks the option to delay the stipend payment by 3 weeks total.</li>
</ul>
