{% if not mentor_status or mentor_status == intern.MISSING %}
<button class="btn btn-secondary">missing</button>
{% elif mentor_status == intern.PAID %}
<button class="btn btn-secondary">paid</button>
{% elif mentor_status == intern.PAY %}
<button class="btn btn-success">pay</button>
{% elif mentor_status == intern.EXTEND %}
<button class="btn btn-warning">extend</button>
{% elif mentor_status == intern.DUNNO %}
<button class="btn btn-warning">advice needed</button>
{% elif mentor_status == intern.TERMINATE %}
<button class="btn btn-danger">terminate</button>
{% elif mentor_status == intern.SUBMITTED %}
<button class="btn btn-secondary">submitted</button>
{% endif %}
