{% if not mentor_status or mentor_status == intern.MISSING %}
<span class="badge badge-secondary">missing</span>
{% elif mentor_status == intern.PAID %}
<span class="badge badge-secondary">paid</span>
{% elif mentor_status == intern.PAY %}
<span class="badge badge-success">pay</span>
{% elif mentor_status == intern.EXTEND %}
<span class="badge badge-warning">extend</span>
{% elif mentor_status == intern.DONT_KNOW %}
<span class="badge badge-warning">??</span>
{% elif mentor_status == intern.TERMINATE %}
<span class="badge badge-danger">terminate</span>
{% elif mentor_status == intern.SUBMITTED %}
<span class="badge badge-secondary">submitted</span>
{% endif %}
