{% comment %}
pass into this template snippet the following arguments:
	- intern_selection - class InternSelection
	- payment_status - any one of these fields from class InternSelection: initial_payment_status, midpoint_payment_status, final_payment_status
{% endcomment %}
{% if payment_status == intern_selection.WAITINGONFEEDBACK %}
<span class="badge badge-secondary">Waiting on mentor</span>
{% elif payment_status == intern_selection.UNDERREVIEW %}
<span class="badge badge-info">Review feedback</span>
{% elif payment_status == intern_selection.QUEUED %}
<span class="badge badge-info">Queued</span>
{% elif payment_status == intern_selection.REQUESTED %}
<span class="badge badge-success">Payment request sent</span>
{% elif payment_status == intern_selection.DONOTPAY %}
<span class="badge badge-danger">Payment denial sent</span>
{% endif %}
