
<h2>Intern Payment Schedule</h2>
<table class=table>
	<tr><td>{{ current_round.internstarts }}</td><td>Internships starts</td></tr>
	<tr><td>{{ current_round.initialfeedback }}</td><td>Initial feedback due</td></tr>
	<tr><td>{{ current_round.initial_stipend_payment_deadline }}</td><td>The ${{ current_round.initialpayment }} initial stipend will be issued to interns with successful initial feedback</td></tr>
	<tr><td>{{ current_round.midfeedback }} </td><td>Mid-point feedback due</td></tr>
	<tr><td>{{ current_round.midpoint_stipend_payment_deadline }}</td><td>The ${{ current_round.midpayment }} midpoint stipend will be issued to interns with successful mid-point feedback</td></tr>
	<tr><td>{{ current_round.internends }}</td><td>Internships end</td></tr>
	<tr><td>{{ current_round.finalfeedback }} </td><td>Final feedback due</td></tr>
	<tr><td>{{ current_round.final_stipend_payment_deadline }}</td><td>The ${{ current_round.finalpayment }} final stipend will be issued to interns with successful final feedback</td></tr>
</table>
