<div class="card border-info mb-3">
	{% if not current_round.has_application_deadline_passed %}
		<div class="card-header text-white bg-warning">Outreachy Initial Application Under Review</div>
		<div class="card-body">
			<p class="card-text">
			The Outreachy organizers are reviewing <a href="{% url 'eligibility-results' %}">your initial application</a>.
			</p>
			<p class="card-text">
			Until your initial application is approved, some information about the internships will be hidden,
			including full project details, mentor contact information, and how to make contributions
			to internship projects.
			</p>
		</div>
	{% else %}
		<div class="card-header text-white bg-info">Internship applications are now closed</div>
		<div class="card-body">
			<div class="card-text">
				{% include 'home/snippet/deadline_passed.html' %}
			</div>
		</div>
	{% endif %}
</div>
