<div class="card border-info mb-3">
    <div class="card-header text-white bg-warning">Outreachy Application Pending</div>
    <div class="card-body">
	<p class="card-text">
	The Outreachy organizers are checking details about your application.
	</p>
	<p class="card-text">
	Until they verify your eligibility, some information about the internships will be hidden,
	including full project details, mentor contact information, and how to make contributions
	to internship projects.
	</p>
    </div>
</div>
