{% for project in projects %}
	{% if project.needs_more_applicants and project.approval_status == project.APPROVED %}
	<div class="card border border-success" id="{{ project.project_round.community.slug}}-{{ project.slug }}">
		<div class="card-header bg-success text-light">
	{% elif project.approval_status != project.APPROVED %}
	<div class="card border border-warning" id="{{ project.project_round.community.slug}}-{{ project.slug }}">
		<div class="card-header bg-warning text-light">
	{% else %}
	<div class="card border" id="{{ project.project_round.community.slug}}-{{ project.slug }}">
		<div class="card-header bg-light">
	{% endif %}
		{% if project.approval_status != project.APPROVED %}{{ project.get_approval_status_display }} {% endif %}{{ project.project_round.community.name }} {% if project.deadline == project.CLOSED %}closed {% elif project.deadline == project.LATE %}extended deadline {% endif %}project #{{ forloop.counter }}
		</div>
		<div class="card-body">
		{% comment %}If this view didn't set any mentors_pending_projects, it means there's no pending mentored projects {% endcomment %}
		{% if not request.user.comrade.approved_reviewer and not request.user.comrade.eligible_application and not request.user.comrade.approved_mentor_or_coordinator and not project in mentors_pending_projects %}
			<p><strong>{{ project.short_title }}</strong></p>
			<div class="card-text">{% include 'home/snippet/project_hidden.html' %}</div>
		{% else %}
			<p><strong><a href="{% url 'community-landing' round_slug=current_round.slug slug=project.project_round.community.slug %}#{{ project.slug }}">{{ project.short_title }}</a></strong></p>
		{% endif %}

		{% if project.needs_more_applicants %}
			{% if not project.has_application_deadline_passed %}
				<p>This project has a low number of applicants, and the project mentor welcomes new applicants to contribute.</p>
			{% else %}
				<p>This project had a low number of applicants</p>
			{% endif %}
		{% endif %}

		{% include "home/snippet/project_deadline.html" %}
		{% include "home/snippet/project_skills_display.html" %}
		</div>
	</div>
	<br>
{% endfor %}
