<p>After the Outreachy round opens on {{ current_round.appsopen }}, you can promote this project to applicants by linking to the community landing page:</p>

<p><a href="{% url 'community-landing' round_slug=current_round.slug community_slug=community.slug %}">{{ request.scheme }}://{{ request.get_host }}{% url 'community-landing' round_slug=current_round.slug community_slug=community.slug %}</a>
</p>

<p>Once you have started work with an applicant on a contribution, you should remind them to record their in-progress contributions at this URL:</p>
<p><a href="{% url 'contributions' round_slug=current_round.slug community_slug=community.slug project_slug=project.slug %}">
	{{ request.scheme }}://{{ request.get_host }}{% url 'contributions' round_slug=current_round.slug community_slug=community.slug project_slug=project.slug %}
</a></p>
