<h3>Project Skills</h3>
<div>
	{% include "home/snippet/project_skills_display.html" %}
</div>

<h3>System Requirements</h3>
{{ project.minimum_system_requirements|safe }}

<h3>Project Description</h3>
<p>{{ project.short_title }}</p>
{{ project.long_description|safe }}

{% if project.intern_tasks %}
<h4>Internship Tasks</h4>
{{ project.intern_tasks|safe }}
{% endif %}

{% if project.intern_benefits %}
<h4>Intern Benefits</h4>
{{ project.intern_benefits|safe }}
{% endif %}

<h3>Project Contribution Information</h3>
<p>As part of the application process, all applicants must make at least one contribution to be accepted as an intern for this project.
Only applicants who make a contribution will be eligible to be accepted as interns.
{% if community.tutorial %}
This community requires applicants to complete a tutorial before they can make their contributions.
{{ community.tutorial|safe }}
{% endif %}
</p>

<p>
{% if project.repository %}
	Applicants can contribute to this project through <a href="{{ project.repository }}">the project repository or contribution page</a>.
{% else %}
	Some projects accept contributions through a project repository. This project has not provided a link to a project repository.
{% endif %}
{% if project.issue_tracker %}
	The project uses an <a href="{{ project.issue_tracker }}">issue tracker</a> to keep information about bugs to fix, project features to implement, documentation to write, and more.
	{% if project.newcomer_issue_tag %}
		Applicants can look for newcomer-friendly issues to use for their first contributions by looking for the following issue tags in the <a href="{{ project.issue_tracker }}">project issue tracker</a>:
		{{ project.newcomer_issue_tag }}
	{% endif %}
{% endif %}
</p>

{% if not project.contribution_tasks %}
	<p>Applicants will need to contact a mentor to find out how they can make their first contributions to the project.</p>
{% else %}
	{{ project.contribution_tasks|safe }}
{% endif %}

{% with channels=project.communicationchannel_set.all %}
	{% if channels %}
		<h3>How do I work with the {{ community.name }} community?</h3>
		<p>
		Outreachy applicants can get help and feedback from both mentors and community members.
		Community members discuss their contributions in a public chat.
		Outreachy applicants can often learn from those discussions.
		</p>
		<p>Please introduce yourself on the public project chat:</p>
		<ul>
		{% for channel in channels %}
			<li><b>{{ channel.tool_name }}</b> -
			{% if channel.communication_help %}
				You can find helpful documentation about this communication tool <a href="{{ channel.communication_help }}">here</a>.
			{% endif %}
			{% if channel.norms %}
				Once you join the project's communication channel,
				the mentors have some additional instructions for you to follow:</p> {{ channel.norms|safe }}
			{% endif %}
			{% if channel.url %}
				{% with url_parsed=channel.url_parsed %}
				{% if url_parsed.scheme == 'irc' %}
					{% if url_parsed.netloc == 'freenode.net' or url_parsed.netloc == 'irc.freenode.net' or url_parsed.netloc == 'freenode.org' or url_parsed.netloc == 'irc.freenode.org' %}
						{% comment %}
							If someone puts a # for the channel, it shows up as a fragment. If they don't, it shows up as a path.
							The web services work whether you put a # in front of the channel or not.
						{% endcomment %}
						{% if url_parsed.fragment %}
							<a href="https://webchat.freenode.net/?channels={{ url_parsed.fragment }}" target="_blank">Follow this link</a> to join this project's public chat.
						{% else %}
							<a href="https://webchat.freenode.net/?channels={{ url_parsed.path|slice:"1:" }}" target="_blank">Follow this link</a> to join this project's public chat.
						{% endif %}
					{% elif url_parsed.netloc == 'oftc.net' or url_parsed.netloc == 'irc.oftc.net' or url_parsed.netloc == 'irc.debian.org' %}
						{% if url_parsed.fragment %}
							<a href="https://webchat.oftc.net/?channels={{ url_parsed.fragment }}" target="_blank">Follow this link</a> to join this project's public chat.
						{% else %}
							<a href="https://webchat.oftc.net/?channels={{ url_parsed.path|slice:"1:" }}" target="_blank">Follow this link</a> to join this project's public chat.
						{% endif %}
					{% else %}
						<a href="https://kiwiirc.com/nextclient/{{ url_parsed.netloc }}{{ url_parsed.path }}" target="_blank">Follow this link</a> to join this project's public chat.
					{% endif %}
					If you are asked for username, pick any username!
					You will not need a password to join this chat.
				{% else %}
					<a href="{{ channel.url }}" target="_blank">Follow this link</a> to join this project's public chat.
				{% endif %}
				{% endwith %}
			{% endif %}
			{% if channel.instructions %}
				{{ channel.instructions|safe }}
			{% endif %}
			</li>
		{% endfor %}
		</ul>
		<p>Outreachy mentors will often be in the community public chat. The project mentor's usernames are: {% for approval in project.get_approved_mentors %} {{ approval.communication_channel_username }}, {% endfor %}</p>
	{% endif %}
{% endwith %}

<h3>Who will I work with?</h3>
<p>Each Outreachy intern works remotely with one or more mentors. Most Outreachy mentors only work with one intern per round. Mentors are your guides in learning more about free and open source software, technical and non-technical skills, and will always be there when you get stuck.</p>

<p>During this internship project, you'll be interacting with a team of {{ project.get_community_size_display|lower }}.
The project has been accepting contributions from people from around the world for {{ project.get_longevity_display|lower }}.</p>

{% with approved_mentors=project.get_approved_mentors %}
	{% if approved_mentors %}
		<p>You'll be working with the following mentor{{ approved_mentors|length|pluralize }}:</p>
		{% for approval in approved_mentors %}
			{% include "home/snippet/mentor_info_for_landing.html" with approval=approval only %}
		{% endfor %}
	{% endif %}
{% endwith %}

<h2>How do I get help?</h2>

<p>The community members and the project mentor(s) are your guides to
introduce you to the project community and contribution norms. Mentors
are here to help answer your questions, encourage you, and help you when you get stuck.
</p>

<p>You should try to ask your questions on public project channels before
asking mentors or coordinators questions privately. Often you'll get an answer
faster if you ask on the public communication channels, rather than waiting for
a mentor to answer your email. Applicants often have the same questions, so asking them in
a public place helps other people.
</p>

<p>
Try to make your questions concrete "I'm having trouble installing X and I've
tried Y but I get Z error message". If you are having trouble figuring out how
to make a contribution, please state where you looked for contribution tasks.
For example, "I'm trying to make a contribution to X project. I looked in the Y
repository for issues marked newcomer-friendly, but they all seem to be claimed
by other Outreachy applicants. Can you point me to an issue that involves Z?"
</p>

<p>When you've exhausted all other avenues of communication, you can reach out
to the community's coordinator. Each FOSS community has one or more coordinators.
{% if approved_coordinator_list %}
The {{ community.name }} coordinator{{ approved_coordinator_list|length|pluralize:" is,(s) are" }}
	{% for approval in approved_coordinator_list %}
		"{{ approval.coordinator.public_name }}"
		{% if user.is_authenticated %}
			&lt;{{ approval.coordinator.account.email }}&gt;{% if not forloop.last %}, {% endif %}
		{% endif %}
	{% endfor %}
	</p>
{% else %}
	This community currently has no approved coordinator, or you have not filled out the <a href="{% url 'eligibility' %}">eligibility check</a> and contact information is hidden from you.</p>
{% endif %}

<p>If you're having trouble reaching both the mentors and the coordinators,
you can <a href="https://www.outreachy.org/contact/mentors/">contact the Outreachy mentors mailing list</a>.</p>
