<p>After the Outreachy initial application period opens on {{ current_round.initial_applications_open }}, you can promote this project to applicants by linking to the community projects list:</p>

<p><a href="{% url 'project-selection' %}#{{ community.slug }}"><pre>{{ request.scheme }}://{{ request.get_host }}{% url 'project-selection' %}#{{ community.slug }}</pre></a></p>

<p>Once you have started work with an applicant on a contribution, you should remind them to record their in-progress contributions at this URL:</p>
<p>{{ request.scheme }}://{{ request.get_host }}{{ project.get_contributions_url }}</p>
