{% for project in projects %}
	{% if project.needs_more_applicants %}
	<div class="card border border-success">
		<div class="card-header bg-success text-light">
	{% else %}
	<div class="card border">
		<div class="card-header bg-light">
	{% endif %}
			{{ community.name }} {% if project.deadline == project.CLOSED %}closed {% elif project.deadline == project.LATE %}extended deadline {% endif %}project #{{ forloop.counter }}
		</div>
		<div class="card-body">
		{% if not request.user.comrade.eligible_application and not request.user.comrade.approved_mentor_or_coordinator %}
			<p><strong>{{ project.short_title }}</strong></p>
			<div class="card-text">{% include 'home/snippet/project_hidden.html' %}</div>
		{% else %}
			<p><strong><a href="{% url 'community-landing' round_slug=current_round.slug slug=community.slug %}#{{ project.slug }}">{{ project.short_title }}</a></strong></p>
		{% endif %}

		{% if project.needs_more_applicants %}
			<p>This project has a low number of applicants, and the project mentor welcomes new applicants to contribute.</p>
		{% endif %}

		{% include "home/snippet/project_deadline.html" %}
		{% include "home/snippet/project_skills_display.html" %}
		</div>
	</div>
	<br>
{% endfor %}
