<div class="card border-info mb-3">
	<div class="card-header text-white bg-warning">Applications are currently closed</div>
	<div class="card-body">
		<p class="card-text">
		The Outreachy application period is now closed.
		You can <a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">sign up for the announcements mailing list</a>
		to get an email when applications open.
		</p>
		<p class="card-text">
		Outreachy intern selections for the {{ previous_round.official_name }}
		are announced on the <a href="/alums/">alums</a> page on {{ previous_round.internannounce }} at 4pm UTC.
		</p>
	</div>
</div>
