{% with tcs=application.get_time_commitments applicant=application.applicant final_application=applicant_contributions.0.get_application %}
	<div class="card border mt-3" id="time-commitments">
		<div class="card-header bg-secondary text-white">Time commitment information</div>
		<div class="card-body">
			<div class="card-text">
				<p><strong>{{ tcs.longest_period_free }} days out of {{ tcs.internship_total_days.days }} days free</strong> from full-time commitments during the internship.</p>
				<ul>
					<li>Applicant has {{ tcs.longest_period_free }} consecutive days free from full-time commitments during the internship period.</li>
					<li>This applicant is required to have at least {{ application.required_days_free }} consecutive days free from full-time commitments.</li>
					<li>The internship period is {{ tcs.internship_total_days.days }} days long.</li>
					<li>Applicant is free from {{ tcs.free_period_start_date }} to {{ tcs.free_period_end_date }}.</li>
				</ul>
				<h3>Details</h3>
				{% if not tcs.school_time_commitments and not tcs.volunteer_time_commitments and not tcs.employment_time_commitments and not tcs.noncollege_school_time_commitments %}
					<p>Applicant has not listed any university/college, coding school/online courses, work, or volunteer time commitments.</p>
				{% else %}
					<div id="time-commitments-timeline" style="height: 13em"{% if tcs.longest_period_free >= application.required_days_free %} class="enough-time"{% endif %}></div>
				{% endif %}
				{% if tcs.school_time_commitments %}
					<div class="container">
						<div class="row">
							<div class="col">
								<p>Location: <b>{% with location=application.applicant.get_city_country %}{% if location.0 %}{{ location.0}}, {% endif %}{% if location.1 %}{{ location.1 }}{% endif %}
									{% if not location.0 and not location.1 %}Unknown{% endif %}{% endwith %}</b>
								<br>Applicant is enrolled at <a href="{{ application.schoolinformation.university_website }}">{{ application.schoolinformation.university_name }}</a>
								<br>Degree: {{ application.schoolinformation.degree_name }}
								{% if application.schoolinformation.current_academic_calendar %}
								<br><a href="{{ application.schoolinformation.current_academic_calendar }}">Current term academic calendar</a>
								{% endif %}
								{% if application.schoolinformation.next_academic_calendar %}
								<br><a href="{{ application.schoolinformation.next_academic_calendar }}">Next term academic calendar</a>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p>School terms during the internship ({{ current_round.internstarts }} to {{ current_round.internends }}):</p>
								<ul>
									{% for term in tcs.school_time_commitments %}
										{% if term.last_term %}
										<li><strong>Student says this is their last term</strong></li>
										{% endif %}
										<li>Term name/number: {{ term.term_name }}</li>
										<li>Term dates: {{ term.start_date }} to {{ term.end_date }}</li>
									{% endfor %}
								</ul>
								{% if application.schoolinformation.school_term_updates %}
								<p>The applicant provided the following updates about their school term:</p>
								<p>{{ application.schoolinformation.school_term_updates|linebreaksbr }}</p>
								{% endif %}
							</div>
							<div class="col">
								{% if tcs.school_time_commitments %}
								{% with stats=application.schoolinformation.classmate_statistics %}
								<p>{% if stats.graduating %}Graduating{% else %}Non-graduating{% endif %} classmates with the same school website:<br>{{ stats.total_classmates }} applied, {{ stats.pending_classmates }} pending, {{ stats.acceptance_rate|floatformat }}% accepted, {{ stats.time_rejection_rate|floatformat }}% rejected for full-time commitments</p>
								{% if stats.rejected_classmates %}
									<p><span class="badge badge-warning">Warning</span> Classmates rejected for time:</p>
									<ul>
										{% for classmate in stats.rejected_classmates %}
										<li><a href="{% url 'process-application' applicant_username=classmate.applicant.account.username %}">{{ classmate.applicant.public_name }}</a></li>
										{% endfor %}
									</ul>
								{% endif %}
								{% if stats.all_classmates %}
									<p>List of classmates:</p>
									<ul>
										{% for classmate in stats.all_classmates %}
										<li><a href="{% url 'process-application' applicant_username=classmate.applicant.account.username %}">{{ classmate.applicant.public_name }}</a> ({{ classmate.get_approval_status_display }})</li>
										{% endfor %}
									</ul>
								{% endif %}
								{% endwith %}
								<p>Possible school term matches:</p>
								<ul>
									{% with terms=application.schoolinformation.find_official_terms %}
										{% for term in terms %}
										<li><a href="{{ term.school.university_website}}">{{ term.school.university_name}}</a></li>
										<ul>
											<li>{% if term.academic_calendar %}<a href="{{ term.academic_calendar }}">{% endif %}{{ term.term_name }}{% if term.academic_calendar %}</a>{% endif %}</li>
											<li>{{ term.start_date }} to {{ term.end_date }}</li>
										</ul>
										{% endfor %}
										{% if not terms %}
											<p>No matches.</p>
										{% endif %}
									{% endwith %}
								</ul>
								{% endif %}
							</div>
						</div>
					</div>
				{% else %}
					<p>Location: <b>{% with location=application.applicant.get_city_country %}{% if location.0 %}{{ location.0}}, {% endif %}{% if location.1 %}{{ location.1 }}{% endif %}
						{% if not location.0 and not location.1 %}Unknown{% endif %}{% endwith %}</b></p>
				{% endif %}
				{% if tcs.noncollege_school_time_commitments %}
					<p>Coding school or online courses time commitments:</p>
					<ul>
					{% for course in tcs.noncollege_school_time_commitments %}
						<li>Course #{{ forloop.counter }}</li>
						<ul>
							<li>{{ course.hours_per_week }} hours per week from {{ course.start_date }} to {{ course.end_date }}.</li>
							<li>Description of course work and organization offering courses: {{ course.description }}</li>
							{% if course.quit_on_acceptance %}<li>Applicant has indicated they will quit this coding school or stop their online courses if they are accepted as an Outreachy intern.</li>{% endif %}
						</ul>
					{% endfor %}
					</ul>
				{% endif %}
				{% if tcs.employment_time_commitments %}
					<p>Employment time commitments:</p>
					<ul>
					{% for period in tcs.employment_time_commitments %}
						<li>{{ period.job_title }}</li>
						<li>{{ period.hours_per_week }} hours per week from {{ period.start_date }} to {{ period.end_date }}.</li>
						{% if period.quit_on_acceptance %}<li>Applicant has indicated they will quit this job if they are accepted as an Outreachy intern.</li>{% endif %}
						<li>Job description: {{ period.job_description|linebreaksbr }}</li>
					{% endfor %}
					</ul>
				{% endif %}
				{% if tcs.contractor_time_commitment %}
					<p>Contractor time commitments:</p>
					<ul>
						<li>Typically {{ tcs.contractor_time_commitment.typical_hours }} hours per week.</li>
						{% if not tcs.contractor_time_commitment.continuing_contract_work %}
						<li>Applicant has indicated they will quit doing contract work if they are accepted as an Outreachy intern.</li>
						{% endif %}
					</ul>
				{% endif %}
				{% if tcs.volunteer_time_commitments %}
					<p>Volunteer time commitments:</p>
					<ul>
					{% for period in tcs.volunteer_time_commitments %}
						<li>{{ period.hours_per_week }} hours per week from {{ period.start_date }} to {{ period.end_date }}.</li>
						<li>Description of volunteer commitments: {{ period.description }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endwith %}
