{% if tcs.school_time_commitments %}
	<h5>School Term Information</h5>
{% endif %}
{% for term in tcs.school_time_commitments %}
	<p>{{ term.term_name }}</p>
	<ul>
		<li>Date classes start for all students: <strong>{{ term.start_date|date:"F d, Y" }}</strong></li>
		<li>Date exams end for all students: <strong>{{ term.end_date|date:"F d, Y" }}</strong></li>
	</ul>
{% endfor %}
{% if tcs.noncollege_school_time_commitments %}
	<h5>Code School or Online Courses Information</h5>
{% endif %}
{% for course in tcs.noncollege_school_time_commitments %}
	<p>Course #{{ forloop.counter }}</p>
	<ul>
		<li>Date your coding school or online course starts: <strong>{{ course.start_date|date:"F d, Y" }}</strong></li>
		<li>Date your coding school or online course ends: <strong>{{ course.end_date|date:"F d, Y" }}</strong></li>
		<li>Maximum hours per week spent on coursework, exercises, homework, and studying: <strong>{{ course.hours_per_week }}</strong></li>
		<li>Description of organization offering courses and course name and description: <strong>{{ course.description }}</strong></li>
		{% if course.quit_on_acceptance %}<li>Applicant has indicated they will quit this coding school or stop their online courses if they are accepted as an Outreachy intern.</li>{% endif %}
	</ul>
{% endfor %}

{% if tcs.employment_time_commitments %}
	<h5>Employment or Contract Information</h5>
{% endif %}
{% for contract in tcs.employment_time_commitments %}
	<p>Employment Period #{{ forloop.counter }}</p>
	<ul>
		<li>Job title: {{ contract.job_title }}</li>
		<li>Date employment starts: <strong>{{ contract.start_date|date:"F d, Y" }}</strong></li>
		<li>Date employment ends: <strong>{{ contract.end_date|date:"F d, Y" }}</strong></li>
		<li>Number of hours per week required by your employment contract: <strong>{{ contract.hours_per_week }}</strong></li>
		<li>Will you quit this employment or contract work if you are accepted for Outreachy?
			{% if contract.quit_on_acceptance %}<strong>Yes.</strong>{% else %}<strong>No.</strong>{% endif %}</li>
		<li>Job description: {{ contract.job_description }}</li>
	</ul>
{% endfor %}

{% if tcs.volunteer_time_commitments %}
	<h5>Volunteer Information</h5>
{% endif %}
{% for position in tcs.volunteer_time_commitments %}
	<p>Volunteer Period #{{ forloop.counter }}</p>
	<ul>
		<li>Date your volunteer time commitments start: <strong>{{ position.start_date|date:"F d, Y" }}</strong></li>
		<li>Date your volunteer time commitments end: <strong>{{ position.end_date|date:"F d, Y" }}</strong></li>
		<li>Maximum hours per week spent volunteering: <strong>{{ position.hours_per_week }}</strong></li>
		<li>Description of volunteer position and duties: <strong>{{ position.description }}</strong></li>
	</ul>
{% endfor %}
