WARNING: This community advertises the services of only one company.

The Outreachy parent organization, Software Freedom Conservancy, requires that all Outreachy internships further the goals of non-commericial free and open source software. Companies can advertise multiple company's services, and they can acknowledge sponsoring companies generally. However, they cannot advertise only one company.

Note that if the commmunity was added before August 2018, this rule was not in place.  Older communities will have this requirement set to false by default.  Please double check with the community coordinator that they meet this new requirement.
