{% extends "base.html" %} 

{% block title %}
Active Internships Email Contacts
{% endblock %}

{% block content %}

<h1>All Intern Emails</h1>

<p>
<textarea rows="{{ interns|length }}" class="form-control" readonly>{% for intern in interns %}
{{ intern.applicant.applicant.email_address }}{% endfor %}</textarea>
</p>

<h1>All Mentor and Coordinator Emails</h1>

<p>
<textarea rows="{{ mentors_and_coordinators|length }}" class="form-control" readonly>{% for comrade in mentors_and_coordinators %}
{{ comrade.email_address }}{% endfor %}</textarea>
</p>

<h1>Active Internships</h1>

{% for intern in interns %}
	{% ifchanged %}<h2>{{ intern.project.project_round.participating_round.internstarts|date:"F Y" }} cohort</h2><hr>{% endifchanged %}
	<p><a href="{% url 'review-interns' round_slug=intern.project.project_round.participating_round.slug %}#intern-{{ intern.applicant.applicant.account.pk }}">{{ intern.applicant.applicant.public_name }}</a></p>
{% endfor %}

{% endblock %}
