{% extends "base.html" %}

{% block title %}
Send applicant deadline reminder emails
{% endblock %}

{% block content %}
<p>You're about to send an email to the announcement mailing list about the upcoming project deadlines, and promoting projects that need more applicants.</p>

<p>Here is the email that will be sent:</p>

<div class="card">
<div class="card-body">
<pre>
{% include 'home/email/applicants-deadline-reminder.txt' %}
</pre>
</div>
</div>

<p><form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="Confirm" />
</form></p>
{% endblock %}
