{% extends "base.html" %} 

{% block title %}
Applicant Review Summary
{% endblock %}

{% block content %}
{% comment %}FIXME: create new class for applicant reviewers and deny people access if they aren't staff or an approved applicant reviewer{% endcomment %}
{% if not user.is_staff and not user.comrade.approved_reviewer %}
	<p>You are not authorized to review applications.</p>
{% else %}
	{% if pending_applications %}
		<h1>Pending Applications</h1>
		<table class="table table-striped table-bordered">
			{% include 'home/snippet/application_review_headers.html' %}
			{% for app in pending_applications %}
				{% if not app.barrierstoparticipation.applicant_should_update and not app.schoolinformation.applicant_should_update %}
					{% include 'home/snippet/application_review_rows.html' %}
				{% endif %}
			{% endfor %}
		</table>
		<h1>Pending Applications that need essay revisions</h1>
		<table class="table table-striped table-bordered">
			{% include 'home/snippet/application_review_headers.html' %}
			{% for app in pending_applications %}
				{% if app.barrierstoparticipation.applicant_should_update or app.schoolinformation.applicant_should_update %}
					{% include 'home/snippet/application_review_rows.html' %}
				{% endif %}
			{% endfor %}
		</table>
	{% endif %}

	{% if rejected_applications %}
		<h1>Rejected Applications</h1>
		<table class="table table-striped table-bordered">
			{% include 'home/snippet/application_review_headers.html' %}
			{% for app in rejected_applications %}
				{% include 'home/snippet/application_review_rows.html' %}
			{% endfor %}
		</table>
	{% endif %}

	{% if approved_applications %}
		<h1>Approved Applications</h1>
		<table class="table table-striped table-bordered">
			{% include 'home/snippet/application_review_headers.html' %}
			{% for app in approved_applications %}
				{% include 'home/snippet/application_review_rows.html' %}
			{% endfor %}
		</table>
	{% endif %}
{% endif %}
{% endblock %}
