{% extends "base.html" %}

{% block title %}

{% if participation_info %}
Call for Outreachy mentors and volunteers
{% else %}
Past community participation in Outreachy
{% endif %}

{% endblock %}

{% block content %}

{% if participation_info %}
	{% if participation_info.list_community is True %}
		<h1>Approved Outreachy Community</h1>
		<h2>{{ community.name }}</h2>

		<p>{{ community.name }} is participating in {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} internship round.</p>

		<p>The Outreachy organizers have received confirmation for funding of {{ participation_info.interns_funded }} intern(s).
		Once the application period starts, the community will be listed on the <a href="/{{ current_round.slug }}/">round home page</a>, with a link to
		the <a href="/{{ current_round.slug }}/communities/{{ community.slug }}">community landing page</a>. The landing page contains detailed information about the community and approved projects.</p>
		<p>Mentors are encouraged to submit projects for review by coordinators, and volunteers are encouraged to sign up to help Outreachy applicants or review applications.</p>

	{% elif participation_info.list_community is None %}
		<h1>Pending Outreachy Community</h1>
		<h2>{{ community.name }}</h2>
		<p>Outreachy organizers are still reviewing this community and/or its funding status, so Outreachy applicants will not be shown the community landing page yet.</p>
		<p>Mentors are encouraged to submit projects for review by coordinators, and volunteers are encouraged to sign up to help Outreachy applicants or review applications.</p>

	{% else %}
		<h1>Community Not Participating</h1>
		<h2>{{ community.name }}</h2>
		<p>Unfortunately, either the community coordinator(s) or the Outreachy organizers have determined that the community will not participate in this round of Outreachy internships.</p>

	{% endif %}

	<h2>Outreachy Organizer Actions</h2>

	{% if participation_info.reason_for_not_participating %}
		<p>The coordinator has indicated that they will not be participating in this Outreachy internship round:</p>
		<p>"{{ participation_info.reason_for_not_participating }}"</p>

	{% elif participation_info.list_community is False %}
		<p>An Outreachy organizer has rejected this community to participate in this round of Outreachy.</p>
	{% endif %}

	{% if not participation_info.reason_for_not_participating %}
		<p>Outreachy organizers should read over the information coordinators provided about participating in this round (including intern funding information) and information about new communities. Then decide whether the community should participate in this round and either accept or reject the community.</p>
		<form action="{% url 'community-status' community_slug=community.slug %}" method="post">
		    {% csrf_token %}
		    {% if participation_info.list_community is not True %}
			    <input class="btn btn-block btn-success" type="submit" name="approve" value="Approve Community" />
		    {% endif %}
		    {% if participation_info.list_community is not False %}
			    <input class="btn btn-block btn-warning" type="submit" name="reject" value="Reject Community" />
		    {% endif %}
		</form>
		<p>Round participation information</p>
		<ul>
			<li>Number of interns funded: {{ participation_info.interns_funded }}</li>
			<li>CFP text: {{ participation_info.cfp_text }}</li>
		</ul>
	{% endif %}

	<h2>Coordinator Actions</h2>

	{% if participation_info.list_community is not False and pending_projects %}
		<p>Coordinators will need to go to each pending project page, review the information, and approve the project. Projects pending coordinator approval:</p>
		<ul>
		{% for project in pending_projects %}
			<li><a href="/communities/cfp/{{ community.slug }}/{{ project.slug }}">{{ project.short_title }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if participation_info.reason_for_not_participating %}
		<p>Have you changed your mind and decided your community can participate in this round of Outreachy?</p>
		<a class="btn btn-block btn-success" href="/communities/cfp/{{ community.slug }}/participate/">Community will participate</a>
		<p>Coordinators provide information about the community for the landing page shown to applicants.</p>
		<a class="btn btn-block btn-primary" href="/communities/cfp/{{ community.slug }}/edit/">Update Community Info</a>

	{% elif participation_info.list_community is False %}
		<p>Unfortunately, the Outreachy organizers have determined your community should not participate in this round. Please <a href="/contact/">contact us</a> for more details.</p>
		<p>Coordinators provide information about the community for the landing page shown to applicants.</p>
		<a class="btn btn-block btn-primary" href="/communities/cfp/{{ community.slug }}/edit/">Update Community Info</a>

	{% else %}
		<p>Do you need to update information about your community's participation in this round (such as number of interns funded or call for volunteers text)?</p>
		<a class="btn btn-block btn-primary" href="/communities/cfp/{{ community.slug }}/participate/">Update Round Info</a>
		<p>Coordinators provide information about the community for the landing page shown to applicants.</p>
		<a class="btn btn-block btn-primary" href="/communities/cfp/{{ community.slug }}/edit/">Update Community Info</a>
		<p>Do you need to withdraw this Outreachy community from this internship round?</p>
		<a class="btn btn-block btn-danger" href="/communities/cfp/{{ community.slug }}/dont-participate/">Withdraw community</a>
	{% endif %}


	{% if participation_info.list_community is not False %}
		<h2>Submit a Project</h2>
		<a class='btn btn-block btn-primary' href="{% url 'project-participate' community.slug %}">Submit a New Project</a>
		{% if pending_projects %}
			<h2>Projects waiting for approval</h2>
			<p>The {{ community.name }} coordinator is currently reviewing the following projects to see if they are a good fit for the Outreachy program and fit with long-term community goals.</p>
			<ul>
			{% for project in pending_projects %}
				<li><a href="/communities/cfp/{{ community.slug }}/{{ project.slug }}">{{ project.short_title }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
		{% if approved_projects %}
			<h2>Approved projects</h2>
			<p>These projects have been approved to be listed on the community landing page. Mentors are encouraged to start promoting their projects as soon as the Outreachy round opens on {{ current_round.appsopen }}.</p>
			<ul>
			{% for project in approved_projects %}
				{% if project.accepting_new_applicants %}
					<li><a href="/communities/cfp/{{ community.slug }}/{{ project.slug }}">{{ project.short_title }}</a></li>
				{% else %}
					<li>(Closed to new applicants) <a href="/communities/cfp/{{ community.slug }}/{{ project.slug }}">{{ project.short_title }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		{% endif %}
		{% if rejected_projects %}
			<h2>Rejected projects</h2>
			<p>The {{ community.name }} coordinator(s) or Outreachy organizers do not think the following projects are suitable for participation in the {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round.</p>
			<ul>
			{% for project in rejected_projects %}
				<li><a href="/communities/cfp/{{ community.slug }}/{{ project.slug }}">{{ project.short_title }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
		{% comment %} Only show this to people who aren't a coordinator for this community. {% endcomment %}
	{% endif %}

	<h2>New coordinators or co-coordinators</h2>
	<p>This community currently has a coordinator. If you have been a community coordinator in the past but have not yet created an account on this site, or you would like to volunteer to be a new coordinator or a co-coordinator and you understand the <a href="/mentor/">coordinator duties</a>, you can <a href="/communities/cfp/{{ community.slug }}/coordinator-signup/">claim the community</a>.</p>

{% else %}

	<h1>{{ community.name }} in Outreachy</h1>

	<h2>Coordinator Actions</h2>
	<p>Once you are an approved coordinator for this community, you can sign the community up to participate in the current round.</p>
	<a class="btn btn-block btn-success" href="/communities/cfp/{{ community.slug }}/participate/">Community will participate</a>
	<p>If your community doesn't have funding or mentor bandwidth to participate in this round, please let us know so we can redirect mentors and volunteers to other participating Outreachy communities.</p>
	<a class="btn btn-block btn-warning" href="/communities/cfp/{{ community.slug }}/dont-participate/">Community won't participate</a>
	<p>Coordinators provide information about the community for the landing page shown to applicants.</p>
	<a class="btn btn-block btn-primary" href="/communities/cfp/{{ community.slug }}/edit/">Update Community Info</a>
	
	{% comment %} Don't show this next section to coordinators for this community who are logged in. {% endcomment %}
	<h2>New Coordinators or Co-coordinators</h2>
	<p>If you have been a community coordinator in the past but have not yet created an account on this site, or you would like to volunteer to be a new coordinator and you understand the <a href="/mentor/">coordinator duties</a>, you can sign up to be a community coordinator.</p>
	<a class="btn btn-block btn-primary" href="/communities/cfp/{{ community.slug }}/coordinator-signup/">Coordinate Community</a>
	
	<h2>Mentors and Volunteers</h2>
	<p>The coordinator(s) for {{ community.name }} have not yet indicated whether the community will be participating in {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} internship round.</p>
	<p>Sign up to be notified when the coordinator finds funding and opens the call for volunteers and mentors.</p>
	<a class="btn btn-block btn-primary" href="/communities/cfp/{{ community.slug }}/notify-me/">Notify me</a>

{% endif %}
{% endblock %}
