{% extends "base.html" %} 
{% block title %}
Call for Outreachy community coordinators, mentors, and volunteers
{% endblock %}

{% block content %}
<a href="{% url 'community-cfp' %}">Timeline, FAQ, & Participating Communities</a>
<h1>Call for Outreachy Community Participation</h1>
<p>Twice a year, Free and Open Source Software (FOSS) communities work with Outreachy organizers to offer internships to <a href="/apply/eligibility/">people from groups underrepresented in tech.</a> Interns work remotely with mentors from Free and Open Source Software (FOSS) communities on projects ranging from programming, user experience, documentation, illustration and graphical design, to data science.

<p>Outreachy interns come from a wide range of backgrounds. Outreachy is open to applicants from underrepresented groups over 18 who fit our <a href="/apply/eligibility/">intern eligibility rules</a>. Interns could be university students, code school graduates, people switching careers, or people coming back to tech after starting a family or other long absence. Most Outreachy interns already have some exposure to using FOSS and technical knowledge, but many of them have not contributed to FOSS communities before. During our six-week application period, potential interns make contributions to the participating FOSS communities, which allows mentors to accurately evaluate their skills.</p>

<p>If you have any questions about Outreachy, you can <a href="/contact/">contact Outreachy organizers or the mentors mailing list</a>.

<h2>Terms used</h2>
{% include "home/snippet/foss-terms.html" %}

<h2>Outreachy roles</h2>
<p>There are several different Outreachy roles:<p>
{% include "home/snippet/roles.html" %}

<h2>Who can participate?</h2>
<p>Outreachy welcomes participation from FOSS communities and people seeking to help out as Outreachy coordinators, mentors, and volunteers.</p>

<p>Communities participating in Outreachy must further the mission of Free and Open Source Software (FOSS), not proprietary software.<p>

{% include "home/snippet/license-requirements.html" %}

<p>FOSS communities also need to have secured funding for at least one intern ($6,500). That covers the $5,500 intern stipend, the $500 intern travel stipend, and a $500 accounting fee for Outreachy's fiscal non-profit parent organization, Software Freedom Conservancy, to handle sponsor invoicing, intern payments, and more.</p>

<h2>Timeline for {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} internship round</h2>
{% include "home/snippet/mentor-timeline.html" %}

<h2>Submit a New FOSS community for Organizer Review</h2>
<p>First, double check that the community isn't listed in the participating communities or past communities list. If the community is listed as a past Outreachy community, you can sign up to coordinate for that community. Coordinators will need to review the <a href="/mentor/#coordinator">coordinator duties</a> and <a href="/mentor/community-faq/">community requirements</a> for participating in internships. Then submit a new community for review.
</p>
<p><a class='btn btn-success' href="{% url 'community-add' %}">Submit a New Community</a></p>

{% if approved_communities or pending_communities %}
	<h2>Mentor or Volunteer for a Participating FOSS Community</h2>

	<p>If you would like to volunteer or mentor with Outreachy, review the list of participating communities below who are looking for help. Make sure to <a href="/mentor/#mentor">review the duties and expections</a> for mentors and volunteers before you sign up to help a community.</p>
{% endif %}

{% if approved_communities %}
	<p>The community coordinator has indicated these communities will participate in this Outreachy internship round, and the communities have been approved by the Outreachy organizers to participate.</p>
	<ul>
	{% for c in approved_communities %}
		<li><a href="{{ c.get_preview_url }}">{{ c.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% if pending_communities %}
	<p>The community coordinator has indicated these communities will participate in this Outreachy internship round, but Outreachy organizer approval is still pending. Mentors and volunteers are encouraged to sign up while the community is under review.  If you would like to volunteer or mentor with Outreachy, make sure to <a href="/mentor/#mentor">review the duties and expections</a> for mentors and volunteers before you sign up to help a community.</p>
	<ul>
	{% for c in pending_communities %}
		<li><a href="{{ c.get_preview_url }}">{{ c.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% if rejected_communities %}
	<h2>Not Participating FOSS Communities</h2>

	<p>Unfortunately, either the community coordinator(s) or the Outreachy organizers have determined that the following communities will not participate in this round of Outreachy internships.</p>

	<ul>
	{% for c in rejected_communities %}
		<li><a href="{{ c.get_preview_url }}">{{ c.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

<h2>Past Participating FOSS Communities</h2>
<p>In order for a community to participate in an Outreachy internship round, the community must have at least one coordinator. If you would like to volunteer to be a coordinator, you should <a href="/mentor/">understand the coordinator duties</a> and what <a href="/mentor/community-faq">information they will need to update</a> about the community.</p>

<p>Mentors and volunteers may visit the community page and sign up to receive an email notification when a coordinator signs the community up for this Outreachy round.</p>

<ul>
{% for c in not_participating_communities %}
	<li><a href="{{ c.get_preview_url }}">{{ c.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}
