{% extends "base.html" %}

{% block title %}
Call for Outreachy community coordinators, mentors, and volunteers
{% endblock %}

{% block content %}

<h1>Call for Participation in Outreachy</h1>
<p>Outreachy provides three-month internships for people from <a href="/apply/eligibility/">groups traditionally underrepresented in tech</a>. Internships run twice a year.</p>
<p>Outreachy welcomes participation from FOSS communities and people seeking to help out as Outreachy coordinators, mentors, and volunteers.</p>
<h2>Timeline for {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} internship round</h2>
    <table class=table>
	<tr><td>{{ current_round.pingnew }}</td><td>Outreachy call for participating communities opens. Mentor and volunteer sign up opens.</td></tr>
	<tr><td>{{ current_round.appsopen }}</td><td>Outreachy application period opens for applicants and most FOSS communities are listed</td></tr>
	<tr><td>{{ current_round.lateorgs }}</td><td>Last date for FOSS communities to sign up to participate</td></tr>
	<tr><td>{{ current_round.ProjectsDeadline }}</td><td>Last date to add new Outreachy internship projects</td></tr>
	<tr><td>{{ current_round.appsclose }}</td><td>Outreachy application period ends for most communities</td></tr>
	<tr><td>{{ current_round.LateApplicationsDeadline }}</td><td>Outreachy application period ends for communities with an extended deadline</td></tr>
	<tr><td>{{ current_round.InternSelectionDeadline }}</td><td>Deadline for mentors to select interns</td></tr>
	<tr><td>{{ current_round.InternConfirmationDeadline }}</td><td>FOSS communities receive confirmation from Outreachy organizers of final approved interns</td></tr>
	<tr><td>{{ current_round.internannounce }}</td><td>Interns are publicly announced at 4pm UTC on <a href="/alums/">the alums page</a></td></tr>
    </table>
<h2>Submit a New FOSS community for Organizer Review</h2>
<p>First, double check that the community isn't listed in the participating communities or past communities list. If the community is listed as a past Outreachy community, you can sign up to coordinate for that community.</p>
<p>If you want a new community to participate in Outreachy, you will need to review the <a href="/mentor/">coordinator duties</a> and <a href="/mentor/community-faq/">community requirements</a> for participating in internships. Then submit a new community for review.
</p>
<a class='btn btn-primary' href="/communities/cfp/add/">Submit a New Community</a>


<h2>Mentor or Volunteer for a Participating FOSS Community</h2>

<p>If you would like to volunteer or mentor with Outreachy, review the list of participating communities below who are looking for help. Make sure to <a href="/mentor/">review the duties and expections</a> for mentors and volunteers before you sign up to help a community.</p>

{% if approved_communities %}
	<p>The community coordinator has indicated these communities will participate in this Outreachy internship round, and the communities have been approved by the Outreachy organizers to participate.</p>
	<ul>
	{% for c in approved_communities %}
		<li><a href="/communities/cfp/{{ c.slug }}/">{{ c.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% if pending_communities %}
	<p>The community coordinator has indicated these communities will participate in this Outreachy internship round, but Outreachy organizer approval is still pending. Mentors and volunteers are encouraged to sign up while the community is under review.</p>
	<ul>
	{% for c in pending_communities %}
		<li><a href="/communities/cfp/{{ c.slug }}/">{{ c.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% if rejected_communities %}
	<h2>Not Participating FOSS Communities</h2>

	<p>Unfortunately, either the community coordinator(s) or the Outreachy organizers have determined that the following communities will not participate in this round of Outreachy internships.</p>

	<ul>
	{% for c in rejected_communities %}
		<li><a href="/communities/cfp/{{ c.slug }}/">{{ c.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

<h2>Past Participating FOSS Communities</h2>
<p>In order for a community to participate in an Outreachy internship round, the community must have at least one coordinator. If you would like to volunteer to be a coordinator, you should <a href="/mentor/">understand the coordinator duties</a> and what <a href="/mentor/community-faq">information they will need to update</a> about the community.</p>

<p>Mentors and volunteers may visit the community page and sign up to receive an email notification when a coordinator signs the community up for this Outreachy round.</p>

<ul>
{% for c in not_participating_communities %}
	<li><a href="/communities/cfp/{{ c.slug }}/">{{ c.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}
