{% extends "base.html" %}

{% block title %}
Community participation rules
{% endblock %}

{% block content %}
<h1>Outreachy community sign up</h1>

<p>Outreachy welcomes open source projects, open science projects, and non-profits who wish to mentor Outreachy interns.</p>

<p>For Outreachy, the word <b>community</b> means an open source project, open science project, or non-profit.</p>

<p>Please review the rules below before signing up your community.</p>

<h2>Questions about eligibility?</h2>

{% include 'home/snippet/community_eligibility_caveats.html' %}

<h2>Eligibility rules</h2>
<hr>

<h3>1. Mentoring communities must be open source, open science, or a non-profit</h3>

<div class="container mx-4">
	<p>Three types of <b>communities</b> can participate as an Outreachy mentoring community:</p>
	<ul>
		<li><a href="{% url 'docs-community' %}#community-types-open-source-projects">open source communities</a></li>
		<li><a href="{% url 'docs-community' %}#community-types-open-science-projects">open science communities</a></li>
		<li><a href="{% url 'docs-community' %}#community-types-non-profits">non-profit organizations</a></li>
	</ul>
</div>

<h3>2. Internship projects must be published in an open, public manner</h3>

<div class="container mx-4">
	<p>All work done by the intern must be publicly released under <a href="{% url 'docs-community' %}#licensing-requirements">an open source license</a>.</p>

</div>

<h3>3. No proprietary software</h3>

<div class="container mx-4">
	<p>Outreachy intern projects must <a href="{% url 'docs-community' %}#commercial-ties">not be tied to proprietary software.</a></p>
</div>

<br>
<h2>What you need to participate</h2>
<hr>

<h3>💵 Intern funding is required</h3>

<div class="container mx-4">
	<p>Open source communities must find <a href="{% url 'docs-community' %}#intern-funding">internship funding</a> ($6,500 USD per intern):</p>
	<ul>
		<li>Humanitarian open source communities can apply for funding from the <a href="{% url 'docs-community' %}#outreachy-general-fund" %}>Outreachy general fund.</a></li>
		<li>Open science communities can apply for funding from the <a href="{% url 'docs-community' %}#open-science-funding" %}>Outreachy general fund</a></li>
		<li>Other communities must find funding elsewhere, either from community funds or from a community sponsor.</li>
	</ul>
	<p>Once funding for one intern is secured, communities can <a href="{% url 'docs-community' %}#partial-general-funding" %}>request additional funding</a> from the Outreachy general fund.</p>
</div>

<h3>🗣️ A community coordinator is required</h3>

<div class="container mx-4">
	<p>Each community must have a coordinator. A community coordinator is an interface between Outreachy organizers and mentors. Sometimes a community coordinators is also a mentor. <a href="https://www.outreachy.org/mentor/#coordinator">Read about community coordinator duties</a>.</p>
</div>

<h3>🧑🏽‍🏫 A mentor is required</h3>

<div class="container mx-4">
	<p>Each community needs to have at least one mentor. A mentor works directly with Outreachy applicants and their intern. Having more than one person mentor an intern ("co-mentoring") is encouraged.</p>

	<p>Mentors must be willing to volunteer at least 5 hours a week during the internship period, and 5-10 hours per week during the application period. <a href="https://www.outreachy.org/mentor/#mentor">Read about mentor duties</a></p>
</div>

<h3>✍🏿 A defined project is required</h3>

<div class="container mx-4">
	<p>Each mentor defines a project for their intern to work on. Outreachy does not allow applicants to define their own project. <a href="https://www.outreachy.org/mentor/mentor-faq/#define-a-project">Read about what makes a good Outreachy project.</a></p>
</div>

<br>
<h2>Common mistakes</h2>
<hr>
<h3>Interns are not contractors</h3>

<div class="container mx-4">
	<p>Outreachy interns are <a href="{% url 'docs-community' %}#not-work-for-hire">not contractors for hire</a>. You cannot hire an Outreachy intern to work on a project you are not experienced in.</p>

	<p>You should not expect an Outreachy intern to complete their project. Outreachy's goal is to teach interns about open source, not to get a particular project completed.</p>
</div>

<h3>Interns are not employees</h3>

<div class="container mx-4">
	<p>Outreachy interns are <a href="{% url 'docs-community' %}#not-employees">not employees</a> of any Outreachy sponsor. Outreachy does not "place" interns with companies.</p>
</div>

<br>
<h2>Questions?</h2>
<hr>
<div class="container mx-4">
	<p>If you have any questions, please <a href='{% url 'contact-organizers' %}'>contact Outreachy organizers</a>.</p>
</div>


<br>
<h2>Sign up your community</h2>

<div class="container m-4">
	<p><a class='btn btn-success' href="{% url 'community-add' %}">Submit community application</a></p>
</div>

{% endblock content %}
