{% extends "base.html" %}

{% block content %}
<h1>Outreachy Community Member Information</h1>

<p><a href="{% url 'password_change' %}" class="btn btn-secondary">Change password</a></p>

{% include "home/snippet/privacy_policy.html" %}

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
    <h2>Required Information</h2>
    {% for field in form.visible_fields %}
    <div class="form-group">
	{{ field.errors }}
	{% if 'photo' in field.label_tag %}
	<h2>Optional Information</h2>
	{% elif 'Code of Conduct' in field.label_tag %}
	{{ codeofconduct|safe }}
	<hr>
	<h2>Agree to the Outreachy Code of Conduct</h2>
	{% endif %}
	{{ field.label_tag }}
	{{ field }}
	{% if field.help_text %}
	<div class="text-muted">{{ field.help_text|safe }}</div>
	{% endif %}
    </div>
    {% endfor %}
    {% for hidden in form.hidden_fields %}
	{{ hidden }}
    {% endfor %}
<input type="submit" class="btn btn-block btn-primary" value="Save" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
