{% extends "base.html" %}

{% block title %}
Send contributor deadline reminder emails
{% endblock %}

{% block content %}
<p>You're about to send an email to all Outreachy applicants who have recorded a contribution about the end of the Outreachy application period.</p>

<p>The email will be sent to {{ contributors|length }} applicants.</p>

<p>Here how the email will look to each applicant:</p>

{% for c in contributors %}
{% with applications_close_local=c.applications_close_local applications_late_local=c.applications_late_local passed_deadlines=c.get_passed_projects_not_applied_to timezone=c.timezone comrade=c %}
<div class="card">
<div class="card-body">
<pre>
To: {{ comrade.email_address }}
Subject: {% include 'home/email/contributors_application_period_ended.txt' %}
</pre>
</div>
</div>
{% endwith %}
{% endfor %}

<p><form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="Confirm" />
</form></p>
{% endblock %}
