{% extends "base.html" %} 
{% load approval_status %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

{% if groups %}
<p>You have actions you need to take. <a href="#actions">See all actions.</a></p>
{% endif %}

{% include "home/snippet/eligibility_prompts.html" %}

{% if request.user.is_staff %}
<h1>Email Subscriptions</h1>

<p>
Unfortunately, because Outreachy is running Mailman 2.0, we can't automatically
subscribe coordinators and mentors to the mailing lists with Django.
It's a manual process to subscribe approved mentors and approved coordinators
for communities that are approved to participate in a round.
</p>

<p>
Outreachy organizers can see the <a href="{% url 'trusted-volunteers-list' %}">full list of email addresses</a>
for all approved community coordinators and mentors with approved projects.
Then subscribe them using the following links (anyone already subscribed won't be subscribed again):
</p>
<ul>
	<li><a href="https://lists.outreachy.org/cgi-bin/mailman/admin/mentors/members/add">mentors mailing list</a></li>
	<li><a href="https://lists.outreachy.org/cgi-bin/mailman/admin/announce/members/add">announce mailing list</a></li>
</ul>

<h1>Email Reminders</h1>

<p>Two weeks before the application deadline, project mentors are either overloaded with applicants,
or don't have enough applicants. Send a reminder email to either close their project to new applicants,
or extend their project deadline by a week (and/or mark their project as needing more applicants).</p>

<p><a href="{% url 'email-deadline-review' %}"><input class="btn btn-success" value="Email Deadline Reminder" /></a>

<h2>Community progress</h2>
{% if pending_participations or approved_participations %}
	<table class="table table-striped table-bordered">
		<thread class="thread-dark">
		<tr>
			<th scope="col">Community</th>
			<th scope="col">Community Approved?</th>
			<th scope="col">Project</th>
			<th scope="col">Project Approved?</th>
			<th scope="col">Number Applicants With Contribution</th>
			<th scope="col">Number Final Applications</th>
			<th scope="col">Number Withdrawn Final Applications</th>
			<th scope="col">Number Applicants For GSoC</th>
		</tr>
		</thread>
	{% for p in participations %}
		{% if not p.project_set.all %}
				<tr>
					<td>{% if p not in approved_participations %}{{ p.community.name }}{% else %}<a href="{% url 'community-applicants' round_slug=current_round.slug community_slug=p.community.slug %}">{{ p.community.name }}{% endif %}</a></td>
					<td>{% if p in approved_participations %}Approved{% elif p in pending_participations %}Pending{% else %}Rejected{% endif %}</td>
					<td>No Projects</td>
					<td> - </td>
					<td> - </td>
					<td> - </td>
					<td> - </td>
					<td> - </td>
				</tr>
		{% endif %}
		{% for project in p.project_set.all %}
			{% with applicants=project.get_applicants_and_contributions_list %}
				<tr>
					<td>{% if p not in approved_participations %}{{ p.community.name }}{% else %}<a href="{% url 'community-applicants' round_slug=current_round.slug community_slug=p.community.slug %}">{{ p.community.name }}{% endif %}</a></td>
					<td>{% if p in approved_participations %}Approved{% else %}Pending{% endif %}</td>
					<td>{% if p in approved_participations and project.approval_status == project.APPROVED %}<a href="{% url 'project-applicants' round_slug=current_round.slug community_slug=p.community.slug project_slug=project.slug %}">{{ project.short_title }}</a>{% else %}{{ project.short_title }}{% endif %}</td>
					<td>{{ project.get_approval_status_display }}</td>
				{% if not applicants %}
					<td> - </td>
					<td> - </td>
					<td> - </td>
					<td> - </td>
				{% else %}
					<td>{% if project.approval_status == project.APPROVED %}{{ applicants|length }}{% else %} - {% endif %}</td>
					<td>{% if project.approval_status == project.APPROVED %}{{ project.get_applications|length }}{% else %} - {% endif %}</td>
					<td>{% if project.approval_status == project.APPROVED %}{{ project.get_withdrawn_applications|length }}{% else %} - {% endif %}</td>
					<td>{% if project.approval_status == project.APPROVED %}{{ project.get_gsoc_applications|length }}{% else %} - {% endif %}</td>
				{% endif %}
				</tr>
			{% endwith %}
		{% endfor %}
	{% endfor %}
	</table>
<br>
{% endif %}

{% endif %}

{% if groups %}
	<h1 id="actions">Dashboard</h1>
{% endif %}
{% for status, status_group in groups %}
<h2>{{ status|title }}</h2>
{% for label, group in status_group %}
<h3>{{ label|title }}</h3>
	{% for obj in group %}
	<div class="card mb-3">
	<div class="card-body">
		<p class="card-text"><a href="{{ obj.get_preview_url }}">{{ obj }}</a></p>
		<div class="mx-auto mr-sm-0" role="group" aria-label="Actions">
		{% if obj.approval_status == obj.APPROVED %}
			{% if obj|is_submitter:request.user %}
			<a href="{{ obj.get_withdraw_url }}" class="btn btn-warning">Withdraw</a>
			{% endif %}
			{% if obj|is_approver:request.user %}
			<a href="{{ obj.get_reject_url }}" class="btn btn-danger">Reject</a>
			{% endif %}
		{% elif obj.approval_status == obj.PENDING %}
			{% if obj|is_approver:request.user %}
			<a href="{{ obj.get_preview_url }}" class="btn btn-primary">Review</a>
			{% endif %}
			{% if obj|is_submitter:request.user %}
			<a href="{{ obj.get_withdraw_url }}" class="btn btn-warning">Withdraw</a>
			{% endif %}
		{% elif obj.approval_status == obj.WITHDRAWN %}
			{% if obj|is_submitter:request.user %}
			<a href="{{ obj.get_submit_url }}" class="btn btn-success">Resubmit</a>
			{% endif %}
		{% elif obj.approval_status == obj.REJECTED %}
			{% if obj|is_approver:request.user %}
			<a href="{{ obj.get_approve_url }}" class="btn btn-success">Approve</a>
			{% endif %}
		{% endif %}
		</div>
	</div>
	</div>
	{% endfor %}
{% endfor %}
{% endfor %}
{% endblock %}
