{% extends "base.html" %} 

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<p>Hi, {{ request.user.comrade.public_name|default:request.user.username }}!</p>

<p><a href="{% url 'account' %}"><button type="button" class="btn btn-info">Edit Profile</button></a><a href="{% url 'logout' %}"><button type="button" class="btn btn-secondary ml-3">Log out</button></a></p>

{% if sections %}
<p>You have actions you need to take. <a href="#actions">See all actions.</a></p>
{% endif %}

{% with intern_selection=request.user.comrade.get_intern_selection project_contributions=request.user.comrade.get_projects_contributed_to project_applications=request.user.comrade.get_projects_applied_to %}
	{% if not current_round.has_intern_announcement_deadline_passed %}
		{% if not request.user.comrade.get_approved_coordinator_communities and not request.user.comrade.get_editable_mentored_projects and not request.user.is_staff and not request.user.comrade.approved_reviewer %}
			{% include "home/snippet/eligibility_prompts.html" %}
		{% endif %}
	{% elif intern_selection %}
		{% with round=intern_selection.project.project_round.participating_round %}
			<p>Congratulations, you've been selected as an intern for the {{ round.internstarts|date:"F Y" }} to {{ round.internends|date:"F Y" }} Outreachy internship round. You'll be interning with {{ intern_selection.community_name }} on the project "{{ intern_selection.project_name }}". Your mentor(s) are {{ intern_selection.mentor_names }}.</p>
			{% if not intern_selection.intern_contract %}
				<p>Please sign the intern agreement before {{ round.intern_agreement_deadline|date:"F d, Y" }} to acknowledge you have accepted your internship.</p>
				<p><a href="{% url 'intern-agreement' round_slug=round.slug community_slug=intern_selection.project.project_round.community.slug project_slug=intern_selection.project.slug %}"><input class="btn btn-success" value="Sign Intern Agreement" /></a>
			{% else %}
				<p>You signed the intern agreement on {{ intern_selection.intern_contract.date_signed|date:"F d, Y" }}.</p>
			{% endif %}
		{% endwith %}
	{% elif request.user.comrade.get_approved_coordinator_communities or request.user.comrade.get_approved_mentored_projects %}
		<h1>Intern Announcement</h1>
		<p>The Outreachy {{ current_round.internstarts|date:"F Y" }} to {{ current_round.internends|date:"F Y" }} interns have been <a href="/alums/">announced</a>! Thank you for participating as a mentor or coordinator.</p>
		{% if request.user.comrade.get_approved_coordinator_communities %}
		{% include "home/snippet/coordinator_reminder_prompt.html" %}
		{% endif %}
	{% else %}
		<p>We're sorry to say that you were not selected as an intern for the {{ current_round.internstarts|date:"F Y" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round. The full list of accepted interns can be viewed <a href="/alums/">here</a>.</p>
		<p>We encourage you to sign up for the
		<a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">announcements mailing list</a>
		to get an email when the next round opens.</p>
	{% endif %}
{% endwith %}

{% if request.user.is_staff %}
	{% include "home/snippet/dashboard_staff.html" %}
{% elif request.user.comrade.approved_reviewer %}
	{% include 'home/snippet/dashboard_application_summary.html' %}
{% endif %}

{% if internship %}
	{% include "home/snippet/dashboard_intern.html" %}
{% endif %}

{% if mentor_relationships %}
	{% include "home/snippet/dashboard_mentor.html" %}
{% endif %}

{% with mentored_projects=request.user.comrade.get_editable_mentored_projects %}
	{% if mentored_projects %}
		{% include "home/snippet/dashboard_mentor_projects.html" %}
	{% endif %}
{% endwith %}

{% if sections %}
<h1>Dashboard</h1>
{% endif %}
{% for template_name, context in sections %}
<div>
{% include template_name with request=request section=context only %}
</div>
{% endfor %}
{% endblock %}
