{% extends "base.html" %}

{% block title %}
Are you eligible to apply to Outreachy?
{% endblock %}

{% block content %}
<h1>Outreachy Eligibility Checking</h1>

{% include "home/snippet/privacy_policy.html" %}

<h2>University or College Information</h2>

<p>
Tell us about the university or college you will attend from <b>today until {{ current_round.sfc_payment_last_date|date:"F d, Y" }}</b>.
</p>

<p><b>University strike</b></p>

<p>Some universities may be on strike. It may be unclear when classes will start again. There may not be a current or future academic calendar that is released.</p>

<p>If your university in on strike, use the academic calendar link from the last year. After the university name, include the phrase "(on strike)".</p>

<p><b>Uncertain term dates</b></p>

<p>Some universities may not have released the schedule for future terms. In this case, use the past academic calendar link for the question about 'current academic calendar link'.</p>

<p><b>Applying to universities</b></p>

<p>
If you are applying to universities and colleges, Outreachy needs to know which school you are likely to be accepted for. You can update your initial application once you find out what school you are accepted to. For now, use the academic calendar from the university you are most likely to be accepted at.
</p>

<p><b>Multiple universities</b></p>

<p>
If you will be attending multiple schools, put both school names in the University name. E.g. "University of the World and Graduate University of Global Technology". For the academic calendar links, use the academic calendar of the university you will attend for the longest time during the internship. On the next page, indicate which university you will be attending for each school term.
</p>

<p><b>Graduating students</b></p>

<p>
If you are or have already graduated from school, Outreachy needs to know which school you graduated from.
In this case, fill in the past and current academic calendar links to be links to the calendar for the last two terms you attended school.
</p>

<p><b>Masters and PhD students</b></p>

<p>
If you are a masters or PhD student working on your thesis, fill out the information about the university or college that will be awarding your degree.
</p>

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<hr>

<form action="" method="post">{% csrf_token %}
{{ wizard.form.media }}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {% include "bootstrap_card_form.html" with form=form only %}
	<hr>
    {% endfor %}
{% else %}
    {% include "bootstrap_card_form.html" with form=wizard.form only %}
{% endif %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.first }}">First step</button>
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}">Previous step</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="Next step"/>
</form>

{% endblock %}
