{% extends "base.html" %}

{% block title %}
Are you eligible to apply to Outreachy?
{% endblock %}

{% block content %}
<h1>Outreachy Eligibility Checking</h1>

{% include "home/snippet/privacy_policy.html" %}

<h2>Coding School & Online Courses</h2>
<p>
Tell us about your schedule:
</p>
<ul>
	<li>What dates will you go to coding school?</li>
	<li>What dates will you go to online courses?</li>
</ul>

<p>
Include your schedule from <b>today until {{ current_round.sfc_payment_last_date|date:"F d, Y" }}</b>.
</p>

<p>If your coding school will end soon, please still fill out this form.</p>

<p>If your coding school does not have courses, fill in your coding school dates in one "course".</p>

<p>If your coding school has breaks, fill in multiple "courses".</p>

<p>Leave unused "courses" blank.</p>

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<hr>

<form action="" method="post">{% csrf_token %}
{{ wizard.form.media }}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
	<div class="card border-info mb-3">
		<div class="card-header text-white bg-info">Course #{{ forloop.counter }}</div>
	</div>
	{% for field in form.visible_fields %}
		{% if 'Quit' in field.label_tag %}
			<div class="form-group card">
				<div class = "card-body">
					<p>
					{{ field.errors }}
					{{ field }}
					{{ field.help_text }}
					</p>
				</div>
			</div>
		{% else %}
			<div class="form-group card">
				{{ field.errors }}
				<div class = "card-header">
					{{ field.label_tag|safe }}
				</div>
				<div class = "card-body">
					{{ field }}
				</div>
				{% if field.help_text %}
				<div class="card-footer bg-white">{{ field.help_text|safe }}</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
    {% endfor %}
{% else %}
    {% include "bootstrap_card_form.html" with form=wizard.form only %}
{% endif %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.first }}">First step</button>
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}">Previous step</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="Next step"/>
</form>

{% endblock %}
