{% extends "base.html" %}

{% block title %}
Are you eligible to apply to Outreachy?
{% endblock %}

{% block content %}
<h1>Outreachy Eligibility Checking</h1>
<img src="https://www.outreachy.org/media/images/bot-eligibility.original.png" class="float-right">
<p>
Welcome to Outreachy! We're excited to have you apply for our internships.
Before you get started, we need to double check whether you are eligible for the current round of Outreachy internships.
</p>
<p>
Please fill out the following forms to check your eligibility for the Outreachy internships.
You'll need to fill out this form for each round you apply for.
</p>
<p>
University and college students who are applying will need to provide information about their school calendar for their current and next terms.
Please have that information before starting this process.
</p>
<p>The Outreachy internships will run from {{ current_round.internstarts|date:"F d, Y" }} to {{ current_round.internends|date:"F d, Y" }}.
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<hr>

<form action="" method="post">{% csrf_token %}
{{ wizard.form.media }}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {% include "bootstrap_form.html" with form=form only %}
	<hr>
    {% endfor %}
{% else %}
    {% include "bootstrap_form.html" with form=wizard.form only %}
{% endif %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.first }}">First step</button>
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}">Previous step</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="Next step"/>
</form>

{% endblock %}
