{% extends "base.html" %}

{% block title %}
Are you eligible to apply to Outreachy?
{% endblock %}

{% block content %}
<h1>Outreachy Eligibility Checking</h1>

{% include "home/snippet/privacy_policy.html" %}

<h2>University or College Information</h2>

<p>
Tell us about the university or college you will attend from <b>today until {{ current_round.sfc_payment_last_date|date:"F d, Y" }}</b>.
</p>

<p>
If you are a masters or PhD student working on your thesis, fill out the information about the university or college that will be awarding your degree.
</p>

<p>
If you will be attending multiple schools, put both school names in the University name. On the next page, indicate which university you will be at for each school term.
</p>

<p>
If you are applying to universities and colleges, Outreachy needs to know your approximate school term dates. You can update your initial application if you find out what school you are accepted to. For now, use information from the university you are most likely to be accepted at.
</p>

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<hr>

<form action="" method="post">{% csrf_token %}
{{ wizard.form.media }}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {% include "bootstrap_card_form.html" with form=form only %}
	<hr>
    {% endfor %}
{% else %}
    {% include "bootstrap_card_form.html" with form=wizard.form only %}
{% endif %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.first }}">First step</button>
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}">Previous step</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="Next step"/>
</form>

{% endblock %}
