{% extends "base.html" %}

{% block title %}
Outreachy Initial Application
{% endblock %}

{% block content %}
<h1>Outreachy Initial Application</h1>

{% include "home/snippet/privacy_policy.html" %}

<h2>Race and Ethnicity</h2>
<p>
The following question applies to U.S. citizens and permanent residents.
</p>
<p>
The answer to this question will only be seen by the <a href="{% url 'contact-us' %}">Outreachy organizers</a>.
It will not be shared with mentors, coordinators, or other applicants.
</p>
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<hr>

<form action="" method="post">{% csrf_token %}
{{ wizard.form.media }}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {% include "bootstrap_form.html" with form=form only %}
	<hr>
    {% endfor %}
{% else %}
        {% include "bootstrap_card_form.html" with form=wizard.form only %}
{% endif %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.first }}">First step</button>
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}">Previous step</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="Next step"/>
</form>

{% endblock %}
