{% extends "base.html" %}

{% block title %}
Are you eligible to apply to Outreachy?
{% endblock %}

{% block content %}
<h1>Outreachy Eligibility Checking</h1>

{% include "home/snippet/privacy_policy.html" %}

<p><b>Please enter information your current school term and your next two school terms.</b></p>

<p>Common questions about school term dates:</p>
<ul>
	<li><strong>A school term lasts from the first possible day of classes for ALL students until the last possible exam date for ALL students.</strong></li>
	<li>Outreachy cannot accept university letters of late enrollment.</li>
	<li>The last school term day must be the last possible exam date, and it cannot be the day you think will be your last exam.</li>
	<li>If you don't know the dates for future terms, use the dates for those terms in the previous school year.</li>
	<li>If one of these school terms is your last term before graduation, fill out the information for that school term and check 'This is the last term in my degree'. If you will continue onto another degree after your graduation, make sure to fill in the remaining school terms.</li>
</ul>
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<hr>

<form action="" method="post">{% csrf_token %}
{{ wizard.form.media }}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {{ wizard.form.non_form_errors }}
    {% for form in wizard.form.forms %}
	<div class="card border-info mb-3">
		{% if forloop.counter == 1 %}
		<div class="card-header text-white bg-info">Current Term</div>
		{% elif forloop.counter == 2 %}
		<div class="card-header text-white bg-info">Next Term</div>
		{% else %}
		<div class="card-header text-white bg-info">Following Term</div>
		{% endif %}
	</div>
	{% for field in form.visible_fields %}
		{% if 'Last term:' in field.label_tag %}
			<div class="form-group card">
				<div class = "card-header">
					Are you graduating after this term?
				</div>
				<div class = "card-body">
					<p>
					{{ field.errors }}
					{{ field }}
					{{ field.help_text }}
					</p>
				</div>
			</div>
		{% else %}
			<div class="form-group card">
				{{ field.errors }}
				<div class = "card-header">
					{{ field.label_tag|safe }}
				</div>	    
				<div class = "card-body">
					{{ field }}
				</div>
				{% if field.help_text %}
				<div class="card-footer bg-white">{{ field.help_text|safe }}</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
    {% endfor %}
{% else %}
    {% include "bootstrap_card_form.html" with form=wizard.form only %}
{% endif %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.first }}">First step</button>
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}">Previous step</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="Next step"/>
</form>

{% endblock %}
