{% extends "base.html" %}

{% block title %}
Outreachy Initial Application
{% endblock %}

{% block content %}
<h1>Outreachy Initial Application</h1>
<p>
Outreachy welcomes applicants who are newcomers to free and open source software (FOSS).
We also welcome applicants who have made contributions to FOSS, and want to take the next step in their FOSS career.
</p>
<p>
Outreachy asks the following questions to see if we are meeting our goal
of promoting free software to people from groups under-represented in the technology industry.
</p>
<p>
The answer to these questions will only be seen by the <a href="/contact/">Outreachy organizers</a>.
It will not be shared with mentors, coordinators, or other applicants.
Please be completely honest in your answers.
</p>

{% include "home/snippet/privacy_policy.html" %}

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<hr>

<form action="" method="post">{% csrf_token %}
{{ wizard.form.media }}
{{ wizard.management_form }}
{% for field in form.visible_fields %}
    {% if 'outreachy' in field.label_tag or 'ave you contributed' in field.label_tag or 'ave you ever been' in field.label_tag %}
	    <div class="form-group card">
		    {{ field.errors }}
		    <div class = "card-header">
			    {{ field.label_tag|safe }}
		    </div>	    
		    <div class = "card-body">
			    {{ field }}
		    </div>
		    {% if field.help_text %}
			    <div class="card-footer bg-white">{{ field.help_text|safe }}</div>
		    {% endif %}
	    </div>
    {% elif 'Programming:' in field.label_tag %}
	    <div class="form-group card">
		    <div class = "card-header">
			    <p>In the past, how have you contributed to free and open source software? Check all that apply. Please record both paid and unpaid contributions. Exclude contributions that were made as part of a prior Outreachy application period.</p>
		    </div>
		    <div class = "card-body">
			    <p>
			    {{ field.errors }}
			    {{ field.label_tag }}
			    {{ field }}
			    </p>
    {% else %}
		    <p>
		    {{ field.errors }}
		    {{ field.label_tag }}
		    {{ field }}
		    </p>
    {% endif %} 
    {% if 'accessibility' in field.label_tag %}
	    </div>
    </div>
    {% endif %} 
{% endfor %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.first }}">First step</button>
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}">Previous step</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="Next step"/>
</form>

{% endblock %}
