{% extends "base.html" %}

{% block title %}
Outreachy general funding application
{% endblock %}

{% block content %}

<form action="" method="post">
	<h1>Humanitarian open source community</h1>

	<p>If your humanitarian open source community is applying for Outreachy general funding, please fill out the fields below.</p>

	<p>Otherwise, please leave the form blank.</p>


	{% csrf_token %}
	{{ form.media }}
	{{ form.non_field_errors }}
	{% for field in form.visible_fields %}
		<div class="form-group card">
			{{ field.errors }}
			<div class="card-header">
				{{ field.label_tag }}
			</div>
			<div class="card-body">
				{{ field }}
			</div>
			{% if field.help_text %}
			<div class="card-footer bg-white">{{ field.help_text|safe }}</div>
			{% endif %}
		</div>
	{% endfor %}
	<input class="btn btn-success" type="submit" value="Submit" />
</form>

{% endblock %}
