{% extends "base.html" %} 
{% load approval_status %}

{% block title %}
Initial Feedback for {{ current_round.official_name }}
{% endblock %}

{% block content %}
{% if request.user.is_staff %}
	{% with interns=current_round.get_approved_intern_selections %}
		{% for intern_selection in interns %}
			{% with intern_feedback=intern_selection.initialinternfeedbackv2 feedback_due=intern_selection.initial_feedback_due mentor_feedback=intern_selection.initialmentorfeedbackv2 mentor_feedback_status=intern_selection.get_mentor_initial_feedback_status payment_status=intern_selection.initial_payment_status queue_url_slug='queue-initial-feedback' dequeue_url_slug='dequeue-initial-feedback' %}
			<div class="container my-4" id="anchor-{{ intern_selection.pk }}">
				<h2><a href="#anchor-{{ intern_selection.pk }}">{{ intern_selection.community_name }} - {{ intern_selection.intern_name }}</a></h2>

					{% include 'home/snippet/feedback_summary_table.html' %}
					<div class="collapse" id="collapse-{{ intern_selection.pk }}">
						<table class="table table-striped table-bordered">
							<thread class="thread-dark">
							<tr>
								<th scope="col" class="col-md-1">Feedback from mentor:</th>
								<th scope="col" class="col-md-1">Feedback from intern:</th>
								<th scope="col" class="col-md-3"></th>
							</tr>
							</thread>
							<tr>
								<td>Mentors - {{ intern_selection.community_name }}</td>
								<td>Intern - {{ intern_selection.intern_name }}</td>
								<td></td>
							</tr>

							<tr>
								<td colspan="3"><b>1. Clearing up doubts</b></td>
							</tr>
							<tr>
								<td>
									{% if intern_selection.initialmentorfeedbackv2 %}
										{% if intern_selection.initialmentorfeedbackv2.mentor_answers_questions %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								</td>
								<td>
									{% if intern_selection.initialinternfeedbackv2 %}
										{% if intern_selection.initialinternfeedbackv2.mentor_answers_questions %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								<td>Do mentor(s) answer the intern's questions within 10 hours?</td>
							</tr>
							<tr>
								<td>
									{% if intern_selection.initialmentorfeedbackv2 %}
										{% if intern_selection.initialmentorfeedbackv2.intern_asks_questions %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								</td>
								<td>
									{% if intern_selection.initialinternfeedbackv2 %}
										{% if intern_selection.initialinternfeedbackv2.intern_asks_questions %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								<td>Does the intern ask mentor(s) questions when stuck for more than 1 to 3 hours?</td>
							</tr>
							<tr>
								<td>
									{% if intern_selection.initialmentorfeedbackv2 %}
										{% if intern_selection.initialmentorfeedbackv2.mentor_support_when_stuck %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								</td>
								<td>
									{% if intern_selection.initialinternfeedbackv2 %}
										{% if intern_selection.initialinternfeedbackv2.mentor_support_when_stuck %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								<td>Do mentor(s) offer more support if the intern is stuck?</td>
							</tr>
							<tr>
								<td colspan="3"><b>2. Intern and mentor meetings</b></td>
							</tr>
							<tr>
								<td>
									{% if intern_selection.initialmentorfeedbackv2 %}
										{% if intern_selection.initialmentorfeedbackv2.meets_privately %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								</td>
								<td>
									{% if intern_selection.initialinternfeedbackv2 %}
										{% if intern_selection.initialinternfeedbackv2.meets_privately %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								<td>Do mentor(s) meet privately with the intern?</td>
							</tr>
							<tr>
								<td>
									{% if intern_selection.initialmentorfeedbackv2 %}
										{% if intern_selection.initialmentorfeedbackv2.meets_over_phone_or_video_chat %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								</td>
								<td>
									{% if intern_selection.initialinternfeedbackv2 %}
										{% if intern_selection.initialinternfeedbackv2.meets_over_phone_or_video_chat %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								<td>Do mentor(s) meet with the intern over phone or video chat?</td>
							</tr>
							<tr>
								<td>
									{% if intern_selection.initialmentorfeedbackv2 %}
										{% if intern_selection.initialmentorfeedbackv2.intern_missed_meetings %}
											<span class="badge badge-warning">Yes</span>
										{% else %}
											<span class="badge badge-success">No</span>
										{% endif %}
									{% endif %}
								</td>
								<td>
									{% if intern_selection.initialinternfeedbackv2 %}
										{% if intern_selection.initialinternfeedbackv2.intern_missed_meetings %}
											<span class="badge badge-warning">Yes</span>
										{% else %}
											<span class="badge badge-success">No</span>
										{% endif %}
									{% endif %}
								<td>Has the intern recently missed more than 2 meetings?</td>
							</tr>
							<tr>
								<td colspan="3"><b>3. Tracking project progress</b></td>
							</tr>
							<tr>
								<td>
									{% if intern_selection.initialmentorfeedbackv2 %}
										{% if intern_selection.initialmentorfeedbackv2.talk_about_project_progress %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								</td>
								<td>
									{% if intern_selection.initialinternfeedbackv2 %}
										{% if intern_selection.initialinternfeedbackv2.talk_about_project_progress %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								<td>Do mentor(s) and the intern talk about project progress at least 3 days a week?</td>
							</tr>
							<tr>
								<td>
									{% if intern_selection.initialmentorfeedbackv2 %}
										{% if intern_selection.initialmentorfeedbackv2.blog_created %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								</td>
								<td>
									{% if intern_selection.initialinternfeedbackv2 %}
										{% if intern_selection.initialinternfeedbackv2.blog_created %}
											<span class="badge badge-success">Yes</span>
										{% else %}
											<span class="badge badge-warning">No</span>
										{% endif %}
									{% endif %}
								<td>Has the intern created a blog?</td>
							</tr>
							<tr>
								<td colspan="3"><b>4. Mentor support</b></td>
							</tr>

							{% if intern_feedback_status == intern_selection.SUBMITTED %}<tr><td colspan="3"><p>Intern's report on mentor support:</p><p>{{ intern_selection.initialinternfeedbackv2.mentor_support|linebreaksbr }}</p></td></tr>{% endif %}

							{% if intern_selection.initialmentorfeedbackv2 %}<tr><td colspan="3"><p>Mentor's report on mentor support:</p><p>{{ intern_selection.initialmentorfeedbackv2.mentors_report|linebreaksbr }}</p></td></tr>{% endif %}

							<tr>
								<td colspan="3"><b>5. Intern progress</b></td>
							</tr>

							{% if intern_selection.initialinternfeedbackv2.time_comments %}<tr><td colspan="3"><p>Intern's comments on their time commitments:</p><p>{{ intern_selection.initialinternfeedbackv2.time_comments }}</p></td></tr>{% endif %}
							{% if intern_selection.initialmentorfeedbackv2 %}<tr><td colspan="3"><p>Mentor's report on intern progress:</p><p>{{ intern_selection.initialmentorfeedbackv2.progress_report }}</p></td></tr>{% endif %}
							{% if intern_selection.initialinternfeedbackv2 %}<tr><td colspan="3"><p>Intern's report on intern progress:</p><p>{{ intern_selection.initialinternfeedbackv2.progress_report }}</p></td></tr>{% endif %}
							<tr>
								<td>{% if intern_selection.initialmentorfeedbackv2 %}{{ intern_selection.initialmentorfeedbackv2.last_contact }}{% endif %}</td>
								<td>{% if intern_selection.initialinternfeedbackv2 %}{{ intern_selection.initialinternfeedbackv2.last_contact }}{% endif %}</td>
								<td>Date intern and mentor were last in contact</td>
							</tr>
							<tr>
								<td>{% if intern_selection.initialmentorfeedbackv2 %}{{ intern_selection.initialmentorfeedbackv2.get_submission_date }}{% endif %}</td>
								<td>{% if intern_selection.initialinternfeedbackv2 %}{{ intern_selection.initialinternfeedbackv2.get_submission_date }}{% endif %}</td>
								<td>Date latest feedback was submitted</td>
							</tr>
						</table>

						{% include 'home/snippet/feedback_summary_table.html' %}

						{% include 'home/snippet/feedback_staff_actions.html' %}

					</div>
					<p><button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-{{ intern_selection.pk }}" aria-expanded="false" aria-controls="collapse-{{ intern_selection.pk }}">Show/hide feedback details</button></p>
				{% endwith %}
			</div>
		{% endfor %}
	{% endwith %}
{% endif %}
{% endblock %}
