{% extends "base.html" %}

{% block title %}
Mentor {{ community.name }} Interns
{% endblock %}

{% block content %}

{% if not intern_selection %}
	<h1>Mentor an Outreachy Intern</h1>
	<p>You are selecting the applicant, {{ applicant.applicant.public_name }}, as an intern for the {{ community.name }} project "{{ project.short_title }}".</p>
{% else %}
	<h1>Co-mentor an Outreachy Intern</h1>
	<p>You are agreeing to co-mentor the applicant, {{ applicant.applicant.public_name }}, as an intern for the {{ community.name }} project "{{ project.short_title }}".</p>
{% endif %}

{% include "home/snippet/privacy_policy.html" %}

<form method="post" action="">
{% csrf_token %}
	{% for field in form.visible_fields %}
		<div class="form-group">
			{{ field.errors }}
			{% if 'rating' in field.label_tag %}
				<h2>Applicant Rating</h2>
				{% if not intern_selection %}
					<p>Please provide a rating for the contributions {{ applicant.applicant.public_name }} made during the Outreachy application process.</p>
				{% else %}
					<p>Your co-mentor provided the following rating for the contributions {{ applicant.applicant.public_name }} made during the Outreachy application process. You may update it if necessary.</p>
				{% endif %}
			{% elif 'Legal' in field.label_tag %}
				<h2>Mentor Agreement</h2>
				<p>By filling out this form, you are agreeing to mentor this intern. You understand that if a co-mentor for this project terminates their mentorship, you may be solely responsible for mentoring this intern, or finding a new mentor.</p>
				<p>You agree to mentor for approximately 5 hours a week during the internship period from {{ current_round.internstarts }} to {{ current_round.internends }}. Outreachy internships may be extended for up to 5 weeks at mentor and intern request.</p>
				<p>Do not tell the applicant they have been selected for the internship until the interns are announced on the <a href="/alums/">alums page</a> on {{ current_round.internannounce }} at 4pm UTC.</p>
				<div class="card mb-3">
					<div class="card-body">
						{{ mentor_agreement_html|safe }}
					</div>
				</div>
				<h2>Agree to the Outreachy Mentor Agreement</h2>
				<p>Please type your full legal name below to indicate you agree to the Outreachy Mentor Agreement.</p>
			{% endif %}
			{{ field.label_tag }}
			{{ field }}
			{% if field.help_text %}
				<div class="text-muted">{{ field.help_text|safe }}</div>
			{% endif %}
		</div>
	{% endfor %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
<input type="submit" class="btn btn-block btn-primary" value="Accept Agreement" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
