{% extends "base.html" %}

{% block title %}
Send mentor reminder for first stipend
{% endblock %}

{% block content %}
<p>You're about to send an email to mentors about {{ interns|length }} approved interns who signed a contract and should have started their internship.</p>

<p>Mentors will be reminded that they should let organizers know if their intern has not started their internship.
Mentors who have interns on a delayed start date will be told to ignore this email.
</p>

{% for intern in interns %}
<div class="card">
<div class="card-body">
<pre>
To: {% for email in intern.mentor_emails %}{{ email }}{% if not forloop.last %}, {% endif %}{% endfor %}
Subject: {% include 'home/email/menter-intern-start-reminder.txt' %}
</pre>
</div>
</div>
{% endfor %}


<form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="Confirm" />
</form>
{% endblock %}
