{% extends "base.html" %}

{% block title %}
Send mentor deadline reminder emails
{% endblock %}

{% block content %}
<p>You're about to send an email to mentors about {{ projects|length }} approved projects.</p>

<p>Mentors will be reminded that applicants need to complete their application,
that they can extend their deadline,
and they will be given tips about what to include on the project timeline in the application.
</p>

{% for project in projects %}
<div class="card">
<div class="card-body">
<pre>
To: {% for email in project.get_mentor_email_list %}{{ email }}{% if not forloop.last %}, {% endif %}{% endfor %}
Subject: {% include 'home/email/mentor-application-deadline-approaching.txt' %}
</pre>
</div>
</div>
{% endfor %}


<form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="Confirm" />
</form>
{% endblock %}
