{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <h1>Outreachy Participation Confirmation</h1>
    <p>Please confirm your participation as a FIXME with FIXME community in the FIXME Outreachy round.</p>
    <p>IF A MENTOR. Make sure the following information is the email address you want Outreachy participants to contact you with.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
	<p><input type="submit" value="Confirm" /></p>
    </form>
{% endblock %}
