{% extends "base.html" %}

{% block title %}
Send mentor deadline reminder emails
{% endblock %}

{% block content %}
<p>You're about to send an email about {{ projects|length }} approved or pending projects.</p>

<p>Based on whether their project is pending or approved,
and the number of applicants that have recorded a contribution,
they will be encouraged to either mark their project as needing
more applicants, extend their application deadline, or close
their project to new applicants.
</p>

<form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="Confirm" />
</form>
{% endblock %}
