{% extends "base.html" %}

{% block title %}
Community participation application
{% endblock %}

{% block content %}

<h1>Community participation application</h1>

<p>The information on this page will be reviewed by Outreachy organizers and the Outreachy Project Leadership Committee.</p>

{% include "home/snippet/privacy_policy.html" %}

<form action="" method="post">
	{% csrf_token %}
	{{ form.media }}
	{{ form.non_field_errors }}
	{% for field in form.visible_fields %}
		{% if 'Community name' in field.label_tag %}
			<h2>1. Community information</h2>
			<hr>
		{% elif 'other mentorship programs' in field.label_tag %}
			<h2>2. Mentor Experience Assessment</h2>
			<hr>
		{% elif 'List of repositories' in field.label_tag %}
			<h2>3. License Assessment</h2>
			<hr>
		{% elif "Contributor License Agreement" in field.label_tag %}
			<h3>3.1 Optional License Info</h3>
			<hr>
		{% elif 'What different organizations and companies participate in this FOSS community' in field.label_tag %}
			<h2>4. Commercial Ties Assessment</h2>
			<hr>
		{% elif '(Optional) Company advertisements on community resources' in field.label_tag %}
			<h3>4.1 Optional Commercial Ties Info</h3>
			<hr>
		{% elif '(Optional) Community governance model' in field.label_tag %}
			<h3>4.2 Community Governance</h3>
			<hr>
		{% elif 'Code of Conduct URL' in field.label_tag %}
			<h2>5. Diversity and Inclusion</h2>
			<h3>5.1 Code of Conduct</h3>
			<hr>
		{% elif 'demographics' in field.label_tag %}
			<h3>5.2 Community Demographics</h3>
			<hr>
		{% elif 'inclusive' in field.label_tag %}
			<h3>5.3 Community Inclusion Efforts</h3>
			<hr>
		{% endif %}
		<div class="form-group card">
			{{ field.errors }}
			{% if 'Approved license' in field.label_tag or 'No proprietary software' in field.label_tag or 'Approved advertising' in field.label_tag %}
				<div class="card-header">
					{{ field.label_tag }}
				</div>
				<div class="card-body">
					{{ field }}
					{{ field.help_text|safe }}
				</div>
			{% else %}
				<div class="card-header">
					{{ field.label_tag }}
				</div>
				<div class="card-body">
					{{ field }}
				</div>
				{% if field.help_text %}
					<div class="card-footer bg-white">{{ field.help_text|safe }}</div>
				{% endif %}
			{% endif %}
		</div>
	{% endfor %}
	<br>
	<input class="btn btn-primary" type="submit" value="Submit Community For Review" />
</form>

{% endblock %}
