{% extends "base.html" %}

{% block content %}

<h1>Submit A New Community for Review</h1>

{% include "home/snippet/privacy_policy.html" %}

<h2>Community Sign Up Process</h2>
<p>
The first step for Free and Open Source Software (FOSS) communities who want to participate Outreachy is to provide information about your community.
The Outreachy organizers will review your community information and you will receive an email once your community is approved to participate in this internship round.
</p>

<p>
The second step (completed on the next page) will be to fill out information about your participation in this round, such as number of interns funded and billing information.
</p>

<h2>Mentor and Volunteer Sign Up Process</h2>
<p>
Once you have completed both forms, you will be redirected to your community's call for volunteers page.
You can send that page link to your community's mentors to get them to submit their project descriptions.
</p>

<p>
Mentors should sign up on the Outreachy website, since that grants them special permissions.
Mentors who sign up will be can be subscribed to the mentors mailing list, which the Outreachy organizers use to send important announcements.
Mentors will be granted read access to applications for their project and will be notified of new applicants.
</p>

<h2>Community Information</h2>
<hr>
<form action="" method="post">
	{% csrf_token %}
	{{ form.media }}
	{{ form.non_field_errors }}
	{% for field in form.visible_fields %}
		{% if 'other mentorship programs' in field.label_tag %}
			<h2>Mentor Experience Assessment</h2>
			<hr>
		{% elif 'Approved license' in field.label_tag %}
			<h2>License Assessment</h2>
			<hr>
		{% elif "Contributor License Agreement" in field.label_tag %}
			<h3>Optional License Info</h3>
			<hr>
		{% elif 'What different organizations and companies participate in this FOSS community' in field.label_tag %}
			<h2>Commercial Ties Assessment</h2>
			<hr>
		{% elif '(Optional) Company advertisements on community resources' in field.label_tag %}
			<h3>Optional Commercial Ties Info</h3>
			<hr>
		{% elif '(Optional) Community governance model' in field.label_tag %}
			<h3>Community Governance</h3>
			<hr>
		{% elif 'Code of Conduct URL' in field.label_tag %}
			<h3>Code of Conduct</h3>
			<hr>
		{% elif 'demographics' in field.label_tag %}
			<h3>Community Diversity and Inclusion</h3>
			<hr>
		{% endif %}
		<div class="form-group card">
			{{ field.errors }}
			{% if 'Approved license' in field.label_tag or 'No proprietary software' in field.label_tag or 'Approved advertising' in field.label_tag %}
				<div class="card-header">
					{{ field.label_tag }}
				</div>
				<div class="card-body">
					{{ field }}
					{{ field.help_text|safe }}
				</div>
			{% else %}
				<div class="card-header">
					{{ field.label_tag }}
				</div>
				<div class="card-body">
					{{ field }}
				</div>
				{% if field.help_text %}
					<div class="card-footer bg-white">{{ field.help_text|safe }}</div>
				{% endif %}
			{% endif %}
		</div>
	{% endfor %}
	<br>
	<input class="btn btn-primary" type="submit" value="Submit Community For Review" />
</form>

{% endblock %}
