{% extends "base.html" %}

{% block title %}
Outreachy | Opportunities with Sponsors - Outreachy
{% endblock %}

{% block content %}

<div class="container">
    <div class="block-paragraph">
        <div class="rich-text"><p>Are you looking for a full-time position working on open source? Outreachy's sponsors may have a job opening for you!</p><p>The following organizations and companies that sponsor Outreachy offer their own internships and full-time opportunities. Next to each organization or company is the Outreachy communities that organization sponsors. Please note that organizations may not have job openings related to those communities at this point in time.</p><p>The bottom of the page is links to lists of other tech internship programs that you may be interested in.</p>
            <h3>40 or more</h3>
            <ul>
                <li><p><a href="https://www.google.com/about/jobs/search/#j=open%20source">Google</a>  </p></li>
                <li><p><a href="http://careers.mozilla.org">Mozilla</a>  </p></li>
                <li><p><a href="http://jobs.redhat.com">Red Hat</a> (Ceph, Gluster, Fedora, Foreman, GNOME, JBoss, Linux kernel, OpenShift, OpenStack, oVirt, QEMU jobs)  </p></li>
            </ul>
            <p></p>
            <h3>20-39</h3>
            <ul>
                <li><p>Intel <a href="https://01.org/about/jobs">Open Source Technology Center</a> and <a href="http://www.intel.com/jobs">company-wide</a> (Linux kernel, OpenStack, Yocto Project jobs)  </p></li>
                <li><p><a href="https://wikimediafoundation.org/wiki/Job_openings">Wikimedia</a>  </p></li>
            </ul>
            <p></p>
            <h3>10-19</h3>
            <ul>
                <li><p><a href="http://jobs.bloomberg.com/search?q=open+source">Bloomberg</a>  </p></li>
                <li><p><a href="https://live.gnome.org/AdvisoryBoard">GNOME Foundation's advisory board</a>  </p></li>
                <li><p><a href="http://h30631.www3.hpe.com/search/open-source">Hewlett-Packard Enterprise</a> (OpenStack jobs)  </p></li>
                <li><p><a href="http://www.linuxfoundation.org/about/careers">Linux Foundation</a> and <a href="http://jobs.linux.com">Linux</a>  </p></li>
                <li><p><a href="https://www.newamerica.org/jobs/">Open Technology Institute</a> (Commotion and M-Lab jobs)  </p></li>
                <li><p><a href="http://www.openstack.org/community/jobs">OpenStack Foundation</a>  </p></li>
            </ul>
            <p></p>
            <h3>5-9</h3>
            <ul>
                <li><p><a href="http://www.collabora.com/about/vacancies">Collabora</a> (Linux kernel, QEMU jobs)  </p></li>
                <li><p><a href="http://www.debian.org/partners">Debian's partners</a>  </p></li>
                <li><p><a href="http://www.xenproject.org/about/join.html">Xen Project's advisory board</a>  </p></li>
            </ul>
            <p></p>
            <h3>3-4</h3>
            <ul>
                <li><p><a href="http://cadasta.org/about-us/careers/">Cadasta</a>  </p></li>
                <li><p><a href="https://jobs.github.com/">GitHub</a>  </p></li>
                <li><p><a href="http://www.goldmansachs.com/what-we-do/engineering/build-with-us/index.html">Goldman Sachs</a>  </p></li>
                <li><p><a href="http://www-03.ibm.com/employment/">IBM</a> (QEMU, OpenStack jobs)  </p></li>
                <li><p><a href="https://linux.org.au/jobs">Linux Australia job postings</a>  </p></li>
                <li><p><a href="http://www.oreilly.com/jobs/">O'Reilly</a>  </p></li>
                <li><p><a href="http://jobs.perl.org">Perl</a>  </p></li>
                <li><p><a href="http://jobs.rackspace.com">Rackspace</a> (OpenStack jobs)  </p></li>
                <li><p><a href="https://careers.us.samsung.com/careers/svc/app/viewSearchJob">Samsung</a> and <a href="https://twitter.com/samsungosg">Samsung Open Source Group</a> (Linux kernel, FFmpeg, GStreamer jobs)  </p></li>
                <li><p><a href="https://about.twitter.com/careers">Twitter</a>  </p></li>
                <li><p><a href="http://jobs.wordpress.net">WordPress</a>  </p></li>
                <li><p><a href="https://www.yoctoproject.org/ecosystem">Yocto Project's ecosystem</a>  </p></li>
                <li><p><a href="https://zulip.org/contribute.html">Zulip page on contributing</a>  </p></li>
            </ul>
            <p></p>
            <h3>2</h3>
            <ul>
                <li><p><a href="https://www.digitalocean.com/company/careers/">DigitalOcean</a>  </p></li>
                <li><p><a href="https://www.gatsbyjs.com/careers/">Gatsby</a></p></li>
                <li><p><a href="https://about.gitlab.com/jobs/">GitLab</a></p></li>
                <li><p><a href="https://www.ffmpeg.org/">FFmpeg</a>  </p></li>
                <li><p><a href="https://www.igalia.com/jobs/">Igalia</a>  </p></li>
                <li><p><a href="https://mapzen.com/jobs">Mapzen</a> (OpenStreetMap jobs)  </p></li>
                <li><p><a href="https://owncloud.com/jobs">ownCloud</a>  </p></li>
                <li><p>Python Software Foundation's <a href="http://www.python.org/psf/members/#sponsor-members">sponsor members</a> and <a href="http://www.python.org/newjobs/">jobs board</a>   </p></li>
                <li><p><a href="https://www.torproject.org/about/jobs.html.en">Tor</a> and <a href="https://www.eff.org/about/opportunities">Electronic Frontier Foundation</a>  </p></li>
            </ul>
            <p></p>
            <h3>1</h3>
            <ul>
                <li><p><a href="http://jobs.akamai.com/search/?q=open+source">Akamai</a>  </p></li>
                <li><p><a href="http://jobs.cisco.com/">Cisco</a>  </p></li>
                <li><p><a href="http://www.cloudera.com/content/cloudera/en/about/careers.html">Cloudera</a>  </p></li>
                <li><p><a href="https://codeforscience.org/jobs">Code for Science & Society</a></p></li>
                <li><p><a href="https://www.codeweavers.com/about/jobs">CodeWeavers</a> (Wine jobs)  </p></li>
                <li><p><a href="https://creativecommons.org/about/team/opportunities/">Creative Commons</a></p></li>
                <li><p><a href="https://endlessm.com/about-us">Endless</a> (GNOME jobs)  </p></li>
                <li><p><a href="http://evergreen-ils.org/governance/">Evergreen ILS</a>'s board member affiliations  </p></li>
                <li><p><a href="https://careers-redhat.icims.com/jobs/search?Keyword=fedora">Fedora</a>  </p></li>
                <li><p><a href="http://www.joomla.org/about-joomla/the-project/partners.html">Joomla's partners</a>  </p></li>
                <li><p><a href="https://libav.org">Libav</a>  </p></li>
                <li><p><a href="https://www.lightbend.com/company/careers">Lightbend</a> (Lagom jobs)  </p></li>
                <li><p><a href="http://www.linaro.org/careers/linaro">Linaro</a> (Linux Kernel jobs)  </p></li>
                <li><p><a href="https://mapzen.com/jobs/">Mapzen</a> (OpenStreetMap jobs)  </p></li>
                <li><p><a href="http://mifos.org/about-us/team/">Mifos</a> team and partners  </p></li>
                <li><p><a href="https://nodejs.org/en/foundation/members/">Node.js Foundation corporate members</a>  </p></li>
                <li><p><a href="http://openmrs.org/about/jobs">OpenMRS</a>  </p></li>
                <li><p><a href="https://perlfoundation.org/">Perl Foundation</a></p></li>
                <li><p><a href="https://www.shopify.com/careers">Shopify</a>  </p></li>
                <li><p><a href="https://wiki.sugarlabs.org/go/Sugar_Labs">Sugar Labs</a>  </p></li>
                <li><p><a href="http://twistedmatrix.com/trac/wiki/TwistedSponsors">Sponsors</a> and <a href="http://twistedmatrix.com/trac/wiki/TSF/FoundingSponsors">founding sponsors</a> of Twisted  </p></li>
                <li><p><a href="http://www.videolan.org/contact.html">VideoLAN</a>  </p></li>
                <li><p><a href="http://www.x.org/wiki/BoardOfDirectors/">X.Org</a>'s board member affiliations  </p></li>
            </ul>
            <p></p>
            <h2>More opportunities</h2>
            <ul>
                <li><p><a href="https://developers.google.com/open-source/gsoc/">Google Summer of Code</a> </p></li>
                <li><p><a href="https://www.recurse.com/">The Recurse Center</a> </p></li>
                <li><p><a href="http://www.fossjobs.net">FOSS jobs board maintained by Moritz Bartl</a> </p></li>
                <li><p>Sumana Harihareswara's round-ups of various opportunities on <a href="http://www.harihareswara.net/sumana/2014/03/06/">March 2014</a> </p></li>
                <li><p><a href="https://www.blacksintechnology.net/jobs-board/">Blacks in Tech jobs board</a> </p></li>
                <li><p><a href="https://www.pocitjobs.com/">People of Color in Tech jobs board</a> </p></li>
                <li><p><a href="https://www.womenwhocode.com/jobs/">Women Who Code jobs board</a> </p></li>
                <li><p><a href="https://careers.aises.org/">American Indian Science and Engineering Society</a> </p></li>
            </ul>
            The list of <a href="https://openhatch.org/wiki/Opportunities">paid opportunities in FOSS</a> maintained by OpenHatch<br/><br/><a href="http://opensourcediversity.org/">List of Open Source Diversity initiatives</a>.<br/> <p><br/></p>
        </div>
</div>

</div>

{% endblock %}
