{% extends "base.html" %}

{% block title %}
Record Contributions and Apply to {{ community.name }}
{% endblock %}

{% block content %}

{% if request.user.comrade.eligible_application and request.user.comrade.get_projects_contributed_to %}
{% include "home/snippet/apply_prompt.html" %}
{% endif %}

<p><a href="/apply/">Why apply to Outreachy?</a> &gt;
{% if not request.user.comrade or request.user.comrade.needs_application %}
	<a href="{% url 'eligibility' %}">Check Eligibility</a>
{% elif request.user.comrade.ineligible_application or request.user.comrade.pending_application %}
	<a href="{% url 'eligibility-results' %}">Review Your Eligibility</a>
{% else %}
	<a href="/apply/eligibility/">Outreachy Eligibility Rules</a>
{% endif %}
&gt; <a href="/apply/project-selection/">Find a Mentor and Internship Project</a>
&gt; <a href="{% url 'community-landing' round_slug=current_round.slug slug=community.slug %}">{{ community.name }}</a>
&gt; Record a Contribution and Apply</p>

<h1>Record Contributions and Apply to {{ community.name }}</h1>
<p>
All applicants must work with a mentor to make a contribution to a project.
</p>
<p>
If you're having trouble figuring out how to contribute,
<a href="https://www.outreachy.org/apply/make-contributions/">check out our contribution tips</a>.
</p>
<p>
Once you've started a contribution, use this page to record your in-progress and completed contributions.
Once you've recorded at least one contribution, you can start your application for the project.
</p>
{% if contributions %}
	{% if not final_application %}
		<h2>Project Application</h2>
		<p><a class='btn btn-success' href="{% url 'application-action' round_slug=current_round.slug community_slug=community.slug project_slug=project.slug action='submit' %}">Apply for This Project</a></p>
	{% else %}
		<h2>{{ community.name }} Internship Project Application</h2>

		<p>You'll be able to edit your application until the application deadline has passed.
		The "Save" button makes the latest version of your application visible to Outreachy mentors and coordinators.
		Saving your application effectively submits it. There is no specific "Submit" option.
		If you wish to withdraw your application, there is a button at the bottom of your application to do so.<p>

		<p>After the application deadline ({{ current_round.appsclose }})
		or the late application deadline ({{ current_round.appslate }}),
		project mentors will take a couple weeks to decide who they want to accept as an intern.
		They will review all applications in the application system,
		and communicate their intern selection to Outreachy organizers.
		The Outreachy organizers may also need time to seek out additional funding to have organizations accept more interns.
		</p>
		<p>
		Applicants typically don't get any email from organizers after the application deadline has passed.
		Some applicants may get email to clarify their time commitments.
		Even if you don't receive an email, all applications in the system after the deadline will be reviewed.
		</p>

		<p>
		After the application deadline and before the interns are announced,
		you are welcome to continue making contributions to the projects you applied for.
		We find that applicants often become passionate about their project, and get hooked on making contributions.
		Many applicants who are selected for internships continue working past the application deadline, although it is not required.
		</p>

		<p>
		Intern selections will be posted on the <a href="/alums/">Alums</a> page on {{ current_round.internannounce }} at 4pm UTC.
		We'll also send the full list to the <a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">announcements mailing list</a>.
		</p>

		<h2>Your Project Application</h2>
		<p>
		You're viewing your application for the following {{ community.name }} project:
		<br><strong>{{ project.short_title }}</strong>
		</p>
		{% if final_application.approval_status == final_application.WITHDRAWN %}
			<div class="card border-warning mb-3">
				<div class="card-header text-white bg-warning">Withdrawn Application</div>
				<div class="card-body">
					<p class="card-text">
					This application is withdrawn. You will not be eligible to be accepted as an intern for this project. The reason you gave for withdrawing your application was:
					</p>
					<p>{{ final_application.reason_denied }}</p>
					<p><a class='btn btn-success' href="{{ final_application.get_submit_url }}">Re-submit Application</a></p>
				</div>
			</div>
		{% else %}
			<p><a class='btn btn-primary' href="{{ final_application.get_submit_url }}">Update Your Application</a></p>
		{% endif %}
		<p><i>Your experience with this free software community and project:</i></p>
		<p>{{ final_application.experience }}</p>
		<p><i>Your experience with other free software communities:</i></p>
		<p>{{ final_application.foss_experience }}</p>
		<p><i>Your relevant personal or class projects that relate to this project:</i></p>
		<p>{{ final_application.relevant_projects }}</p>
		{% if final_application.community_specific_questions %}
		<p><i>Answers to community-specific questions:</i></p>
		<p>{{ final_application.community_specific_questions }}</p>
		{% else %}
		<p><i>You have not provided answers to community-specific questions. Please double check with your mentor and coordinator if you need to provide additional information.</i></p>
		{% endif %}
		{% if final_application.applying_to_gsoc %}
		<p><i>Google Summer of Code communities and projects you are applying for, and the mentor contact information for those projects:</i></p>
		<p>{{ final_application.applying_to_gsoc }}</p>
		{% else %}
		<p><i>You are not applying to Google Summer of Code.</i></p>
		{% endif %}
		<p><i>Timeline of tasks for the internship period:</i></p>
		<p>{% if final_application.timeline %}{{ final_application.timeline }}{% else %}TBD{% endif %}</p>
		{% if final_application.approval_status != final_application.WITHDRAWN %}
		<p><a class='btn btn-warning' href="{{ final_application.get_withdraw_url }}">Withdraw Your Application</a></p>
		{% endif %}
	{% endif %}
{% endif %}
{% if contributions %}
	<h2>Your Contributions</h2>
	<p>
	You're viewing your contributions for the following {{ community.name }} project:
	<br><strong>{{ project.short_title }}</strong>
	</p>
{% endif %}
<p><a class='btn btn-success' href="{% url 'contributions-add' round_slug=current_round.slug community_slug=community.slug project_slug=project.slug %}">Record a Contribution</a></p>
<hr>
{% for c in contributions %}
<p><i>Contribution #{{ forloop.counter }}: started {{ c.date_started }}{% if c.date_merged %}, merged {{ c.date_merged }}{% else %}. <strong>Not accepted or merged.</strong> Update accepted date by editing this contribution.{% endif %}</i></p>
	<p><a class='btn btn-primary' href="{% url 'contributions-edit' round_slug=current_round.slug community_slug=community.slug project_slug=project.slug contribution_slug=c.pk %}">Edit Contribution</a></p>
	<p><a href="{{ c.url }}">{{ c.url }}</a></p>
	<p>{{ c.description }}</p>
	{% if not forloop.last %}
		<hr>
	{% endif %}
{% endfor %}

{% endblock %}
