{% extends "base.html" %}
{% load approval_status %}
{% load wagtailcore_tags %}

{% block title %}
{{ project.get_approval_status_display }} {{ community.name }} Project - {{ project.short_title }}
{% endblock %}

{% block content %}

<p><a href="{% url 'community-cfp' %}">Timeline and FAQ for Outreachy Communities</a> &gt; <a href="{{ community.get_preview_url }}">{{ community.name }}</a> &gt; {{ project.get_approval_status_display }} Project</p>

<h1>{{ project.get_approval_status_display }} {{ community.name }} Project</h1>

<p>Project title: "{{ project.short_title }}"</p>

{% if project.is_approved %}
	<p>This project has been approved by the {{ community.name }} coordinator(s) to participate in the {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round.</p>

{% elif project.is_pending %}
	{% if not current_round.project_soft_deadline.has_passed %}
		<p>This project is waiting to be approved by the {{ community.name }} coordinator(s) for participation in the {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round. Mentors will receive an email when the project is approved. In the meantime, please see the instructions below for getting ready for the application period.</p>
	{% else %}
		<p>Unfortunately, the deadline to approve new Outreachy intern proposals has passed, and the coordinator did not approve this project before the deadline.</p>
	{% endif %}
{% else %}
	<h1>Rejected {{ community.name }} Project</h1>
	<p>The {{ community.name }} coordinator(s) or Outreachy organizers do not think this project is suitable for participation in the {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round.</p>
{% endif %}

{% if not current_round.contributions_close.has_passed %}
	{% if user.is_staff or coordinator or mentor_request and mentor_request.is_approved %}
		<h2>Next Steps for Mentors</h2>
		<h3>Prepping for the application period</h3>
		<p>During the six-week application period, Outreachy applicants will make a contribution to this project. Only applicants that have made a contribution (and recorded the contribution on this website) will be eligible to be selected as an intern. Mentors should <a href="/mentor/mentor-faq/#define-starter-tasks">read more about how to prep for the application period</a>.</p>
	{% endif %}
{% endif %}

{% if project.is_approved and not current_round.contributions_close.has_passed %}
	{% if user.is_staff or coordinator or mentor_request and mentor_request.is_approved %}
		<h2>Promoting To Outreachy Applicants</h2>

		{% include 'home/snippet/project_promotion.html' %}
	{% endif %}
{% endif %}


{% if not current_round.has_internship_ended %}
	<h3>Adding Co-mentors</h3>
	{% if mentor_request or coordinator %}
		<p>The Outreachy organizers encourage projects to have more than one mentor. Each co-mentor for this project will need to sign up, so that they can view applicants' recorded contributions and final applications. You can send them this link so they can sign up as a co-mentor:
		{{ request.scheme }}://{{ request.get_host }}{{ project.get_mentor_signup_url }}

		{% if mentor_request %}
			<p>Your request to mentor this project is:
			<strong>{{ mentor_request.get_approval_status_display }}</strong></p>
			{% if mentor_request.is_pending or mentor_request.is_approved %}
				<p><a href="{{ mentor_request.get_withdraw_url }}" class="btn btn-warning">Withdraw From Mentoring</a></p>
			{% elif mentor_request.is_withdrawn %}
				<p><a href="{{ mentor_request.get_submit_url }}" class="btn btn-success">Mentor This Project</a></p>
			{% endif %}
		{% endif %}

	{% else %}
	<p>This page allows Outreachy mentors to sign up to co-mentor this project. Outreachy applicants should not sign up to co-mentor projects. Applicants should wait for projects to appear on the <a href="{% pageurl current_round %}">intern project page</a>.</p>
		<p>If you need to sign up to co-mentor this project, please click the button below to create an account. Once you're approved by the coordinator, you will receive instructions on how to sign the mentor agreement for the selected intern.</p>
		<p><a href="{{ project.get_mentor_signup_url }}" class="btn btn-success">Co-mentor This Project</a></p>
	{% endif %}
{% else %}
	<h3>Co-mentor</h3>
{% endif %}

{% if coordinator %}
	<h2>Next Steps for Coordinators</h2>
	<h3>Project Approval</h3>
	{% if current_round.lateprojects.has_passed %}
		<p>The deadline to approve new projects has passed. You can reject the project to let the mentor know their project wasn't accepted, or (if absolutely necessary) contact the Outreachy organizers to have them manually approve the project.</p>
	{% else %}
		{% if not project.approved_license or not project.no_proprietary_software or project.longevity == project.THREE_MONTHS or project.longevity == project.SIX_MONTHS or project.community_size == project.SMOL %}
			<p>Coordinators - please double check with the Outreachy organizers before approving this project!</p>
		{% else %}
			<p>Coordinators - this project meets Outreachy organizer standards for project community size, project license, and the length of time the project has been accepting contributions from external contributors. You may approve this project if it meets <a href="/mentor/mentor-faq/#define-a-project">other Outreachy project standards</a> and your community's long term goals.</a>
		{% endif %}
		{% if not project.approved_license %}
		<div class="card border-warning mb-3">
		    <div class="card-header text-white bg-warning">Warning!</div>
		    <div class="card-body">
			<h5 class="card-title">This internship project will be released under a license that is not
			    an OSI-approved and FSF-approved free software license OR Creative Commons license.</h5>
			<p class="card-text">The Outreachy parent organization, Software Freedom Conservancy, requires that all Outreachy internships further the goals of free and open source communities. Projects that use proprietary licenses are not allowed.</p>
			{% if project.unapproved_license_description %}
				<p>The project mentor provided this description of their non-free licenses:</p>
				{{ project.unapproved_license_description|safe }}
			{% endif %}
		    </div>
		</div>
		{% endif %}
		{% if not project.no_proprietary_software %}
		<div class="card border-warning mb-3">
		    <div class="card-header text-white bg-warning">Warning!</div>
		    <div class="card-body">
			<h5 class="card-title">This project furthers the interests of proprietary software, rather than free software.</h5>
			<p class="card-text">The Outreachy parent organization, Software Freedom Conservancy, requires that all Outreachy internships further the goals of free and open source communities. Projects that further the interests of proprietary software are not allowed.</p>
			{% if project.proprietary_software_description %}
				<p>The project mentor provided this description of the proprietary software related to this internship project:</p>
				{{ project.proprietary_software_description|safe }}
			{% endif %}
		    </div>
		</div>
		{% endif %}

		{% if project.longevity == project.THREE_MONTHS or project.longevity == project.SIX_MONTHS %}
		<div class="card border-warning mb-3">
		    <div class="card-header text-white bg-warning">Warning!</div>
		    <div class="card-body">
			<h5 class="card-title">This FOSS project has been accepting contributions for less than six months.</h5>
			<p class="card-text">The mentor indicated the FOSS project has been accepting public contributions for {{ project.get_longevity_display|lower }}. Outreachy projects should be well-established projects. While GSoC allows students to create their own open source projects, we find Outreachy interns benefit the most from having a well-established community of project contributors to work with.</p>
		    </div>
		</div>
		{% endif %}

		{% if project.community_size == project.SMOL %}
		<div class="card border-warning mb-3">
		    <div class="card-header text-white bg-warning">Warning!</div>
		    <div class="card-body">
			<h5 class="card-title">This project has two or fewer regular contributors.</h5>
			<p class="card-text">Outreachy projects should be well-established projects. While GSoC allows students to create their own open source projects, we find Outreachy interns benefit the most from having a well-established community of project contributors to work with.</p>
		    </div>
		</div>
		{% endif %}
	{% endif %}

	{% if not project.is_withdrawn %}
		<p>
		{% if not project.is_approved and not current_round.lateprojects.has_passed %}
			<a href="{{ project.get_approve_url }}" class="btn btn-success">Approve Project</a>
		{% endif %}
		{% if not project.is_rejected %}
			<a href="{{ project.get_reject_url }}" class="btn btn-warning">Reject Project</a>
		{% endif %}
		</p>
	{% endif %}

	{% if unapproved_mentors %}
		<h3>Approve Mentors</h3>
		{% for approval in unapproved_mentors %}
			<p>"{{ approval.mentor.public_name }}" &lt;{{ approval.mentor.account.email }}&gt;</p>
			{% include "home/snippet/mentor_approval_warnings.html" %}
			{% if not approval.is_approved %}
			<a href="{{ approval.get_approve_url }}" class="btn btn-success">Approve Mentor</a>
			{% endif %}
			{% if not approval.is_rejected %}
			<a href="{{ approval.get_reject_url }}" class="btn btn-warning">Reject Mentor</a>
			{% endif %}
			{% include "home/snippet/mentor_info.html" %}
		{% endfor %}
	{% endif %}

	{% if approved_mentors %}
		<h3>Review Approved Mentors</h3>
		{% for approval in approved_mentors %}
			<p>"{{ approval.mentor.public_name }}" &lt;{{ approval.mentor.account.email }}&gt;</p>
			{% include "home/snippet/mentor_approval_warnings.html" %}
			<a href="{{ approval.get_reject_url }}" class="btn btn-warning">Reject Mentor</a>
			{% include "home/snippet/mentor_info.html" %}
		{% endfor %}
	{% endif %}

{% endif %}

{% if current_round.lateprojects.has_passed and not project.is_approved %}
	<h3>Unapproved Project Proposal</h3>
	<p>The deadline to approve Outreachy project proposals has passed. You cannot edit an unapproved project after the project proposal deadline.</p>
{% elif user.is_staff or coordinator or mentor_request and mentor_request.is_approved %}
	<h3>Preview of Project Proposal</h3>

	{% if project|is_submitter:request.user %}
		<p>Does the project information look correct? If not, you can edit it.</p>
		<p>If you have too many applicants, you can close the project to new applicants.</p>
		<p><a class="btn btn-primary" href="{{ project.get_submit_url }}">Edit Project Info</a></p>
	{% endif %}

	{% if mentor_request|is_submitter:request.user %}
		<p>Does your mentor information (e.g. your mentorship style and mentor experience) look correct? If not, you can edit it.</p>
		<p><a class="btn btn-primary" href="{{ mentor_request.get_submit_url }}">Edit Mentor Info</a></p>

		<p>Does your person information (e.g. your public name, pronouns, timezone, location, forum username, GitHub URL, GitLab URL, Blog URL, or Twitter URL) look correct? If not, you can edit it.</p>
		<p><a class="btn btn-primary" href="{% url 'account' %}">Edit Personal Info</a></p>
	{% endif %}
{% endif %}

{% if user.is_staff or coordinator or mentor_request and mentor_request.is_approved %}
	{% if project.is_approved or project.is_pending and not current_round.contribution_opens.has_passed %}
		<div class="card">
			<div class="card-header">Preview - Project Proposal Information Shown to Applicants</div>
			<div class="card-body">
				<p>This information will be displayed to the applicants on the project landing page.</p>
				{% include "home/snippet/project_landing_snippet.html" %}
			</div>
		</div>

		<br>
		<h3>Project Information for Coordinators</h3>
		<p>This project information is used by coordinators to determine if the project is appropriate for Outreachy. The information will not be displayed to applicants.</p>
		<ul>
			<li>Project has been accepting external contributions for: {{ project.get_longevity_display|lower }}</li>
			<li>Number of people contributing to this project regularly: {{ project.get_community_size_display|lower }}</li>
			{% if project.intern_benefits %}
				<li>Interns will learn about: {{ project.intern_benefits|safe }}</li>
			{% else %}
				<li>Mentor did not provide information about what the interns will learn from this project.</li>
			{% endif %}
			{% if project.community_benefits %}
				<li>The FOSS community will benefit from this project because: {{ project.community_benefits|safe }}</li>
			{% else %}
				<li>Mentor did not provide information about how the FOSS community will benefit from this project.</li>
			{% endif %}
			{% if not project.approved_license %}
				<li>Licenses: This project uses a license that is NOT an OSI-approved license or Creative Commons license.</li>
			{% else %}
				<li>Licenses: OSI-approved license or Creative Commons license.</li>
			{% endif %}
		</ul>
	{% endif %}
{% else %}
	<p>Full project details are only available for coordinators and approved project mentors, in order to ensure applicants don't contact mentors until the project is approved and the Outreachy application period opens. If you're an applicant, please wait for projects to appear on the <a href="{{ current_round.url }}">current internship round page</a>!</p>
{% endif %}

{% endblock %}
