{% extends "base.html" %}

{% block title %}

{% if project.list_project %}
Approved {{ community.name }} Project - {{ project.short_title }}
{% else %}
Pending {{ community.name }} Project - {{ project.short_title }}
{% endif %}

{% endblock %}

{% block content %}

{% if project.list_project %}
	<h1>Approved {{ community.name }} Project</h1>
	<p>This project has been approved by the {{ community.name }} coordinator(s) to participate in the {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round.</p>
{% elif project.list_project is None %}
	<h1>Pending {{ community.name }} Project</h1>
	<p>This project is waiting to be approved by the {{ community.name }} coordinator(s) for participation in the {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round.</p>
{% else %}
	<h1>Rejected {{ community.name }} Project</h1>
	<p>The {{ community.name }} coordinator(s) or Outreachy organizers do not think this project is suitable for participation in the {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round.</p>
{% endif %}

<h2>Coordinator Actions</h2>
{% if not project.approved_license or project.longevity == project.THREE_MONTHS or project.longevity == project.SIX_MONTHS or project.longevity == project.ONE_YEAR or project.community_size == project.SMOL or project.community_size == project.TINY %}
	<p>Coordinators - please double check with the Outreachy organizers before approving this project!</p>
{% else %}
	<p>Coordinators - this project meets Outreachy organizer standards for project community size, project license, and the length of time the project has been accepting contributions from external contributors. You may approve this project if it meets <a href="/mentor/mentor-faq/#define-a-project">other Outreachy project standards</a> and your community's long term goals.</a>
{% endif %}
{% if not project.approved_license %}
<div class="card border-warning mb-3">
    <div class="card-header text-white bg-warning">Warning!</div>
    <div class="card-body">
        <h5 class="card-title">This project uses a license that is not
            an OSI-approved license or Creative Commons license.</h5>
        <p class="card-text">The Outreachy parent organization, Software Freedom Conservancy, requires that all Outreachy internships further the goals of free and open source communities. Projects that use proprietary licenses are not allowed.</p>
    </div>
</div>
{% endif %}

{% if project.longevity == project.THREE_MONTHS or project.longevity == project.SIX_MONTHS or project.longevity == project.ONE_YEAR %}
<div class="card border-warning mb-3">
    <div class="card-header text-white bg-warning">Warning!</div>
    <div class="card-body">
        <h5 class="card-title">This project is less than a year old.</h5>
        <p class="card-text">Outreachy projects should be well-established projects. While GSoC allows students to create their own open source projects, we find Outreachy interns benefit the most from having a well-established community of project contributors to work with.</p>
    </div>
</div>
{% endif %}

{% if project.community_size == project.SMOL or project.community_size == project.TINY %}
<div class="card border-warning mb-3">
    <div class="card-header text-white bg-warning">Warning!</div>
    <div class="card-body">
        <h5 class="card-title">This project has five or less regular
            contributors.</h5>
        <p class="card-text">Outreachy projects should be well-established projects. While GSoC allows students to create their own open source projects, we find Outreachy interns benefit the most from having a well-established community of project contributors to work with.</p>
    </div>
</div>
{% endif %}

{% comment %}When we name an input, the name and value get added to the POST dictionary.{% endcomment %}
<form action="{% url 'project-status' community_slug=community.slug project_slug=project.slug %}" method="post">
    {% csrf_token %}
    {% if project.list_project is not True %}
	    <input class="btn btn-block btn-success" type="submit" name="approve" value="Approve Project" />
    {% endif %}
    {% if project.list_project is not False %}
	    <input class="btn btn-block btn-warning" type="submit" name="reject" value="Reject Project" />
    {% endif %}
</form>

{% if unapproved_mentors %}
	<p><strong>Unapproved Project Mentors:</strong></p>
	{% for mentor in unapproved_mentors %}
		<p>{{ mentor.public_name }} &lt;{{ mentor.account.email }}&gt;</p>
		<form action="{% url 'project-mentor-status' community_slug=community.slug project_slug=project.slug mentor_id=mentor.pk %}" method="post">
			{% csrf_token %}
			<input class="btn btn-success" type="submit" name="approve" value="Approve Mentor" />
			<input class="btn btn-warning" type="submit" name="reject" value="Reject Mentor" />
		</form>
		<ul>
			{% if mentor.pronouns_to_participants %}<li>Pronouns: {{ mentor.get_pronouns_display }}</li>{% endif %}
			{% if mentor.timezone %}<li>Timezone: {{ mentor.get_timezone_display }}</li>{% endif %}
			{% if mentor.primary_language %}<li>Primary language: {{ mentor.get_primary_language_display }}</li>{% endif %}
			{% if mentor.second_language %}<li>Second language: {{ mentor.get_second_language_display }}</li>{% endif %}
			{% if mentor.third_language %}<li>Third language: {{ mentor.get_third_language_display }}</li>{% endif %}
			{% if mentor.fourth_language %}<li>Fourth language: {{ mentor.get_fourth_language_display }}</li>{% endif %}
		</ul>
	{% endfor %}
{% endif %}

<h2>Project Information</h2>

<a class="btn btn-primary" href="/communities/cfp/{{ community.slug }}/{{ project.slug }}/edit/">Edit Project Info</a>

<p>{{ project.short_title }}</p>
<ul>
	<li>Project has been accepting external contributions for: {{ project.get_longevity_display }}</li>
	<li>Number of people contributing to this project regularly: {{ project.get_community_size_display }}</li>

	{% if not project.approved_license %}
		<li>Licenses: This project uses a license that is NOT an OSI-approved license or Creative Commons license.</li>
	{% else %}
		<li>Licenses: OSI-approved license or Creative Commons license.</li>
	{% endif %}
	{% if project.accepting_new_applicants %}
		<li>Open - Project is open to new Outreachy applicants.</li>
	{% else %}
		<li>Closed - Project is closed to new Outreachy applicants.</li>
	{% endif %}
</ul>

<p><strong>Project Mentors:</strong></p>
{% if mentor_request %}
	{% if mentor_request.approved is True %}
	<p>You are an approved mentor for this project.</p>
	{% else %}
	<p>Your request to mentor this project is under review by the community coordinator.</p>
	{% endif %}
	<form action="{% url 'project-mentor-status' community_slug=community.slug project_slug=project.slug mentor_id=mentor_request.mentor_id %}" method="post">
		{% csrf_token %}
		<input class="btn btn-warning" type="submit" name="reject" value="Withdraw From Mentoring" />
	</form>
{% elif request.user.comrade %}
	<form action="{% url 'project-mentor-status' community_slug=community.slug project_slug=project.slug mentor_id=request.user.comrade.pk %}" method="post">
		{% csrf_token %}
		<input class="btn btn-success" type="submit" name="add" value="Mentor This Project" />
	</form>
{% endif %}

{% if approved_mentors %}
	{% for mentor in approved_mentors %}
		<p>{{ mentor.public_name }} &lt;{{ mentor.account.email }}&gt;</p>
		<ul>
			{% if mentor.pronouns_to_participants %}<li>Pronouns: {{ mentor.get_pronouns_display }}</li>{% endif %}
			{% if mentor.timezone %}<li>Timezone: {{ mentor.get_timezone_display }}</li>{% endif %}
			{% if mentor.primary_language %}<li>Primary language: {{ mentor.get_primary_language_display }}</li>{% endif %}
			{% if mentor.second_language %}<li>Second language: {{ mentor.get_second_language_display }}</li>{% endif %}
			{% if mentor.third_language %}<li>Third language: {{ mentor.get_third_language_display }}</li>{% endif %}
			{% if mentor.fourth_language %}<li>Fourth language: {{ mentor.get_fourth_language_display }}</li>{% endif %}
		</ul>
	{% endfor %}
{% endif %}


{% endblock %}
