{% extends "base.html" %}

{% block title %}
Add Project Communication Channels
{% endblock %}

{% block content %}
<h1>Add Project Communication Channels</h1>

<p>Most applicants won't be familiar with using open source
communication channels. They may be familiar with a communication tool
(like a mailing list) but not be aware of common open source
communication norms.  Applicants are especially confused by
communication protocols like IRC, which usually require client-side
software.  Adding communication channels in this special section will
make it more likely for applicants to be able to contact mentors.</p>

<p>You can fill out the optional fields below. If you need to add more
communication channels than there are fields, you should save this
internship project proposal and then click 'Edit Project
information'.</p>

<form action="" method="post">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Save project communication channels" />
</form>

{% endblock %}
