{% extends "base.html" %}
{% load approval_status %}

{% block title %}
{{ project.get_approval_status_display }} {{ community.name }} Project - {{ project.short_title }}
{% endblock %}

{% block content %}

{% if project.approval_status == project.APPROVED %}
	<h1>Approved {{ community.name }} Project</h1>
	<p>This project has been approved by the {{ community.name }} coordinator(s) to participate in the {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round.</p>
	
	<p>
	Once the application period starts, the community will be listed on the <a href="{{ current_round.url }}">round home page</a>, with a link to
	the <a href="{{ project.project_round.get_absolute_url }}">community landing page</a>.
	Applicants will find detailed information on the landing page about the community and how to contribute to approved projects.</p>
	<p>

{% elif project.approval_status == project.PENDING %}
	<h1>Pending {{ community.name }} Project</h1>
	<p>This project is waiting to be approved by the {{ community.name }} coordinator(s) for participation in the {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round.</p>
{% else %}
	<h1>Rejected {{ community.name }} Project</h1>
	<p>The {{ community.name }} coordinator(s) or Outreachy organizers do not think this project is suitable for participation in the {{ current_round.internstarts|date:"F" }} to {{ current_round.internends|date:"F Y" }} Outreachy internship round.</p>
{% endif %}

{% if coordinator %}
	<h2>Coordinator Actions</h2>
	<h3>Project Approval</h3>
	{% if not project.approved_license or not project.no_proprietary_software or project.longevity == project.THREE_MONTHS or project.longevity == project.SIX_MONTHS or project.community_size == project.SMOL %}
		<p>Coordinators - please double check with the Outreachy organizers before approving this project!</p>
	{% else %}
		<p>Coordinators - this project meets Outreachy organizer standards for project community size, project license, and the length of time the project has been accepting contributions from external contributors. You may approve this project if it meets <a href="/mentor/mentor-faq/#define-a-project">other Outreachy project standards</a> and your community's long term goals.</a>
	{% endif %}
	{% if not project.approved_license %}
	<div class="card border-warning mb-3">
	    <div class="card-header text-white bg-warning">Warning!</div>
	    <div class="card-body">
		<h5 class="card-title">This internship project will be released under a license that is not
		    an OSI-approved and FSF-approved free software license OR Creative Commons license.</h5>
		<p class="card-text">The Outreachy parent organization, Software Freedom Conservancy, requires that all Outreachy internships further the goals of free and open source communities. Projects that use proprietary licenses are not allowed.</p>
		{% if project.unapproved_license_description %}
			<p>The project mentor provided this description of their non-free licenses:</p>
			{{ project.unapproved_license_description|safe }}
		{% endif %}
	    </div>
	</div>
	{% endif %}
	{% if not project.no_proprietary_software %}
	<div class="card border-warning mb-3">
	    <div class="card-header text-white bg-warning">Warning!</div>
	    <div class="card-body">
		<h5 class="card-title">This project furthers the interests of proprietary software, rather than free software.</h5>
		<p class="card-text">The Outreachy parent organization, Software Freedom Conservancy, requires that all Outreachy internships further the goals of free and open source communities. Projects that further the interests of proprietary software are not allowed.</p>
		{% if project.proprietary_software_description %}
			<p>The project mentor provided this description of the proprietary software related to this internship project:</p>
			{{ project.proprietary_software_description|safe }}
		{% endif %}
	    </div>
	</div>
	{% endif %}

	{% if project.longevity == project.THREE_MONTHS or project.longevity == project.SIX_MONTHS %}
	<div class="card border-warning mb-3">
	    <div class="card-header text-white bg-warning">Warning!</div>
	    <div class="card-body">
		<h5 class="card-title">This FOSS project has been accepting contributions for less than six months.</h5>
		<p class="card-text">The mentor indicated the FOSS project has been accepting public contributions for {{ project.get_longevity_display }}. Outreachy projects should be well-established projects. While GSoC allows students to create their own open source projects, we find Outreachy interns benefit the most from having a well-established community of project contributors to work with.</p>
	    </div>
	</div>
	{% endif %}

	{% if project.community_size == project.SMOL %}
	<div class="card border-warning mb-3">
	    <div class="card-header text-white bg-warning">Warning!</div>
	    <div class="card-body">
		<h5 class="card-title">This project has two or fewer regular contributors.</h5>
		<p class="card-text">Outreachy projects should be well-established projects. While GSoC allows students to create their own open source projects, we find Outreachy interns benefit the most from having a well-established community of project contributors to work with.</p>
	    </div>
	</div>
	{% endif %}

	{% if project.approval_status != project.APPROVED %}
	<a href="{{ project.get_approve_url }}" class="btn btn-success">Approve Project</a>
	{% endif %}
	{% if project.approval_status != project.REJECTED %}
	<a href="{{ project.get_reject_url }}" class="btn btn-warning">Reject Project</a>
	{% endif %}
	</form>
	{% if unapproved_mentors %}
		<h3>Approve Mentors</h3>
		{% for approval in unapproved_mentors %}
			<p>{{ approval.mentor.public_name }} &lt;{{ approval.mentor.account.email }}&gt;</p>
			{% include "home/snippet/mentor_approval_warnings.html" %}
			{% if approval.approval_status != approval.APPROVED %}
			<a href="{{ approval.get_approve_url }}" class="btn btn-success">Approve Mentor</a>
			{% endif %}
			{% if approval.approval_status != approval.REJECTED %}
			<a href="{{ approval.get_reject_url }}" class="btn btn-warning">Reject Mentor</a>
			{% endif %}
			{% include "home/snippet/mentor_info.html" %}
		{% endfor %}
	{% endif %}

	{% if approved_mentors %}
		<h3>Review Approved Mentors</h3>
		{% for approval in approved_mentors %}
			<p>{{ approval.mentor.public_name }} &lt;{{ approval.mentor.account.email }}&gt;</p>
			{% include "home/snippet/mentor_approval_warnings.html" %}
			<a href="{{ approval.get_reject_url }}" class="btn btn-warning">Reject Mentor</a>
			{% include "home/snippet/mentor_info.html" %}
		{% endfor %}
	{% endif %}

{% endif %}

<h2>Project Information</h2>

{% if project|is_submitter:request.user %}
	<p><a class="btn btn-primary" href="{{ project.get_submit_url }}">Edit Project Info</a></p>
{% endif %}

{% if coordinator or mentor_request and mentor_request.approval_status == mentor_request.APPROVED %}
	<div class="card">
		<div class="card-header">Preview - Project Information for Applicants</div>
		<div class="card-body">
			<p>This information will be displayed to the applicants on the project landing page.</p>
			<h3>Project Description</h3>
			<p>{{ project.short_title }}</p>
			{{ project.long_description|safe }}

			{{ project.intern_tasks|safe }}

			{{ project.intern_benefits|safe }}

			<h3>Applicant Status</h3>
			{% if project.accepting_new_applicants %}
				<p>This project is open to new Outreachy applicants.</p>
			{% else %}
				<p>This project is closed to new Outreachy applicants.</p>
			{% endif %}

			{% if required_skills %}
				<h3>Required Skills</h3>
				<p>{{ required_skills.0.get_required_display }}</p>
				<table class='table table-bordered'>
					<tr><th>Skill description</th><th>Experience Level</th></tr>
				{% for skill in required_skills %}
					<tr><td>{{ skill.skill }}</td><td>{{ skill.get_experience_level_display }}</td></tr>
				{% endfor %}
				</table>
			{% endif %}

			{% if preferred_skills %}
				<h3>Preferred Skills</h3>
				<p>{{ preferred_skills.0.get_required_display }}</p>
				<table class='table table-bordered'>
					<tr><th>Skill description</th><th>Experience Level</th></tr>
				{% for skill in preferred_skills %}
					<tr><td>{{ skill.skill }}</td><td>{{ skill.get_experience_level_display }}</td></tr>
				{% endfor %}
				</table>
			{% endif %}

			{% if bonus_skills %}
				<h3>Bonus Skills</h3>
				<p>{{ bonus_skills.0.get_required_display }}</p>
				<table class='table table-bordered'>
					<tr><th>Skill description</th><th>Experience Level</th></tr>
				{% for skill in bonus_skills %}
					<tr><td>{{ skill.skill }}</td><td>{{ skill.get_experience_level_display }}</td></tr>
				{% endfor %}
				</table>
			{% endif %}

			<h3>Who will I work with?</h3>
			<p>Each Outreachy intern works remotely with one or more mentors. Outreachy mentors typically only are a mentor for only one intern per round. Mentors are your guides in learning more about free and open source software, technical and non-technical skills, and will always be there when you get stuck.</p>

			{% if approved_mentors %}
				<p>You'll be working with the following mentor{{ approved_mentors|length|pluralize }}:</p>
				{% for approval in approved_mentors %}
					{% include "home/snippet/mentor_info_for_landing.html" with approval=approval only %}
				{% endfor %}
			{% endif %}
			<p>Please contact the mentors for this internship project to get information on how you can make a contribution during the application process. Only applicants who make a contribution will be accepted as interns.</p>

			<h3>Interacting with the {{ community.name }} Community</h3>
			<p>Applicants and interns' contributions are often reviewed by community members other than your mentor. Community members are there to answer your questions, give you feedback, and help you grow your skills.
			<p>During this internship project, you'll be interacting with a team of {{ project.get_community_size_display }}. The community has been accepting contributions from people from around the world for {{ project.get_longevity_display }}.</p>

			<p>Contributors to Free and Open Source Software (FOSS) projects discuss issues, documentation, user experience, and feature design in public communication channels.
			Mentors are available to help applicants both on public project channels, and via private message or email.
			Mentors understand that applicants may be hesitant to participate and ask questions in public,
			but we hope you'll introduce yourself on the public project channels and ask for help when you get stuck.
			</p>
			{% for channel in project.communicationchannel_set.all %}
				<p>
				This team uses {{ channel.tool_name }} to communicate.
				{% if channel.communication_help %}
					You can find helpful documentation about this communication tool <a href="{{ channel.communication_help }}">here</a>. 
				{% endif %}
				{% if channel.communication_norms %}
					Once you join the project's communication channel,
					the mentors have some additional instructions for you to follow. {{ channel.communication_norms|safe }}
				{% endif %}
				{% if channel.communication_url %}
					You can join this project's communication channel by <a href="{{ project.communication_url }}">following this link</a>.
				{% endif %}
				<p>
			{% endfor %}

			<h3>Project Contribution Information</h3>
			<p>As part of the application process, all applicants must make at least one contribution to be accepted as an intern for this project.</p>
			<p>
			{% if project.repository %}
				Applicants can contribute to this project through <a href="{{ project.repository }}">the project repository or contribution page</a>.
			{% else %}
				Applicants will need to contact project mentors to get information about the project repositories.
			{% endif %}
			{% if project.issue_tracker %}
				The project uses an <a href="{{ project.issue_tracker }}">issue tracker</a> to keep information about bugs to fix, project features to implement, documentation to write, and more.
				{% if project.newcomer_issue_tag %}
					Applicants can look for newcomer-friendly issues to use for their first contributions by looking for the following issue tags in the <a href="">project issue tracker</a>:
					{{ project.newcomer_issue_tag }}
				{% else %}
					Applicants will need to contact a mentor to find out how they can make their first contributions to the project.
				{% endif %}
			{% endif %}
			</p>
			{{ project.contribution_tasks|safe }}
		</div>
	</div>

	<br>
	<h3>Project Information for Coordinators</h3>
	<p>This project information is used by coordinators to determine if the project is appropriate for Outreachy. The information will not be displayed to applicants.</p>
	<ul>
		<li>Project has been accepting external contributions for: {{ project.get_longevity_display }}</li>
		<li>Number of people contributing to this project regularly: {{ project.get_community_size_display }}</li>
		{% if project.intern_benefits %}
			<li>Interns will learn about: {{ project.intern_benefits }}</li>
		{% else %}
			<li>Mentor did not provide information about what the interns will learn from this project.</li>
		{% endif %}
		{% if project.community_benefits %}
			<li>The FOSS community will benefit from this project because: {{ project.intern_benefits }}</li>
		{% else %}
			<li>Mentor did not provide information about how the FOSS community will benefit from this project.</li>
		{% endif %}
		{% if not project.approved_license %}
			<li>Licenses: This project uses a license that is NOT an OSI-approved license or Creative Commons license.</li>
		{% else %}
			<li>Licenses: OSI-approved license or Creative Commons license.</li>
		{% endif %}
	</ul>
{% else %}
	<p>{{ project.short_title }}</p>
	<p>Full project details are only available for coordinators and approved project mentors, in order to ensure applicants don't contact mentors until the project is approved and the Outreachy application period opens. If you're an applicant, please wait for projects to appear on the <a href="{{ current_round.url }}">current internship round page</a>!</p>
{% endif %}

<h3>Project Mentors</h3>
{% if mentor_request %}
	<p>Your request to mentor this project is:
	<strong>{{ mentor_request.get_approval_status_display }}</strong></p>

	{% if mentor_request.approval_status == mentor_request.PENDING or mentor_request.approval_status == mentor_request.APPROVED %}
	<a href="{{ mentor_request.get_withdraw_url }}" class="btn btn-warning">Withdraw From Mentoring</a>
	{% elif mentor_request.approval_status == mentor_request.WITHDRAWN %}
	<a href="{{ mentor_request.get_submit_url }}" class="btn btn-success">Mentor This Project</a>
	{% endif %}

{% else %}
	<a href="{% url 'mentorapproval-action' action='submit' community_slug=community.slug project_slug=project.slug %}" class="btn btn-success">Mentor This Project</a>
{% endif %}

{% endblock %}
