{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-roundindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {# I think there's a way to conditionally add the ul tags only if there's page children, but meh for now. #}
    <ul>
    {% for round in page.get_children %}
	{# Rounds may have spread the word pages as children, so instead of using get_children, we should do http://docs.wagtail.io/en/v1.11.1/topics/pages.html#customising-template-context #}
        <li><a href="{% pageurl round %}">Round {{ round.specific.roundnumber }}</a> ({{ round.specific.internshipstartdate }} - {{ round.specific.internshipenddate }}) {{ round.get_children|length }} FOSS communities offered internships
        </li>
    {% endfor %}
    </ul>

{% endblock %}
