{% extends "base.html" %}
{% load static %}

{% block title %}
Outreachy Internships | Apply | Pick a Project
{% endblock %}

{% block content %}

{% comment %}Is the round not open yet, and this is a mentor or coordinator?{% endcomment %}
	{% if not current_round %}
		{% include "home/snippet/round_closed.html" %}
	{% elif not current_round.has_application_period_started %}
		{% include "home/snippet/round_not_open.html" %}
	{% elif not approved_volunteer %}
		{% include "home/snippet/eligibility_prompts.html" %}
	{% endif %}

<p><a href="/apply/">Why apply to Outreachy?</a> &gt;
{% if current_round and not request.user.comrade or request.user.comrade.needs_application %}
	<a href="{% url 'eligibility' %}">Start your initial application</a>
{% elif current_round and application.is_rejected or application.is_pending %}
	<a href="{% url 'eligibility-results' %}">Review your initial application</a>
{% else %}
	<a href="/apply/eligibility/">Outreachy Eligibility Rules</a>
{% endif %}
	 &gt; Find a Mentor and Internship Project</p>

{% if current_round %}
	<h1>Outreachy {{ current_round.internstarts|date:"F Y" }} to {{ current_round.internends|date:"F Y" }} Internships</h1>
	<h2>Timeline</h2>
	<table class=table>
		<tr><td>{{ current_round.appsopen }}</td><td>Applicants start making contributions to internship projects</td></tr>
		<tr><td>{{ current_round.lateorgs }}</td><td>Last date for new mentoring community listings</td></tr>
		<tr><td>{{ current_round.ProjectsDeadline }}</td><td>Last date for mentors to submit new internship project listings</td></tr>
		<tr><td>{{ current_round.appsclose }} at 4pm UTC</td><td>Application deadline. Last day to finish any contributions to internship projects. Applications who made a contribution must submit the rest of their project application by this date.</td></tr>
		<tr><td>{{ current_round.appslate }} at 4pm UTC</td><td>Late application deadline for specific projects (see below for which projects are accepting late applications)</td></tr>
		<tr><td>{{ current_round.appsclose }} to {{ current_round.internannounce }}</td><td>Applicants are encouraged to continue making contributions</td></tr>
		<tr><td>{{ current_round.internannounce }}</td><td>Accepted interns announced on <a href"/alums/">the alums page</a> at 4pm UTC</td></tr>
		<tr><td>{{ current_round.internstarts }} to {{ current_round.internends }}</td><td>Internships period</td></tr>
	</table>
	{% include 'home/snippet/payment_schedule.html' %}
	{{ current_round.sponsordetails|safe }}
{% else %}
	{% include 'home/snippet/generic_timeline.html' %}
{% endif %}

<h1>Preparing for the Application Process</h1>
<p>You can read about what it's like to apply to Outreachy:
<ul>
	<li><a href="/apply/#how-to-apply">Outreachy's application process</a></li>
	<li><a href="/blog/outreachy-interns-talk-about-application-process/">December 2018 Outreachy interns talk about the application process</a></li>
	<li><a href="https://medium.freecodecamp.org/get-the-most-out-of-your-outreachy-application-process-937d4a8ab4bf">Get the most out of your Outreachy intern application process</a></li>
	<li><a href="https://medium.freecodecamp.org/outreachy-what-how-why-4fb60d10a228">How I got into the Outreachy open source internship program</a></li>
	<li><a href="https://blog.ihsavru.me/node/9">Application tips from an Outreachy intern who just completed their internship</a></li>
	<li><a href="http://exploreshaifali.github.io/2015/06/08/getting-into-summer-of-code-programs/">Getting into Summer of Code Programs</a></li>
	<li><a href="http://www.litacho.com/opw_the_end.html">The end of my internship</a> - note that Outreachy used to be called OPW</li>
	<li><a href="https://web.archive.org/web/20130410022646/http://anteaya.info/blog/2013/03/29/suggestions-for-gnome-opw-applicants">Suggestions for Outreachy Applicants</a></li>
</ul>
</p>

{% if previous_round %}
	<p>You may want to brush up on your skills for contributing to free and open source software communities. Each project will use a different set of skills, and some mentors may be willing to teach you skills. Projects and the skills they use change each round. The most common skills used in projects last round were:
	<ul>
		{% for common_skill in previous_round.get_common_skills %}
		{% if common_skill.1 > 2 %}<li>{{ common_skill.0 }} - {{ common_skill.1 }} project{{ common_skill.1|pluralize }}</li>{% endif %}
		{% endfor %}
	</ul>
	</p>
{% endif %}

<p>You may also want to purchase a DRM-free copy of <a href="https://pragprog.com/book/vbopens/forge-your-future-with-open-source">"Forge Your Future With Open Source"</a> by VM (Vicky) Brasseur.</p>
{% if current_round and not current_round.has_application_period_started %}
	<h1>Projects will be listed soon!</h1>
	<p>The list of Outreachy projects for the {{ current_round.official_name }} will be available to applicants on {{ current_round.appsopen }}.</p>
{% endif %}

{% if application.is_approved %}
	{% if not current_round.has_application_deadline_passed %}
		<h2>Finding a Mentor and an Internship Project</h2>
		<p><img src="{% static 'bot-find-a-mentor.png' %}"></p>
		<p>
		The next step
		in the Outreachy application process is to look through the list of
		participating communities and internship projects, and pick one
		or two projects that looks interesting to you.  Then you'll
		start working on a contribution for the project.
		</p>
		<p>
		Only applicants that make a contribution to a project
		will be accepted as an intern, so it's good to not pick too
		many projects to apply to.
		We don't recommend applying to more than two projects.
		</p>
		<p>
		Many people apply to communities that are accepting multiple
		interns in order to increase their chances of getting accepted.
		However, when all the applicants think that way, it means
		projects that are only accepting one intern don't get a lot of
		applicants. You should pick a project that looks interesting to
		you, and will help you improve the skills you want to learn.
		</p>
		<p>
		Many people get overwhelmed with the list of projects and don't
		know how to choose a project! Our advice is to pick a project
		whose mission resonates with you.
		</p>
		<p>
		Once you've narrowed down you list of projects,
		you can decide whether the project is right for you by:
		</p>
		<ul>
			<li>
			Introduce yourself to the project's mentor and discuss
			the internship tasks or contribution tasks listed in the project details.
			Outreachy mentors are friendly and welcome your questions!
			</li>
			<li>
			Reading the project's wiki page
			</li>
			<li>
			Lurking on the project's chat, forum, or IRC
			channel (if your project uses IRC and you've
			never used it before, you can read more <a
			href="https://wiki.gnome.org/Outreachy/IRC">here</a>)
			</li>
			<li>
			Building any software projects
			and running them to check out its latest capabilities (the
			project website usually has the instructions for doing
			this, but don't hesitate twice to ask the project's
			mentor or people on the project's chat forums for help
			if you encounter any problems)
			</li>
			<li>
			Looking at the open issues or feature requests for the project
			</li>
			<li>
			Looking at the recent changes in the project's repository
			or recent contributions pages.
			</li>
			<li>
			Reading the recent discussion on the project's mailing list or forum.
			</li>
			<li>
			Reading the blogs of the project's mentor and other project contributors.
			</li>
		</ul>
		<p>
		If you don't see a project that looks interesting to you, check
		back once a week. Outreachy often adds projects after the
		application period opens. If you
		<a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/announce">sign up for the announcements mailing list</a>,
		you'll get an email mid-application period when
		new projects are added.
		</p>
		<h2>Making Contributions</h2>
		<p><img src="https://www.outreachy.org/media/images/bot-contribution.original.png"></p>
		<p>
		Once you've picked a project that looks interesting to you,
		proceed to the next application process step, which is to start
		your contribution to the project.  You should record your
		in-progress contributions by logging them from the Outreachy
		community landing pages linked from this page.  Only applicants with
		recorded contributions will be eligible to be accepted as
		interns.
		</p>
		<p>
		Make your contributions early! Many applicants under-estimate
		the time it will take to complete a contribution.
		If a mentor with a popular project is working with several
		promising applicants, they may close the project to new applicants.
		</p>
	{% else %}
		{% include 'home/snippet/deadline_passed.html' %}
	{% endif %}
{% endif %}
{% if ontime_projects or late_projects %}
	{% if ontime_projects and not current_round.has_ontime_application_deadline_passed or late_projects and not current_round.has_late_application_deadline_passed %}
		<h2 id="open-projects">Outreachy Open Projects</h2>
	{% else %}
		<h2 id="open-projects">Past Outreachy Projects</h2>
	{% endif %}

	<p>Each project mentor looks for applicants who have
	different skills. Sometimes a skill is a hard requirement for
	an applicant to have. Other times, a mentor might prefer an
	applicant to have a skill, but they would accept an applicant
	as an intern who didn't have that skill. Some skills are "nice
	to have" meaning it would be great if applicants have this
	skill, but the mentor doesn't have a strong preference.</p>

	<p>Each project will require a different level of experience with a particular skill. Experience levels are indicated with numbers:
	<br>
		{% for i in example_skill.EXPERIENCE_CHOICES %}
			<br><button type="button" class="btn btn-info">{{ forloop.counter }}</button> {{ i.1 }}
		{% endfor %}
	</p>
	{% if late_projects %}
		{% if not current_round.has_late_application_deadline_passed %}
			<h3>Applications Due {{ current_round.appslate }} at 4pm UTC</h3>

			<p> The following projects have an extended deadline, and will be accepting contributions and applications from new
			applicants until {{ current_round.appslate }} at 4pm UTC.</p>
		{% else %}
			<h3>Applications Closed {{ current_round.appslate }} at 4pm UTC</h3>
		{% endif %}
	{% endif %}
	
	{% for community, funded_interns, projects in late_projects %}
		<h4>{{ community.name }} - {{ funded_interns }} intern{{ funded_interns|pluralize }}</h4>
		<p>{{ community.description }}</p>
		{% if application.is_approved or request.user.comrade.approved_volunteer %}
			{% if not current_round.has_late_application_deadline_passed %}
				<p>Learn how to make a contribution to these internship projects on the
			{% else %}
				<p>Learn more on the
			{% endif %}
			<a href="{% url 'community-landing' round_slug=current_round.slug community_slug=community.slug %}">{{ community.name }} community landing page</a>.</p>
		{% else %}
			{% include 'home/snippet/project_hidden.html' %}
		{% endif %}
		{% with project_status="" %}
			{% include 'home/snippet/projects_for_round_page.html' %}
		{% endwith %}
	{% endfor %}

	{% if ontime_projects %}
		{% if not current_round.has_ontime_application_deadline_passed %}
			<h3>Applications Due {{ current_round.appsclose }} at 4pm UTC</h3>

			<p> The following projects are accepting contributions and applications from new
			applicants until {{ current_round.appsclose }} at 4pm UTC.</p>
		{% else %}
			<h3>Applications Closed {{ current_round.appsclose }} at 4pm UTC</h3>
		{% endif %}
	{% endif %}
	
	{% for community, funded_interns, projects in ontime_projects %}
		<h4>{{ community.name }} - {{ funded_interns }} intern{{ funded_interns|pluralize }}</h4>
		<p>{{ community.description }}</p>
		{% if application.is_approved or request.user.comrade.approved_volunteer %}
			{% if not current_round.has_ontime_application_deadline_passed %}
				<p>Learn how to make a contribution to these internship projects on the
			{% else %}
				<p>Learn more about the {{ community.name }} on the
			{% endif %}
			<a href="{% url 'community-landing' round_slug=current_round.slug community_slug=community.slug %}">{{ community.name }} community landing page</a>.</p>
		{% else %}
			{% include 'home/snippet/project_hidden.html' %}
		{% endif %}
		{% with project_status="" %}
			{% include 'home/snippet/projects_for_round_page.html' %}
		{% endwith %}
	{% endfor %}
{% endif %}
{% if mentors_pending_projects %}
	<h2>Your Pending Outreachy Internship Projects</h2>

	<p>
	Your projects are pending approval by the community coordinator.
	This is how they will be displayed on this page,
	once they have been approved and the application round opens.
	</p>

	{% with project_status="pending " projects=mentors_pending_projects %}
		{% include 'home/snippet/projects_for_round_page.html' %}
	{% endwith %}
{% endif %}
{% if closed_projects %}
	{% if not current_round.has_ontime_application_deadline_passed %}
		<h2>Closed Outreachy Internship Projects</h2>

		<p>
		The projects in this section already have many strong
		candidates they have worked with. If you are just starting out
		with the Outreachy application process, we don't suggest you
		apply for these projects. If you have been working with the
		project mentors, please continue to work with them. Make sure
		to submit your in-progress contributions through the community
		landing page, and complete your final project application.
		</p>
	{% else %}
		<h2>Closed Early - Outreachy Internship Projects</h2>
		<p>
		The following projects were closed to new applicants before
		the application deadline of {{ current_round.appsclose }} at 4pm UTC.
		This typically means the mentors were working with many promising
		applicants early in the application period. In future rounds,
		applicants should make sure to start their contributions early
		to similar projects.
	{% endif %}

	{% for community, projects in closed_projects %}
		<h3>{{ community.name }}</h3>
		<p>{{ community.description }}</p>
		{% if application.is_approved or request.user.comrade.approved_volunteer %}
			<p>Document your contributions to these internship projects on the
			<a href="{% url 'community-landing' round_slug=current_round.slug community_slug=community.slug %}">{{ community.name }} community landing page</a>.</p>
		{% endif %}
		{% with project_status="closed " %}
			{% include 'home/snippet/projects_for_round_page.html' %}
		{% endwith %}
	{% endfor %}
{% endif %}
{% endblock %}
