{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-roundindexpage{% endblock %}

{% block content %}

<p><a href="/apply/">Why apply to Outreachy?</a> &gt;
{% if not request.user.comrade or request.user.comrade.needs_application %}
	<a href="{% url 'eligibility' %}">Start your initial application</a>
{% elif application.is_rejected or application.is_pending %}
	<a href="{% url 'eligibility-results' %}">Review your initial application</a>
{% else %}
	<a href="/apply/eligibility/">Outreachy Eligibility Rules</a>
{% endif %}
&gt; <a href="/apply/project-selection/">Find a Mentor and Internship Project</a>
&gt; Past Outreachy Rounds</a>
</p>

	<h1>Outreachy {{ page.specific.internstarts|date:"F Y" }} to {{ page.specific.internends|date:"F Y" }} Internships</h1>

	<p>For the current list of internships, <a href="/apply/project-selection">see the current round page</a></p>
       
	<p>The timeline for this round is:</p>

	<table class=table>
		<tr><td>{{ page.specific.landingdue }}</td><td>Most FOSS communities will be listed</td></tr>
		<tr><td>{{ page.specific.appsopen }}</td><td>Applications open</td></tr>
		<tr><td>{{ page.specific.lateorgs }}</td><td>Last date for new FOSS community listings</td></tr>
		<tr><td>{{ page.specific.appsclose }}</td><td>Applications and contributions deadline</td></tr>
		<tr><td>{{ page.specific.appslate }}</td><td>Deadline for late applications and contributions for specific projects (see below for which projects are accepting late applications)</td></tr>
		<tr><td>{{ page.specific.appsclose }} to {{ page.specific.internannounce }}</td><td>Applicants are encouraged to continue making contributions for the project they applied for</td></tr>
		<tr><td>{{ page.specific.internannounce }}</td><td>Accepted interns announced on this page at 4pm UTC</td></tr>
		<tr><td>{{ page.specific.internstarts }} to {{ page.specific.internends }}</td><td>Internships period</td></tr>
	</table>
	{% with current_round=page %}
		{% include 'home/snippet/payment_schedule.html' %}
	{% endwith %}
	{{ page.specific.sponsordetails|richtext }}

	{% with communities=page.get_approved_communities %}
	{% if communities %}
		<h1>Past Participating Communities</h1>
		{% for community in page.get_approved_communities %}
			<h4>{{ community.name }}</h4>
			<p>{{ community.description }}</p>
			{% if page.has_intern_announcement_deadline_passed %}
				<p>Learn more on the <a href="{% url 'community-landing' round_slug=page.slug community_slug=community.slug %}">{{ community.name }} community landing page</a>.</p>
			{% endif %}
		{% endfor %}
	{% endif %}
	{% endwith %}
{% endblock %}
