{% extends "base.html" %}

{% block title %}
Send {{ view.description }}
{% endblock %}

{% block content %}
<p>You're about to send {{ messages|length }} emails. Please check that these are the messages you want to send.</p>

{% if urls %}
<p>These messages include the following links; are the links correct?</p>
<ul>
	{% for link in urls %}
	<li><a href="{{ link }}" rel="noopener">{{ link }}</a></li>
	{% endfor %}
</ul>
{% endif %}

<div class="email-preview">
{% for message in messages %}
<div class="card">
<div class="card-body">
<pre>
{{ message.message }}
</pre>
</div>
</div>
{% endfor %}
</div>

<form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="Send {{ view.description }}" />
</form>
{% endblock %}
