{% extends "base.html" %}
{% load humanize %}

{% block title %}
Sponsor info for {{ current_round.official_name }}
{% endblock %}

{% block content %}

<h1>Sponsorship information</h1>

<div class="container">
	<div class="row justify-content-center">
		<div class="col">
			{% if previous_round %}
			<a href="{% url 'sponsor-info' round_slug=previous_round.slug %}"><button type="button" class="btn btn-primary">« previous cohort</button></a>
			{% else %}
				<button type="button" class="btn btn-secondary">« previous cohort</button>
			{% endif %}
		</div>
		<div class="col">
			{{ current_round.internstarts|date:"F Y" }} to {{ current_round.internends|date:"F Y" }}
		</div>
		<div class="col">
			{% if next_round %}
				<a href="{% url 'sponsor-info' round_slug=next_round.slug %}"><button type="button" class="btn btn-primary">next cohort »</button></a>
			{% else %}
				<button type="button" class="btn btn-secondary">next cohort »</button>
			{% endif %}
		</div>
	</div>
</div>

{% if request.user.is_staff %}
	<h2>Sponsor Summary</h2>

	<p><b>Emoji status:</b></p>
	<ul>
		<li>✅ invoice request sent to Conservancy</li>
		<li>🤝🏽 logo placed on Outreachy website</li>
		<li>📩 Outreachy team sent mail about issue - please include date email was sent</li>
		<li>🏦 invoicing details needed</li>
		<li>🪧 logo needed</li>
		<li>🤷🏾 uncommitted sponsorship</li>
		<li>🚨 urgent issue</li>
	</ul>
	<p><a href="https://tix.sfconservancy.org/rt/Search/Results.html?Format=%27%3Cb%3E%3Ca%20href%3D%22__WebPath__%2FTicket%2FDisplay.html%3Fid%3D__id__%22%3E__id__%3C%2Fa%3E%3C%2Fb%3E%2FTITLE%3A%23%27%2C%0A%27%3Cb%3E%3Ca%20href%3D%22__WebPath__%2FTicket%2FDisplay.html%3Fid%3D__id__%22%3E__Subject__%3C%2Fa%3E%3C%2Fb%3E%2FTITLE%3ASubject%27%2C%0A-Status%2C%0AQueueName%2C%0AOwner%2C%0APriority%2C%0A%27__NEWLINE__%27%2C%0A%27__NBSP__%27%2C%0A%27%3Csmall%3E__Requestors__%3C%2Fsmall%3E%27%2C%0A%27%3Csmall%3E__CreatedRelative__%3C%2Fsmall%3E%27%2C%0A%27%3Csmall%3E__ToldRelative__%3C%2Fsmall%3E%27%2C%0A%27%3Csmall%3E__LastUpdatedRelative__%3C%2Fsmall%3E%27%2C%0A%27%3Csmall%3E__TimeLeft__%3C%2Fsmall%3E%27&Order=DESC&OrderBy=Created&Page=1&Query=Queue%20%3D%20%27accounts-receivable%27%20AND%20CF.%7Bproject%7D%20LIKE%20%27Outreachy%27&Rows=50&SavedChartSearchId=new&SavedSearchId=RT%3A%3AUser-60354-SavedSearch-3027" target="_blank">Open Outreachy RT invoice queue ↗️</a></p>
	<table class="table table-striped table-bordered">
		<th scope="col">Edit</th>
		<th scope="col">Status</th>
		<th scope="col">RT #</th>
		<th scope="col">Sponsor</th>
		<th scope="col">Amount</th>
		<th scope="col">Community</th>
		{% for s in sponsors_alpha %}
		{% if s.funding_secured %}<tr>{% else %}<tr class="table-warning">{% endif %}
				<td><a href="{% url 'edit-sponsorship' pk=s.pk %}?next={{ request.path|urlencode }}"><button type="button" class="btn btn-primary">✏️ Edit</button></a></td>
				<td>{{ s.status }}</td>
				<td>{% if s.ticket_number %}<a href='https://tix.sfconservancy.org/rt/Ticket/Display.html?id={{ s.ticket_number }}'</a>{{ s.ticket_number }}</a>{% endif %}</td>
				<td>
					<p>{{ s.name }}</p>
					{% if s.organizer_notes %}
					<p><b>Notes:</b></p>
					{{ s.organizer_notes|safe }}
					{% endif %}
				</td>
				<td>{{ s.amount }}</td>
				{% if s.participation.approval_status == s.participation.APPROVED %}
					<td><a href="#{{ s.participation.community.slug }}">{{ s.participation.community }}</a></td>
				{% else %}
					<td><a href="#{{ s.participation.community.slug }}>"{{ s.participation.community }}</a> <span class="badge badge-pill badge-info">pending</span></td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>

	<h2>Community Sponsors</h2>
	{% for community, sponsor_set, number_interns_approved, total_funding_needed in community_sponsors %}
		{% if sponsor_set.0.participation.approval_status == sponsor_set.0.participation.APPROVED %}
			<hr><h3 id='{{ community.slug }}'>{{ community }}</h3>
		{% else %}
			<hr><h3 id='{{ community.slug }}'>{{ community }} <span class="badge badge-pill badge-info">pending</span></h3>
		{% endif %}
		<p>${{ total_funding_needed|intcomma }} total funding needed for {{ number_interns_approved }} approved interns. <a href="{% url 'sponsor-info-details' round_slug=current_round.slug community_slug=community.slug %}">Sponsorship details and revision history.</a></p>
		
		<ul>
			{% for s in sponsor_set %}
				<li>
					{% if not s.funding_secured %}<span class="badge badge-pill badge-warning">Unconfirmed</span> {% endif %}
					{{ s.name }}: ${{ s.amount|intcomma }}
					"Charitable donation for sponsorship of {{ s.number_interns|floatformat }}
					intern{{ s.number_interns|pluralize:",(s)"}} for {{ s.participation.community }}
					in the {{ s.participation.participating_round.internstarts|date:"F Y" }} internship round"
				</li>
			{% endfor %}
		</ul>


	{% endfor %}
{% endif %}
{% endblock %}
