{% extends "base.html" %}
{% load approval_status %}
{% load humanize %}

{% block title %}
Outreachy Sponsorship Leads
{% endblock %}

{% block content %}

<h1>Outreachy sponsorship leads</h1>

{% with current_round=participation.participating_round %}
	{% include 'home/snippet/funding_short_description.html' %}
{% endwith %}

<p>If you know of any organizations that may want to donate to Outreachy, please fill out the form below.</p>

<p><form action="" method="post">
	{% csrf_token %}
	{{ form.management_form }}
	{% for f in form %}
		{% with forloop.counter as sponsor_number %}
		<h2>Outreachy Sponsorship Lead #{{ sponsor_number }}</h2>
		<p>If you do not know of any potential Outreachy sponsors, please leave this form blank.</p>
		{{ f.media }}
		{% for hidden in f.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in f.visible_fields %}
			{% if 'Funding secured' in field.label_tag %}
				<div class="form-group card">
					<div class="card-header">
						{{ field.label_tag }}
					</div>
					<div class="card-body">
						{{ field }}
						{{ field.help_text|safe }}
					</div>
				</div>
			{% elif 'Delete' in field.label_tag %}
				<div class="form-group card border-warning">
					<div class="card-header text-white bg-warning">
						Delete Sponsor {{ sponsor_number }}?
					</div>
					<div class="card-body">
						{{ field }} Check this box to delete this sponsorship information.
						{{ field.help_text|safe }}
					</div>
				</div>
			{% elif 'full legal name' in field.label_tag %}
				<div class="form-group card">
					{{ field.errors }}
					<div class="card-header">
						What is the name of the sponsoring organization or company?
					</div>
					<div class="card-body">
						{{ field }}
					</div>
					{% if field.help_text %}
						<div class="card-footer bg-white">{{ field.help_text|safe }}</div>
					{% endif %}
				</div>
			{% elif 'representative of the sponsor' in field.label_tag %}
				<div class="form-group card">
					{{ field.errors }}
					<div class="card-header">
						Are you a representative of the sponsor?
					</div>
					<div class="card-body">
						{{ field }}
					</div>
					{% if field.help_text %}
						<div class="card-footer bg-white">{{ field.help_text|safe }}</div>
					{% endif %}
				</div>
			{% elif 'program activities' in field.label_tag %}
			<p><u>Donation amount from Sponsor #{{ sponsor_number }}</u></p>
			<p>If you are a representative of the sponsoring organization, please tell us how the sponsor wants to direct its donation by filling out the donation amounts below.</p>
			<p>If you are not a representative of the sponsoring organizations, leave the donation amounts at zero. Outreachy will follow up with the sponsor to confirm their donation amount.</p>
				<div class="form-group card">
					{{ field.errors }}
					<div class="card-header">
						{{ field.label_tag }}
					</div>
					<div class="card-body">
						{{ field }}
						<br>
						<p>Your donation to the Outreachy program activities helps us retain Outreachy interns in open source.</p>
					</div>
				</div>
			{% elif 'Donation amount ($ USD) for all Outreachy internships' in field.label_tag %}
				<div class="form-group card">
					{{ field.errors }}
					<div class="card-header">
						Donation amount ($ USD) for all Outreachy internships:
					</div>
					<div class="card-body">
						{{ field }}
						<br>
						<p>Your donation towards Outreachy internships are placed into one temporarily earmarked fund for <i>all Outreachy internships with any open source community</i>. This donation tracking method reduces our bookkeeping overhead and helps ease the burden on our small accounting team.</p>
					</div>
				</div>
			{% elif 'Donation amount ($ USD) for other' in field.label_tag %}
				<div class="form-group card">
					<div class="card-header">
						{{ field.label_tag }}
					</div>
					<div class="card-body">
						{{ field.errors }}
						{{ field }}
						<br>
						<p>Note that more restrictive earmarks will require additional information. Please summarize how the sponsoring organization would like to donate to Outreachy and we will follow up:</p>
			{% elif 'Donation for other information' in field.label_tag %}
						{{ field.errors }}
						{{ field }}
					</div>
				</div>
			{% elif 'Sponsor relationship' in field.label_tag %}
				<p><u>Information about Sponsor #{{ sponsor_number }}</u>
				<div class="form-group card">
					{{ field.errors }}
					<div class="card-header">
						What is the sponsoring organization's relationship with you?
					</div>
					<div class="card-body">
						{{ field }}
					</div>
					<div class="card-footer bg-white">Please tell us your name and what your relationship to the sponsoring organization is. Examples:
						<ul>
							<li>"I am Ndidi Adebayo, and I'm on the board of directors of the sponsor organization."</li>
							<li>"I am Shristi Gupta, and I work at Foo Company. I think my engineering department at Foo Company may be willing to sponsor Outreachy. I will connect you with my manager."</li>
						</ul>
					</div>
				</div>
			{% elif 'Sponsor contact' in field.label_tag %}
				<div class="form-group card">
					{{ field.errors }}
					<div class="card-header">
						Who should we contact at the sponsoring organization to confirm this donation?
					</div>
					<div class="card-body">
						{{ field }}
					</div>
					<div class="card-footer bg-white">Please provide the name, email address, and role or job title of the person at the organization who is the financial decision maker for this donation to Outreachy. Please let us know whether we should contact you before reaching out to this contact.</div>
				</div>
			{% elif 'Due date' in field.label_tag %}
				<p><u>(Optional) Donation details for Sponsor #{{ sponsor_number }}</u></p>
				<div class="form-group card">
					<div class="card-header">
						Due date
					</div>
					<div class="card-body">
						<p>What is the deadline to provide an invoice to the sponsoring organization?<p>
						{{ field.errors }}
						{{ field }}
			{% elif 'Information about due dates' in field.label_tag %}
			<p>Please provide any additional information about due dates for this sponsorship:</p>
						{{ field.errors }}
						{{ field }}
					</div>
				</div>
			{% elif 'Legal info' in field.label_tag %}
				<div class="form-group card">
					{{ field.errors }}
					<div class="card-header">
						Will the sponsoring organization require additional legal agreements before we can accept this donation?
					</div>
					<div class="card-body">
						{{ field }}
					</div>
					<div class="card-footer bg-white">
						Please provide more details if this donation is associated with a grant or other external financial arrangement. Let us know if the sponsoring company will require us to fill out a vendor agreement. This information helps us prioritize sponsorships that might require more lead time.
					</div>
				</div>
			{% else %}
				<div class="form-group card">
					{{ field.errors }}
					<div class="card-header">
						{{ field.label_tag }}
					</div>
					<div class="card-body">
						{{ field }}
					</div>
					{% if field.help_text %}
						<div class="card-footer bg-white">{{ field.help_text|safe }}</div>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
		{% endwith %}
	{% endfor %}
	<div class="my-5">
		<input type="submit" class="btn btn-block btn-primary" value="Save" />
		<input type="hidden" name="next" value="{{ next }}" />
	</div>
</form></p>
{% include "home/snippet/privacy_policy.html" %}


{% endblock %}
