{% extends "base.html" %}
{% load humanize %}

{% block title %}
Sponsor info for {{ current_round.official_name }}
{% endblock %}

{% block content %}
{% if request.user.is_staff %}
	<h2>Sponsor Summary</h2>

	<table class="table table-striped table-bordered">
		<th scope="col">Sponsor</th>
		<th scope="col">Amount</th>
		<th scope="col">Community</th>
		{% for s in sponsors_alpha %}
		{% if s.funding_secured %}<tr>{% else %}<tr class="table-warning">{% endif %}
				<td>{{ s.name }}</td>
				<td>{{ s.amount }}</td>
				{% if s.participation.approval_status == s.participation.APPROVED %}
					<td>{{ s.participation.community }}</td>
				{% else %}
					<td>{{ s.participation.community }} <span class="badge badge-pill badge-info">pending</span></td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>

	<h2>Community Sponsors</h2>
	{% for community, sponsor_set, number_interns_approved, total_funding_needed in community_sponsors %}
		{% if sponsor_set.0.participation.approval_status == sponsor_set.0.participation.APPROVED %}
			<hr><h3>{{ community }}</h3>
		{% else %}
			<hr><h3>{{ community }} <span class="badge badge-pill badge-info">pending</span></h3>
		{% endif %}
		<p>${{ total_funding_needed|intcomma }} total funding needed for {{ number_interns_approved }} approved interns. <a href="{% url 'sponsor-info-details' round_slug=current_round.slug community_slug=community.slug %}">Sponsorship details and revision history.</a></p>
		
		<ul>
			{% for s in sponsor_set %}
				<li>
					{% if not s.funding_secured %}<span class="badge badge-pill badge-warning">Unconfirmed</span> {% endif %}
					{{ s.name }}: ${{ s.amount|intcomma }}
					"Charitable donation for sponsorship of {{ s.number_interns|floatformat }}
					intern{{ s.number_interns|pluralize:",(s)"}} for {{ s.participation.community }}
					in the {{ s.participation.participating_round.internstarts|date:"F Y" }} internship round"
				</li>
			{% endfor %}
		</ul>


	{% endfor %}
{% endif %}
{% endblock %}
