{% extends "base.html" %}

{% block title %}
Outreachy Travel Stipend
{% endblock %}

{% block content %}

<div class="card border-warning mb-3">
        <div class="card-header text-white bg-warning">Temporary changes to travel stipend policies</div>
        <div class="card-body">
                <div class="card-text">
			<p>
			Effective as of March 27, 2020, all new travel using the Outreachy travel stipend is prohibited. The travel prohibition will be in place until further notice. Please <a href='{% url '2020-03-covid' %}'>read our blog post for details</a>.
			</p>
		</div>
	</div>
</div>

<h1>What is the travel stipend?</h1>

<p>Attending talks, workshops, and meeting other contributors in person is fun! It can also help you network to get a job. As part of your internship, you have a $500 USD travel stipend. You will not be reimbursed for more than $500. Reimbursement may take up to 30 days to be processed, so get your reimbursement request in as soon as you complete your blog post.</p>

<p><a href="{% url 'travel-stipend' %}#timeframe">Read the Outreachy policy to determine which events you can use the travel stipend for.</a></p>

<p>Please read the following page carefully before booking any travel.</p>

<h1 id="steps">Steps to take before and after you travel</h1>

<ol>
	<li>Make sure your travel will start <a href="{% url 'travel-stipend' %}#timeframe">within the time that your travel stipend is active</a>.</li>

	<li>Confirm with your mentor that the <a href="{% url 'travel-stipend' %}#events">event or conference meets our requirements</a>.</li>

	<li><a href="{% url 'travel-stipend' %}#preapproval">Check whether you need pre-approval</a> for your travel expenses before booking your travel.</li>

	<li><a href="{% url 'travel-stipend' %}#scholarships">Apply for any scholarships</a> your conference offers to cover additional travel costs.</li>

	<li><a href="{% url 'travel-stipend' %}#airfare">Save a flight search screenshot</a> from a widely-recognized airfare comparison site. Examples of airfare comparison site include <a href="http://orbitz.com">Orbitz</a>, <a href="http://kayak.com">Kayak</a> or <a href="http://hipmunk.com/">Hipmunk</a>.</li>

	<li>While on your trip, you may need to <a href="{% url 'travel-stipend' %}#receipts">save some receipts</a>.</li>

	<li>During your event, think about what you will talk about in your trip report. Take notes about what you learned or accomplished. How did this event help you gain skills to contribute to free and open source software? You may want to take pictures, if the event photography policy allows it.</li>

	<li>Publish your trip report on your blog.</li>

	<li>Submit a <a href="{% url 'travel-stipend' %}#reimbursement">reimbursement request</a> within 2 weeks of the last day of travel. Submit your a reimbursement no more than 90 days after the last day of your trip. If you submit it later, Software Freedom Conservancy will not refund your travel.</li>
</ol>

<h1 id='timeframe'>When does the travel have to happen?</h1>

<p>Outreachy's travel stipends are valid for two years. This ensures that the travel stipend can be used for travelling to yearly events. We cannot provide exceptions for expired travel stipends.</p>

<p>Eligible travel must start after your internship was announced. Eligible travel must start before two years from the official internship start date. If you started your internship early or late, use the official start dates below.</p>

<h3>Active</h3>

<ul>
	{% for r in rounds %}
		{% if r.travel_stipend_deadline.has_passed %}
			<li><b>{{ r.official_name }}.</b> The travel stipend is available for travel that begins between {{ r.internannounce }} and {{ r.travel_stipend_deadline }}</li>
		{% endif %}
	{% endfor %}
</ul>

<h3>Expired</h3>

<ul>
	{% for r in rounds %}
		{% if not r.travel_stipend_deadline.has_passed %}
			<li><b>{{ r.official_name }}.</b> The travel stipend is available for travel that begins between {{ r.internannounce }} and {{ r.travel_stipend_deadline }}</li>
		{% endif %}
	{% endfor %}
	<li><b>May 2017 to August 2017 internship round.</b> The travel stipend is available for travel that begins between April 28, 2017 and May 30, 2018</li>
	<li><b>December 2016 to March 2017 internship round.</b> The travel stipend is available for travel that begins between November 8, 2016 and December 6, 2017</li>
	<li><b>May 2016 to August 2016 internship round.</b> The travel stipend is available for travel that begins between April 22, 2016 and May 23, 2017</li>
	<li><b>December 2015 to March 2016 internship round.</b> The travel stipend is available for travel that begins between November 17, 2015 and December 7, 2016</li>
	<li><b>May 2015 to August 2015 internship round.</b> The travel stipend is available for travel that begins between April 27, 2015 and May 25, 2016</li>
	<li><b>December 2014 to March 2015 internship round.</b> The travel stipend is available for travel that begins between November 12, 2014 and December 9, 2015</li>
	<li><b>May 2014 to August 2014 internship round.</b> The travel stipend is available for travel that begins between April 21, 2014 and May 19, 2015</li>
	<li><b>December 2013 to March 2014 internship round.</b> The travel stipend is available for travel that begins between November 25, 2013 and December 10, 2014</li>
	<li><b>June 2013 to September 2013 internship round.</b> The travel stipend is available for travel that begins between May 27, 2013 and November 8, 2015. (The dates were extended because our policy was not clearly communicated. Travel stipend availability dates will not be extended for  other rounds.)</li>
</ul>

<h3>Can I use the travel stipend for multiple events?</h3>

<p>Yes, you can use your travel stipend for multiple trips. However, the first trip must not use up the entire $500 USD travel stipend. You can combine multiple trips in one reimbursement request. Please submit your reimbursement request within two weeks of the end of the earliest trip. Submit your a reimbursement no more than 90 days after the last day of your trip. If you submit it later, Software Freedom Conservancy will not reimburse your travel.</p>

<h1 id='events'>Event requirements</h1>

<p>You can use the travel stipend to go to events, conferences, or meetings. They must meet the following two requirements:</p>

<ol>
	<li><b>Strong free and open source software component.</b> The Software Freedom Conservancy is a 501(c)(3) charity in the United States. Their mission is to free and open source software in the public interest. All activity supported by the travel stipend must forward the organization's mission. The event you are attending must have a strong free and open source software component. If you are giving a presentation, it must have a strong free and open source software component.</li>

	<li><b>Your mentor considers it most relevant.</b> Each community that participates in Outreachy has community events. There may be events for the technologies the community or project uses. Typically, community-specific events are relevant for interns to attend. Please consult with your mentor to pick a relevant event. Your mentor must agree the event is relevant to your project and community. Your mentor must agree that this even is the best way to use your travel stipend. In some cases, your community may not have an event you can attend. In this case, you may want to attend a general Free and Open Source Software event close to you. You can also use the travel stipend to work in the same location as your mentor or other community members. You can travel to a community's office, or a place where you can work with your mentor in person. Do not book your travel until your mentor says that the travel is relevant and the best use of your travel stipend.</li>
</ol>

<p>Here are some examples of general Free and Open Source Software events:</p>

<table class="table table-striped table-bordered">
	<thread class="thread-dark">
	<tr>
		<th scope="col">Location</th>
		<th scope="col">Conference</th>
		<th scope="col">CFP Deadline</th>
		<th scope="col">Conference Dates</th>
	</tr>
	</thread>
	<tr>
		<td>Australia or New Zealand</td>
		<td><a href="http://linux.conf.au/">Linux Conf Australia</a></td>
		<td>August</td>
		<td>January or February</td>
	</tr>
	<tr>
		<td>Czech Republic - Brno</td>
		<td><a href="http://devconf.cz/">DevConf.cz</a></td>
		<td>November</td>
		<td>January</td>
	</tr>
	<tr>
		<td>Belgium - Brussels</td>
		<td><a href="https://fosdem.org/">Free and Open Source Software Developers' European Meeting (FOSDEM)</a></td>
		<td>November and early December</td>
		<td>February</td>
	</tr>
	<tr>
		<td>Brazil</td>
		<td><a href="http://softwarelivre.org/">Fórum Internacional do Software Livre (FISL)</a></td>
		<td>February</td>
		<td>July</td>
	</tr>
	<tr>
		<td>Singapore</td>
		<td><a href="http://fossasia.org/">Free and Open Source Software Asia (FOSSASIA)</a></td>
		<td>December</td>
		<td>March</td>
	</tr>
	<tr>
		<td>United Kingdom - London, England</td>
		<td><a href="https://mozillafestival.org/">Mozilla Festival</a></td>
		<td>October</td>
		<td>May, June, or July</td>
	</tr>
	<tr>
		<td>United States of America - California, Pasadena</td>
		<td><a href="http://www.socallinuxexpo.org/">Southern California Linux Expo (SCALE)</a></td>
		<td>November</td>
		<td>February or March</td>
	</tr>
	<tr>
		<td>United States of America - North Carolina - Raleigh</td>
		<td><a href="http://allthingsopen.org/">All Things Open</a></td>
		<td>May</td>
		<td>October</td>
	</tr>
	<tr>
		<td>United States of America - Ohio</td>
		<td><a href="https://ohiolinux.org/">Ohio Linux Fest</a></td>
		<td>May</td>
		<td>October</td>
	</tr>
	<tr>
		<td>United States of America - Texas</td>
		<td><a href="https://texaslinuxfest.org/">Texas Linux Fest</a></td>
		<td>April</td>
		<td>July</td>
	</tr>
	<tr>
		<td>United States of America - Washington - Seattle</td>
		<td><a href="http://seagl.org/">Seattle GNU/Linux conference (SeaGL)</a></td>
		<td>August</td>
		<td>November</td>
	</tr>
	<tr>
		<td>United States of America - Varies</td>
		<td><a href="http://us.pycon.org">PyCon U.S.</a></td>
		<td>December</td>
		<td>April or May</td>
	</tr>
	<tr>
		<td>Varies</td>
		<td><a href="https://debconf.org/">Debian Developer's Conference (DebConf)</a></td>
		<td>January</td>
		<td>July or August</td>
	</tr>
</table>

<p>More events can be found on the <a href="http://opensource.com/resources/conferences-and-events-monthly">opensource.com event calendar</a> and the <a href="https://old.lwn.net/Calendar/">Linux Weekly News event calendar</a>. Events with travel sponsorships can be found at <a href="https://diversitytickets.org/en/events">diversitytickets.org</a>. Events that are looking for speaking proposals that have a good Code of Conduct are often promoted by <a href="https://twitter.com/CallbackWomen">@callbackwomen on Twitter</a>.</p>

<h1 id='preapproval'>What types of travel need pre-approval?</h1>

<p><a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html">Please read the Software Freedom Conservancy's travel policy</a> carefully. It includes full details on what expenses might need pre-approval. Sometimes this page and the Software Freedom Conservancy's travel policy are out-of-sync. In that case, the Software Freedom Conservancy's travel policy is the correct version.</p>

<p>Do not book your travel before getting any necessary pre-approval.</p>

<p>If a pre-approval is required, it needs to be requested from the Outreachy organizers. They will then ask for pre-approval by the Software Freedom Conservancy. This is typically granted by Karen Sandler, the Software Freedom Conservancy Executive Director. Do not book travel until both Outreachy organizers and the Software Freedom Conservancy have approved it.</p>

<p>ONLY if you need a specific travel expense pre-approved, <a href="https://www.outreachy.org/contact/contact-us/">contact Outreachy organizers</a>. The e-mail should have a subject line of "[Round Year]-[Round Start Month]: [Your Last Name]: Travel pre-approval needed". For example, say you participated in the round of Outreachy that started in May 2016 and your last name is Smith. The email subject would be "2016-05: Smith: Travel pre-approval needed".</p>

<h1>What can the travel stipend cover?</h1>

<p>The travel stipend covers many kinds of expenses. We encourage you to fully use your $500 USD travel stipend. <a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html">Read the Software Freedom Conservancy's travel policy</a> for details. <a href="{% url 'travel-stipend' %}#preapproval">Some expenses may need to be pre-approved</a>, so read the policy carefully.</p>

<h3 id='airfare'>Airfare</h3>

<p>Software Freedom Conservancy's <a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html#low-fare">low fare policy</a> requires you to save a screenshot of your airfare search. The airfare search must be done with a widely-recognized airfare comparison site, such as <a href="http://orbitz.com">Orbitz</a>, <a href="http://kayak.com">Kayak</a> or <a href="http://hipmunk.com/">Hipmunk</a>. An airfare search from a particular airline's website is not allowed. You must use a flight comparison site. The Software Freedom Conservancy will not reimburse your airfare if you don't <a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html#low-fare">comply with the low-fare policy</a>.</p>

<h3 id='receipts'>Saving receipts</h3>

<p>You will need to save the receipts for most travel expenses. <a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html">Read the Software Freedom Conservancy's travel policy for details.</a> You don't need to provide receipts for a few types of expenses. Those expenses are described in the <a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html#meals-and-incidental-expenses">Meals and Incidental Expenses per diem amount section.</a></p>

<h1 id='scholarships'>What if my expenses are over $500?</h1>

<p><br>Outreachy will not reimburse more than $500 USD.</b></p>

<p>There are ways you can reduce your travel costs. <a href="https://openhatch.org/wiki/Opportunities/Travel_Grants">Many conferences offer scholarships and reduced or waived admission fees</a>. Reduced admission is usually available for students, low-income participants, or diversity scholarship recipients. Please use these resources in addition to relying on the travel stipend.</p>

<p>Most events require you to  apply for scholarships several months before the conference. Outreachy is not involved in travel funding for any particular conference or event. You will need to work with the event organizer to submit a travel funding  application. If in doubt, email the event organizers. Ask when the deadline for submitting travel funding requests is.</p>

<p>How reduced admission fees work will vary  from conference to conference. Some conferences allow you to select  reduced admission when you register. Other conferences require a discount code for reduced admission fees. You may need to contact the event organizers to receive the discount code. There may be deadline for  asking for reduced admission. If in doubt, email the event organizers.  Ask when the deadline for requesting a reduced admission fee is.</p>

<h3>How do I get reimbursed for event travel scholarships?</h3>

<p>Each event will have a different travel policy. It may have different policies than the Software Freedom Conservancy travel policy. You may need to provide additional documentation (such as meal receipts). Some events may not require you to write a blog post about the event. Please check with the event organizers. Ask what documentation is needed for their travel reimbursements.</p>

<p>Some communities may have a community travel fund. The stipend can be used by community members to travel to any event. You should ask your mentor or coordinator if your community has a travel fund. The community will reimburse your travel expenses. You should check with the travel fund organizers how it works. Ask what documentation is needed for their travel reimbursements. Outreachy is not involved in any community's travel fund.</p>

<h1 id='reimbursement'>How do I get reimbursed for the Outreachy travel stipend?</h1>

<p>Software Freedom Conservancy is the organization that will handle your travel stipend reimbursement. </p>

<p>Each intern will receive an e-mail about the travel stipend. The email is sent after your tax paperwork has been received.  The e-mail has the intern's round, name, and the phrase "travel reimbursement request" in its subject line.</p>

<p>The email will be sent from the Software Freedom Conservancy accounting ticket system. The subject line will include a ticket number. You need to keep the ticket number in the subject line. Removing the ticket number may delay your reimbursement.</p>

<p>When you need to request a travel reimbursement, reply to that email. Make sure to include your mentor in the email. The accounting ticket system will automatically send an email to the Outreachy organizers.</p>

<p>
Sometimes Outreachy interns need to request pre-approval very early in the internship. You may not have received the email from the accounting system yet. If this happens, you should <a href="https://www.outreachy.org/contact/contact-us/">contact Outreachy organizers</a>. We can ask Software Freedom Conservancy to send you the email early.</p>

<p>The email body should be in the following form:</p>
<div class="container">
	<p>Greetings,</p>

	<p>I traveled to $CONFERENCE during $START-DATE to $END-DATE. My mentor on $PROJECT-NAME is Cc'ed and, in a prior discussion, has approved this travel for me as relevant.</p>

	<p>My trip blog post can be found at: $URL</p>

	<p>I'm requesting reimbursement for $TOTAL, which is broken down into:</p>

	<p>Flight: $<br>
	Per diem: $<br>
	Conference Fee: $<br>
	...</p>

	<p>The following receipts are attached for my reimbursement:</p>

	<p>file1 - airfare search screenshot<br>
	file2 - ...</p>

	<p>I have not included receipts for things that fall under the Meals and Incidental Expenses per diem amount described on https://sfconservancy.org/projects/policies/conservancy-travel-policy.html#meals-and-incidental-expenses</p>

	<p>[INCLUDE PAYMENT INFORMATION OR WHETHER IT IS OK TO USE THE SAME PAYMENT INFORMATION FROM YOUR INTERNSHIP PAYMENTS.]
</div>

<p>Within 30 days of your e-mail, Software Freedom Conservancy will notify you if they will reimburse you or if they need to ask for additional information.</p>

{% endblock %}
