{% extends "base.html" %}

{% block title %}
Outreachy Travel Stipend
{% endblock %}

{% block content %}

<h1>What is the travel stipend?</h1>

<p>Attending talks, workshops, and meeting other contributors in person is fun and can help you get up to speed faster. As part of your internship, you have a $500 USD travel stipend. You will not be reimbursed for more than $500.</p>

<p>You can use the travel stipend to go to a conference, event, or meeting that is relevant to your internship project, or is a Free and Open Source Software (FOSS) conference.</p>

<p>Please read the following page carefully before booking any travel.</p>

<h1 id="steps">Steps to take before and after you travel</h1>

<ol>
	<li>Make sure your travel will start <a href="{% url 'travel-stipend' %}#timeframe">within the time that your travel stipend is active</a>.</li>

	<li>Confirm with your mentor that the <a href="{% url 'travel-stipend' %}#events">event or conference meets our requirements</a>.</li>

	<li><a href="{% url 'travel-stipend' %}#preapproval">Check whether you need pre-approval</a> for your travel expenses before booking your travel.</li>

	<li><a href="{% url 'travel-stipend' %}#scholarships">Apply for any scholarships</a> your conference offers to cover additional travel costs.</li>

	<li><a href="{% url 'travel-stipend' %}#airfare">Save a flight search screenshot</a> from a widely-recognized airfare comparison site, such as <a href="http://orbitz.com">Orbitz</a>, <a href="http://kayak.com">Kayak</a> or <a href="http://hipmunk.com/">Hipmunk</a>.</li>

	<li>While on your trip, you may need to <a href="{% url 'travel-stipend' %}#receipts">save some receipts</a>.</li>

	<li>During your event, think about what you will talk about in your trip report. Take notes about what you learned or accomplished. Think about how this travel helped improve your ability to contribute to free and open source software. You may want to take pictures, if the event photography policy allows it.</li>

	<li>Publish your trip report on your blog.</li>

	<li>Submit a <a href="{% url 'travel-stipend' %}#reimbursement">reimbursement request</a> within 2 weeks of the last day of travel. If you submit a reimbursement more than 90 days after the last day of your trip, Software Freedom Conservancy will not refund your travel.</li>
</ol>

<h1 id='timeframe'>When does the travel have to happen?</h1>

<p>Outreachy's travel stipends are valid for two years. This ensures that the travel stipend can be used for travelling to yearly events. We cannot provide exceptions for expired travel stipends.</p>

<p>The travel stipend is valid for travel that starts between when your internship was announced and two years from the official internship start date. If you started your internship early or late, use the official start dates below.</p>

<h3>Active</h3>

<ul>
	{% for r in rounds %}
		{% if r.is_travel_stipend_active %}
			<li>{{ r.official_name }}, the travel stipend is available for travel that begins any time between {{ r.internannounce }} and {{ r.travel_stipend_deadline }}</li>
		{% endif %}
	{% endfor %}
</ul>

<h3>Expired</h3>

<ul>
	{% for r in rounds %}
		{% if not r.is_travel_stipend_active %}
			<li>{{ r.official_name }}, the travel stipend is available for travel that begins any time between {{ r.internannounce }} and {{ r.travel_stipend_deadline }}</li>
		{% endif %}
	{% endfor %}
	<li>May - August 2017 internship round, the travel stipend is available for travel that begins any time between April 28, 2017 and May 30, 2018</li>
	<li>December 2016 - March 2017 internship round, the travel stipend is available for travel that begins any time between November 8, 2016 and December 6, 2017</li>
	<li>May - August 2016 internship round, the travel stipend is available for travel that begins any time between April 22, 2016 and May 23, 2017</li>
	<li>December 2015 - March 2016 internship round, the travel stipend is available for travel that begins any time between November 17, 2015 and December 7, 2016</li>
	<li>May - August 2015 internship round, the travel stipend is available for travel that begins any time between April 27, 2015 and May 25, 2016</li>
	<li>December 2014 - March 2015 internship round, the travel stipend is available for travel that begins any time between November 12, 2014 and December 9, 2015</li>
	<li>May - August 2014 internship round, the travel stipend is available for travel that begins any time between April 21, 2014 and May 19, 2015</li>
	<li>December 2013 - March 2014 internship round, the travel stipend is available for travel that begins any time between November 25, 2013 and December 10, 2014</li>
	<li>June - September 2013 internship round, the travel stipend is available for travel that begins any time between May 27, 2013 and November 8, 2015 (extended because was not clearly communicated originally; travel stipend availability dates will not be extended for other rounds)</li>
</ul>

<h3>Can the travel stipend be used for multiple events?</h3>

<p>Yes, you can use your travel stipend for multiple trips, if the first trip doesn't use up the entire $500 USD travel stipend. You can combine multiple trips in one reimbursement request. However, please submit your reimbursement request within two weeks of the completion of the earliest trip. Note that Software Freedom Conservancy does not reimburse for trips that completed more than 90 days before the request was submitted.</p>

<h1 id='events'>Event requirements</h1>

<p>You can use the travel stipend to travel or gain admittance to conferences or meetings, which meet the following two requirements:</p>

<ol>
	<li><b>Strong free and open source software component.</b> As the Software Freedom Conservancy is a 501(c)(3) charity in the United States, all activity supported by the travel stipend must forward the organization's mission to promote free and open source software in the public interest. The event you are attending or the material you are presenting must have a strong free and open source software component.</li>

	<li><b>Your mentor considers it most relevant.</b> Each community that participates in Outreachy has community events or events for the technologies it uses. Typically, community-specific events are relevant for interns to attend. Please consult with your mentor about what is the best and most relevant to your project and community way to use your travel stipend. In some cases, your mentor and you might agree that a generally themed FOSS event close to you is the most relevant use of your travel stipend due to geographical considerations. Your mentor may think the most relevant travel is to travel to an office of the community you are working with, or a place where you can work with your mentor in person. Do not book your travel before getting a confirmation from your mentor or community coordinator that they consider it most relevant and will want your travel stipend applied to it.</li>
</ol>

<p>Here are some examples of generally themed FOSS events, along with their approximate dates:</p>

<table class="table table-striped table-bordered">
	<thread class="thread-dark">
	<tr>
		<th scope="col">Conference</th>
		<th scope="col">Location</th>
		<th scope="col">CFP Deadline</th>
		<th scope="col">Conference Dates</th>
	</tr>
	</thread>
	<tr>
		<td><a href="http://linux.conf.au/">Linux Conf Australia</a></td>
		<td>Australia or New Zealand</td>
		<td>August</td>
		<td>January or February</td>
	</tr>
	<tr>
		<td><a href="https://debconf.org/">Debian Developer's Conference (DebConf)</a></td>
		<td>Varies</td>
		<td>January</td>
		<td>July or August</td>
	</tr>
	<tr>
		<td><a href="http://devconf.cz/">DevConf.cz</a></td>
		<td>Brno, Czech Republic</td>
		<td>November</td>
		<td>January</td>
	</tr>
	<tr>
		<td><a href="https://fosdem.org/">Free and Open Source Software Developers' European Meeting (FOSDEM)</a></td>
		<td>Brussels, Belgium</td>
		<td>November and early December</td>
		<td>February</td>
	</tr>
	<tr>
		<td><a href="http://www.socallinuxexpo.org/">Southern California Linux Expo (SCALE)</a></td>
		<td>Pasadena, CA, USA</td>
		<td>November</td>
		<td>February or March</td>
	</tr>
	<tr>
		<td><a href="http://fossasia.org/">Free and Open Source Software Asia (FOSSASIA)</a></td>
		<td>Singapore</td>
		<td>December</td>
		<td>March</td>
	</tr>
	<tr>
		<td><a href="https://libreplanet.org/">LibrePlanet</a></td>
		<td>Boston, MA, USA</td>
		<td>November</td>
		<td>February or March</td>
	</tr>
	<tr>
		<td><a href="https://ohiolinux.org/">Ohio Linux Fest</a></td>
		<td>Ohio, USA</td>
		<td>May</td>
		<td>October</td>
	</tr>
	<tr>
		<td><a href="http://www.oscon.com/">O'Rielly Open Source Conference (OSCON)</a></td>
		<td>Austin, TX, USA</td>
		<td>October</td>
		<td>May, June, or July</td>
	</tr>
	<tr>
		<td><a href="https://mozillafestival.org/">Mozilla Festival</a></td>
		<td>London, England, United Kingdom</td>
		<td>October</td>
		<td>May, June, or July</td>
	</tr>
	<tr>
		<td><a href="http://softwarelivre.org/">Fórum Internacional do Software Livre (FISL)</a></td>
		<td>Brazil</td>
		<td>February</td>
		<td>July</td>
	</tr>
	<tr>
		<td><a href="https://texaslinuxfest.org/">Texas Linux Fest</a></td>
		<td>Texas, USA</td>
		<td>April</td>
		<td>July</td>
	</tr>
	<tr>
		<td><a href="http://allthingsopen.org/">All Things Open</a></td>
		<td>Raleigh, NC, USA</td>
		<td>May</td>
		<td>October</td>
	</tr>
	<tr>
		<td><a href="http://seagl.org/">Seattle GNU/Linux conference (SeaGL)</a></td>
		<td>Seattle, WA, USA</td>
		<td>August</td>
		<td>November</td>
	</tr>
</table>

<p>More events can be found on the <a href="http://opensource.com/resources/conferences-and-events-monthly">opensource.com event calendar</a> and the <a href="https://old.lwn.net/Calendar/">Linux Weekly News event calendar</a>. Events with travel sponsorships can be found at <a href="https://diversitytickets.org/en/events">diversitytickets.org</a>. Events that are looking for speaking proposals that have a good Code of Conduct are often promoted by <a href="https://twitter.com/CallbackWomen">@callbackwomen on Twitter</a>.</p>

<h1 id='preapproval'>What types of travel need pre-approval?</h1>

<p><a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html">Please read the Software Freedom Conservancy's travel policy</a> carefully for full details on what expenses might need additional pre-approval. Software Freedom Conservancy's travel policy is the final authority on what can be covered.</p>

<p>Do not book your travel before getting any necessary pre-approval from Outreachy and the Software Freedom Conservancy.</p>

<p>If a pre-approval is required, it needs to be requested from the Outreachy organizers. ONLY in cases that you need to book travel that doesn't comply with the Software Freedom Conservancy's travel policy, <a href="https://www.outreachy.org/contact/contact-us/">contact Outreachy organizers</a> for a pre-approval. The e-mail should have a subject line of "[Round Year]-[Round Start Month]: [Your Last Name]: Travel pre-approval needed". For example, if you participated in the round of Outreachy that started in May 2016 and your last name is Smith, you would use the following subject: "2016-05: Smith: Travel pre-approval needed".</p>

<h1>What can the travel stipend cover?</h1>

<p>The travel stipend can usually cover expenses like transportation, lodging, visa fees, event attendance fees, and meals. <a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html">Read the Software Freedom Conservancy's travel policy</a> carefully for details. <a href="{% url 'travel-stipend' %}#preapproval">Some expenses may need to be pre-approved</a> if they aren't within the Software Freedom Conservancy's travel policy guidelines.</p>

<h3 id='airfare'>Airfare</h3>

<p>For air travel, Software Freedom Conservancy's <a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html#low-fare">low fare policy</a> requires you to save a screenshot of your airfare search. The airfare search must be done with a widely-recognized airfare comparison site, such as <a href="http://orbitz.com">Orbitz</a>, <a href="http://kayak.com">Kayak</a> or <a href="http://hipmunk.com/">Hipmunk</a>. An airfare search from a particular airline's website is not allowed. You must use a flight comparison site. Complying with the <a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html#low-fare">Complying with the low-fare policy and saving an airfare screenshot is required</a> for the Software Freedom Conservancy reimburse your airfare.</p>

<h3 id='receipts'>Saving receipts</h3>

<p>You will need to save the receipts for most travel expenses. <a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html#low-fare">Read the Software Freedom Conservancy's travel policy for details.</a> Note that you won't need to provide receipts for meals and other incidental expenses like local transportation that are part of the <a href="https://sfconservancy.org/projects/policies/conservancy-travel-policy.html#meals-and-incidental-expenses">Meals and Incidental Expenses per diem amount</a></p>

<h1 id='scholarships'>What if my expenses are over $500?</h1>

<p><br>Outreachy will not reimburse more than $500 USD.</b></p>

<p>There are ways you can reduce your travel costs. <a href="https://openhatch.org/wiki/Opportunities/Travel_Grants">Many conferences offer scholarships and reduced or waived admission fees</a> for low-income participants or diversity scholarships. Please use these in addition to relying on the travel stipend.</p>

<p>If you wish to use event scholarships, most events require you to apply several months before the conference. Outreachy is not involved in travel funding for any particular conference or event, so you will need to work with the event organizer to submit a travel funding application. If in doubt, email the event organizers and ask when the deadline for submitting travel funding requests is.</p>

<p>If you wish to use reduced admission fees, how you use them will vary from conference to conference. Some conferences allow you to select reduced admission when you register for the coference. For other conferences, you may need to contact the event organizers to receive a registration code for reduced admission fees. There may be deadline for asking for reduced admission. If in doubt, email the event organizers and ask when the deadline for requesting a reduced admission fee is.</p>

<h3>How do I get reimbursed for event travel scholarships?</h3>

<p>Each event will have a different travel policy than the Software Freedom Conservancy travel policy. You may need to provide additional documentation (such as meal receipts). Some events may not require you to write a blog post about the event. Please check with the event organizer for what documentation is needed for their travel reimbursements.</p>

<p>If a participating community has a process for reimbursing travelling expenses of its contributors, it might choose to do so itself for its Outreachy interns. In that case the community will be the custodian of your travel stipend, and you will be notified about it. You will need to follow the reimbursement procedures of that community, and should ask your mentor or coordinator to let you know what they are.</p>

<h1 id='reimbursement'>How do I get reimbursed for the travel stipend?</h1>

<p>Unless you were told otherwise, Software Freedom Conservancy is the organization that will reimburse your travel. </p>

<p>Around the time that their second internship payment is sent, each intern receives an e-mail with a ticket number they can use to request reimbursement for their travel stipend. The e-mail has the intern's round, name, and the phrase "travel reimbursement request" in its subject line. Interns should reply to that email, including their project mentor on Cc, with their reimbursement request. Once the email is received by the Software Freedom Conservancy's request ticket system, it will automatically send an email to the Outreachy organizers. If you are ready to request your reimbursement early in your internship round, before the ticket is created for you, you can <a href="https://www.outreachy.org/contact/contact-us/">contact Outreachy organizers</a> for us to ask Software Freedom Conservancy to create such ticket for you.</p>

<p>The email body should be in the following form:</p>
<div class="container">
	<p>Greetings,</p>

	<p>I traveled to $CONFERENCE during $START-DATE to $END-DATE. My mentor on $PROJECT-NAME is Cc'ed and, in a prior discussion, has approved this travel for me as relevant.</p>

	<p>My trip blog post can be found at: $URL</p>

	<p>I'm requesting reimbursement for $TOTAL, which is broken down into:</p>

	<p>Flight: $<br>
	Per diem: $<br>
	Conference Fee: $<br>
	...</p>

	<p>The following receipts are attached for my reimbursement:</p>

	<p>file1 - airfare search screenshot<br>
	file2 - ...</p>

	<p>I have not included receipts for things that fall under the Meals and Incidental Expenses per diem amount described on https://sfconservancy.org/projects/policies/conservancy-travel-policy.html#meals-and-incidental-expenses</p>

	<p>[INCLUDE PAYMENT INFORMATION OR WHETHER IT IS OK TO USE THE SAME PAYMENT INFORMATION FROM YOUR INTERNSHIP PAYMENTS.]
</div>

<p>Within 30 days of your e-mail, Software Freedom Conservancy will notify you if they will reimburse you or if they need to ask for additional information.</p>

{% endblock %}
