[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
dj-static = "*"
django = "~=4.2"
django-ckeditor = "*"
django-compressor = "*"
django-compressor-postcss = "*"
django-contact-form = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-formtools = ">=2.4.1"
django-libsass = "*"
django-markdownx = "*"
django-registration = "*"
django-reversion = "*"
django-timezone-field = "*"
gunicorn = "*"
psycopg2 = "*"
pytz = "*"
raven = "*"
wagtail = "~=5.0"
whitenoise = "*"
factory_boy = "*"
setuptools = "*"
django-betterforms = {git = "https://github.com/jpic/django-betterforms.git"}

[dev-packages]
coverage = "*"
django-coverage-plugin = "*"
flake8 = "*"
