<div class="footer">
  <div class="footer-art"></div>
  <div class="footer-grass"></div>

  <div class="footer-wrapper">
    <div class="container">
      <p>Copyright &copy; {% now "Y" %} Outreachy</p>
      <p class="cc-description">Free to share and remix: <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons CC-BY</a>, except for the individual organization logos, which are property of their respective owners, and any pictures with additional creative commons attributions.</p>
      <p class="cc-description">The Outreachy website is built with <a href="https://www.djangoproject.com/">Django</a>, <a href="https://wagtail.io/">Wagtail</a>, <a href="http://getbootstrap.com/">bootstrap</a> and deployed with <a href="http://dokku.viewdocs.io/dokku/">Dokku</a>. The code is licensed <a href="https://www.gnu.org/licenses/gpl.html">GPL v3</a> and can be found in the <a href="http://github.com/outreachy/website/">Outreachy website GitHub repo.</a> There is a separate <a href="http://github.com/outreachy/creative-works-and-scripts/">GitHub repo for creative works</a></p>
      <p>This program and all offers related to it are void where prohibited or restricted by law or where operation of the program would violate any law or right. All participants in the program must agree to the terms and conditions of the program which will be provided to the selected applicants.</p>
      <p><a href="{% url 'privacy-policy' %}">Outreachy privacy policy</a>.</p>
    </div>
  </div>
</div>
