<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarApplicants" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Applicants
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarApplicants">
      <a class="dropdown-item" href="{% url 'docs-applicant' %}">Applicant Guide</a>
      <a class="dropdown-item" href="{% url 'docs-internship' %}">Internship Guide</a>
      <a class="dropdown-item" href="/apply/">Apply to Outreachy</a>
      <a class="dropdown-item" href="{% url 'dashboard' %}">My Application</a>
      <a class="dropdown-item" href="{% url 'project-selection' %}">Current Projects</a>
      <a class="dropdown-item" href="{% url 'past-rounds' %}">Past Projects</a>
      <a class="dropdown-item" href="/opportunities/">Other Opportunities</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarCommunities" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Communities
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarCommunities">
      <a class="dropdown-item" href="{% url 'docs-community' %}">Community Guide</a>
      <a class="dropdown-item" href="/mentor/">Volunteering FAQ</a>
      <a class="dropdown-item" href="{% url 'community-cfp' %}">Community Sign-up</a>
      <a class="dropdown-item" href="{% url 'community-cfp' %}">Mentor Sign-up</a>
      <a class="dropdown-item" href="{% url 'dashboard' %}">My Mentored Projects</a>
      <a class="dropdown-item" href="{% url 'project-selection' %}">All Projects</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarInterns" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Interns
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarInterns">
      <a class="dropdown-item" href="{% url 'docs-internship' %}">Internship Guide</a>
      <a class="dropdown-item" href="{% url 'dashboard' %}">My Internship</a>
      <a class="dropdown-item" href="{% url 'alums' %}">Past Interns</a>
      <a class="dropdown-item" href="/opportunities/">Opportunities</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDonors" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Donors
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDonors">
      <a class="dropdown-item" href="/sponsor/">Sponsor Outreachy</a>
      <a class="dropdown-item" href="/sponsor/donate/">Individual Donations</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarAboutUs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      About Us
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarAboutUs">
      <a class="dropdown-item" href="/contact/contact-us/">Contact Us</a>
      <a class="dropdown-item" href="/promote/">Promote Outreachy</a>
      <a class="dropdown-item" href="/blog/">Blog</a>
    </div>
  </li>

  {% if request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
  {% endif %}
</ul>
