{% extends "base.html" %} 
{% block title %}
Outreachy's Response to COVID-19
{% endblock %}

{% block content %}
{% load humanize %}


<h1>Outreachy's Response to COVID-19</h1>

<p><i>Date: March 27, 2020</i></p>
<p><i>Last updated: May 1, 2020</i> - See the "New policies for students" section below.</p>

<img src="https://live.staticflickr.com/65535/49706037138_b014df3c3a.jpg" alt="Stronger together but 6 feet apart cc-by Sage Sharp" class="img-fluid">
<p><i>Photo CC BY 2.0 Sage Sharp</i></p>

<p>
The Outreachy organizers are putting new policies in place to deal with the impact of the global crisis caused by the novel coronavirus, COVID-19.
</p>

<h2>
Background
</h2>

<p>
Outreachy is a paid, remote internship program. Our goal is to increase diversity in free and open source software.
</p>

<p>
Outreachy applicants come from around the world. Even though Outreachy is completely remote, we're aware that applicants have been impacted by the pandemic.
</p>

<p>
Primary schools and child care facilities around the world are closing. Some Outreachy applicants are parents caring for young children during these sudden closures. Universities and college dorms around the world are closing. Outreachy applicants who are students may have to move or face uncertainty about their future school term schedule. Additionally, some applicants have been cut off from mentors during internet outages related to lock-downs.
</p>

<p>
The current COVID-19 crisis is underscoring the inequities in our society. People who have jobs that can be done remotely find themselves in a stable situation and able to better weather this crisis at home. However, many workers have no immediate way to earn a living without risking their lives.
</p>

<h2>
Sponsor Outreachy
</h2>

<p>
Outreachy provides paid remote work at this critical time to people who need these opportunities most. Getting paid home-based work to folks who face systemic bias has never been more important than it is right now.
</p>

<p><b>
We encourage companies to
<a href='https://www.outreachy.org/sponsor/'>sponsor Outreachy interns</a>,
and anyone whose financial situation is not impacted by the current crisis to
<a href='https://www.outreachy.org/sponsor/donate/'>make an individual donation</a>.</b>
You can help us to provide more remote internships in this turbulent time. 
</p>

<h2>
New Policy Summary
</h2>

<p>
Outreachy wants to support our applicants, interns, and alums who are impacted by the global pandemic. The short summary of this blog post is:
</p>

<ol>
	<li>
		May to August 2020 interns who are impacted by COVID-19 will only be required to work 30 hours a week. Interns who are not impacted are encouraged to work 40 hours a week.
	</li>
	<li>
		Students who have an approved initial application are eligible for an Outreachy internship. If their school terms have shifted due to COVID-19, students will only be required to work 10 hours a week during classes and exams.
	</li>
	<li>
		All applicants should update their final application with any changed time commitments.
	</li>
	<li>
		People who miss the final application deadline due to an internet disruption related to COVID-19 should contact the Outreachy organizers.
	</li>
	<li>
		If you are an applicant who is impacted by the global pandemic, please reach out to your mentor and community coordinator.
	</li>
	<li>
		All travel using the Outreachy travel stipend is prohibited until further notice.
	</li>
	<li>
		Alums and interns with an active travel stipend will receive the remainder of their stipend from Conservancy.
	</li>
</ol>

<p>
Please read the details for these policies below.
</p>

<h2>
New Intern Time Policies
</h2>

<p>
The Outreachy PLC has approved a temporary intern time commitment policy. This temporary policy applies to the May to August 2020 round:
</p>

<ul>
	<li>
		Interns impacted by COVID-19 are only required to work 30 hours a week
	</li>
	<li>
		Interns who are not impacted are encouraged to work 40 hours a week
	</li>
</ul>

<p>
We're only asking impacted interns to commit to working 75% of their normal hours. If interns are able to work more normal hours, they will get more out of the internship. We encourage interns to work as best they can, while not burning themselves out.
</p>

<p>
Mentors have been briefed to expect that some impacted interns may work less. That may mean mentors reduce the scope of their project, or expect that it will not be finished.
</p>

<p>
Outreachy already has permanent policies in place that ensure flexibility for interns:
</p>

<ul>
	<li>
		Interns are required to work 12 weeks out of the 13 week internship
	</li>
	<li>
		If interns temporarily cannot work full-time, internships can be extended
	</li>
	<li>
		Internships can be extended for up to 5 weeks
	</li>
</ul>

<h2>New policies for students</h2>

<p>
Some Outreachy applicants are university students. Many universities and colleges have closed due to COVID-19 concerns. This means school terms may be cut short or rescheduled.
</p>

<p>
For the May 2020 round, Outreachy organizers will use the last official school term calendar to determine applicant eligibility. Many schools have not yet released a revised school term calendar. This is fine, and will not impact your eligibility. Please continue applying, even if your school schedule is uncertain.
</p>

<p>Please update your final application if your school releases a new official schedule. You can update your final application until the deadline on April 7 at 4pm UTC. If your school posts a new schedule after the final application deadline, please <a href='https://www.outreachy.org/contact/applicant-help/'>email the Outreachy applicant helpers</a> and send a link to the new schedule.
</p>

<p><b>Update:</b> Outreachy interns who are students may have their school term dates changed due to the impacts of COVID-19. If a student's school term is changed, they are only required to work 10 hours a week when classes are in session or during exam periods. If students are able to work more normal hours, they will get more out of the internship. We encourage interns to work as best they can, while not burning themselves out. Students who work reduced hours will still receive the full internship stipend. Students who work reduced hours will not be required to extend the internship.</p>

<p>
Unfortunately, we cannot re-evaluate the eligibility of any applicant who did not have their initial application approved.
</p>

<h2>
Final Application Policies
</h2>

<p>
We recognize some applicants may be facing sudden changes to their time commitments. The final application will include two new questions. Applicants can answer them to provide updated time commitment information. We will add the new questions to the final application form as soon as we can.
</p>

<p>
We encourage applicants to create their final application ASAP. In these uncertain times, it is best to submit your final application as soon as you can. You can edit your final application through the website until April 7 at 4pm UTC. Mentors will not judge you for a draft final application.
</p>

<p>
We expect that a small number of applicants may experience internet outages because of disruptions due to COVID-19. Some applicants may have to suddenly move due to university closures or government policies. If disruptions related to COVID-19 make you miss the final application deadline, please contact Outreachy applicant helpers: https://www.outreachy.org/contact/applicant-help/
</p>

<p>
Please do not abuse this policy to plan on submitting your final application late. Please only contact us to submit a late final application if you were disrupted by internet outages or moving.
</p>

<p>
We cannot accept late final applications after April 14. Mentors need that time to make their intern selections.
</p>

<p>
Please email us ASAP if you miss the final application deadline. There are only a small number of Outreachy staff. We cannot handle manually creating a large number of late final applications. We will accept late final applications on a first-come-first served basis. 
</p>

<h2>
Communication with mentors
</h2>

<p>
Many applicants may be worried about losing contact with mentors during disruptions caused by COVID-19. Outreachy mentors are aware of the situation, and are very understanding. If you are impacted by COVID-19, please reach out to your mentor and/or community coordinator as soon as you can. We will do our best to support you.
</p>



<h2>
Travel Is Prohibited
</h2>

<p>
Under normal circiumstances, Outreachy interns receive a $500 travel stipend. The travel stipend is valid for travel for up to 2 years from the start of the internship. The travel stipend is used to allow interns to attend conferences and events with a strong free software component that are relevant to their internship. The goal is to allow interns to network with the free software community and find jobs that allow them to use or contribute to free software. However, now is the time to stop travelling and help stop the spread of COVID-19.
</p>

<p>
Effective as of March 27, 2020, all new travel using the Outreachy travel stipend is prohibited. The travel prohibition will be in place until further notice.
</p>

<h2>
Travel Stipend Payout
</h2>

<p>
For Outreachy alums and interns with active travel stipends, Conservancy will be paying out the remainder of the stipend. This includes alums from May 2018, December 2018, May 2019, and December 2019 rounds. You will be contacted by Conservancy accounting via email to update your payment information.</p>

<p>We hope this travel stipend payout can support alums through these challenging times and allow for more opportunities to connect with the free software community virtually or to participate in online learning. We trust that our alums will use Outreachy resources wisely.
</p>

<p>
We hope our updated travel policies will help alums and interns work from home and stay safe.
</p>

<h2>
May 2020 Intern Payments
</h2>

<p>
As a temporary measure for this round, Outreachy organizers are changing the payment amounts for May 2020 internships. The payment schedule will remain the same.
</p>

<p>
Outreachy interns in the May 2020 round will receive the $500 that was to go to their travel stipend as part of their first payment. We will also be shifting $500 from the final payment to the initial payment. We hope the increased initial payment will help interns who face financial challenges.
</p>

<p>The May 2020 intern payment amounts will be:</p>

<ul>
	<li>
		$2,000 initial payment paid by July 10, 2020
	</li>
	<li>
		$2,000 mid-point payment paid by Aug. 8, 2020
	</li>
	<li>
		$2,000 final payment paid by Sept. 19, 2020
	</li>
</ul>

<h2>
Questions?
</h2>

<p>
If you have further questions about these new policies, please <a href='https://www.outreachy.org/contact/applicant-help/'>contact Outreachy applicant helpers.</a> 
</p>

<p>
If you wish to sponsor Outreachy, please <a href='https://www.outreachy.org/contact/organizers/'>contact the Outreachy organizers.</a> 
</p>







{% endblock %}
