{% extends "base.html" %} 
{% load static %}

{% block title %}
Hiring for an Outreachy community manager
{% endblock %}

{% block content %}
{% load humanize %}


<h1>Outreachy is Hiring!</h1>

<p><i>Date: October 14, 2021</i></p>
{% comment %}<p><i>Last updated: DATE</i> - See the "SECTION" section below.</p>{% endcomment %}

<img src="{% static 'img/73-cc-by-2_0-WOCinTech-Chat.jpg' %}" alt="Two black women sit on a couch, with laptops on their lap. One woman is pointing to the other woman's laptop screen. The other woman is smiling. Photo is cc-by 2.0 WOCinTech Chat" class="img-fluid">
<p><i>Photo CC BY 2.0 WOCinTech Chat</i></p>

<h2>Community Manager Role</h2>

<p>
Outreachy is seeking a community manager to help us run our internship program! Please share this post on social media:
</p>

<div class="container border border-info rounded mx-2">
	<div class="container mx-0 my-3">
	<p>✨ Outreachy is hiring a community manager. ✨ You will communicate with Outreachy applicants, interns, and mentors. 📬 You will work remotely for 30 to 40 hours per week.<p>
	<p>Please apply by Oct 31! https://www.outreachy.org{% url '2021-10-outreachy-hiring' %}</p>
	</div>
</div>

<div class="container px-4 mt-4"><img src="{% static 'img/outreachy-logo.png' %}" alt="Outreachy logo" class="img-fluid"></div>

<h3>About us</h3>

<p>
<a href="https://www.outreachy.org">Outreachy</a> is a paid, remote internship program. Interns work remotely with mentors from free and open source software communities for three months. Outreachy is a diversity initiative under the 501c3 non-profit <a href="https://www.sfconservancy.org">Software Freedom Conservancy</a>.
</p>

<p>
Our internship program has two internship cohorts each year. Internships run from May to August and December to March.
</p>

<p>
The applicants for our internships come from around the world, and from a wide variety of backgrounds. Outreachy applicants include, for example, university students, bootcamp graduates, people who are self-taught, or people switching careers. Among others, you'll work with women (both cis and trans), trans men, gender queer people, and people of color with a variety of gender identities.
</p>

<p>
Outreachy and our parent organization, Software Freedom Conservancy, is an equal opportunity employer. All Outreachy participants, including Outreachy staff, are required to follow the <a href="https://github.com/outreachy/website/blob/master/CODE-OF-CONDUCT.md">Outreachy Code of Conduct</a>.
</p>

<h3>The Role</h3>

<div class="container px-4 mt-3 mb-3"><img src="{% static 'outreachy-bot-200x200-avatar-1.png' %}" alt="Outreachy robot avatar" class="img-fluid"></div>

<p>
You'll be a community manager, working with Outreachy applicants and interns.
</p>

<p>
Your main task will be communicating with applicants, interns, and mentors. You will answer applicant questions sent in via email and through social media. You will also run text-based chats with interns and mentors. You will review intern and mentor feedback, and step in when issues arise during the internship.
</p>

<p>
As time allows, we would also love help promoting Outreachy. You may increase Outreachy's presence on social media, including promoting Outreachy intern's blog posts and the work they do. You may want to create blog posts or video interviews about Outreachy interns, mentors, and alums to give Outreachy a more personal "face" to the public.
</p>

<p>
Outreachy most needs your help with communicating with applicants and interns. That means this role will be more focused on email communication than social media promotion.
</p>

<p>
It's okay if you're a non-native English speaker! Outreachy participants are often non-native English speakers. Two Outreachy organizers are non-native English speakers.
</p>

<h3>About You</h3>

<p>
Outreachy needs you to:
</p>

<ul>
	<li>Be familiar with open source and/or free software culture</li>

	<li>Be passionate about diversity and inclusion</li>

	<li>Show empathy and kindness</li>

	<li>Be detail-oriented</li>

	<li>Communicate persuasively and firmly</li>

	<li>Organize your time and prioritize tasks</li>

	<li>Communicate daily during work days</li>

	<li>Be available to team members for at least 3 hours from 10am Eastern U.S. time to 5pm Eastern U.S. time</li>

	<li>Be eligible to work in the country you are living in</li>
</ul>


<p>
Outreachy would love it if you had the following qualities, but they're <b>completely optional</b>. Even if you don't have these qualities, please apply!
</p>

<ul>
	<li>Fluency in a language other than English</li>

	<li>Experience living in a country that has a high number of Outreachy applicants, such as Argentina, Brazil, Cameroon, Canada, India, Kenya, Nigeria, Pakistan, Uganda, Uruguay, and the United States of America.</li>

	<li>Familiarity with the Outreachy program (either as an Outreachy applicant, past intern, mentor, or coordinator)</li>
</ul>

<h3>Compensation</h3>

<p>
We are hiring a contractor for this position. However, we open to exploring an employee position, depending on where you are located.
</p>

<p>
Your hourly rate or salary will be typical for charities in smaller US cities.
</p>

<p>
This position will pay commensurate with experience. Compensation may be adjusted for a uniquely qualified candidate.
</p>

<p>
For a U.S. contractor, we expect the hourly rate to be $35 to $45 per hour.
</p>

<p>
For a U.S. employee, we expect the salary to be $60,000 - $75,000. U.S. employee benefits include fully paid health care, dental, and vision insurance.
</p>

<p>
If you do not live in the United States, your hourly rate or salary will be calculated using <a href="https://en.wikipedia.org/wiki/Purchasing_power_parity">Purchasing Power Parity (PPP)</a>.
</p>

<h3>The Challenges</h3>

<p>
Outreachy is a part of the 501c3 non-profit, Software Freedom Conservancy. Conservancy and Outreachy are run by small teams. Conservancy has 5 employees who support all 63 open source member communities, along with promoting software freedom and working on GPL compliance. Outreachy has 2 paid full-time staffers, and two other Outreachy organizers who volunteer their time.
</p>

<p>
Each internship cohort, Outreachy organizers work with approximately:
</p>

<ul>
	<li>30 to 40 free software communities</li>
	<li>125 mentors</li>
	<li>3,000 applications</li>
	<li>800 to 1,200 approved applicants</li>
	<li>60 to 80 <a href="https://www.outreachy.org/alums">interns</a></li>
</ul>

<p>
Since the Outreachy staff is very small, you will work on a diverse set of tasks. You will need to manage your time effectively and prioritize tasks.
</p>

<p>
Outreachy is continuously growing each year. Each internship cohort, we add new open source communities as mentors, and accept more interns. We would love your help identifying process improvements.
<p>

<p>
Working with the diverse group of Outreachy applicants is sometimes challenging.
</p>

<p>
Many of our applicants don't natively speak English. You may have to ask clarifying questions.
</p>

<p>
Outreachy organizers handle many types of sensitive information. You will need to keep such information confidential.
</p>

<p>
Outreachy is a higher profile effort to increase diversity and inclusivity in tech, so you may be exposed to opponents of efforts to improve diversity and inclusion.
</p>

<h3>Work Schedule</h3>

<p>
This is a remote position that we expect to be 30 to 40 hours per week. Ideally you would work 40 hours per week, but we are flexible. We understand you may have family or carer roles that restrict your working hours. We understand you may have a disability that requires a flexible work schedule. We are happy to accommodate! We do hope you can work at least 30 hours per week on average.
</p>

<p>
Your work schedule is also somewhat flexible. You will need to work at least 3 hours from 10am Eastern U.S. time to 5pm Eastern U.S. time <a href="https://www.timeanddate.com/worldclock/converter.html?iso=20211122T150000&p1=137&p2=179&p3=213&p4=1440&p5=136&p6=125&p7=267&p8=195&p9=166&p10=176&p11=tz_aet">(timezone conversion)</a>.

<h3>To Apply to This Job</h3>

<p>
Send your resume and cover letter to hiring@outreachy.org. Please customize your resume for this role.
</p>

<p>
In your email, tell us which timezone you are located in.
</p>

<p>
We will work around your holiday celebrations and religious holidays, and do our best to support your other obligations when scheduling interviews.
</p>

<p>
An approximate application timeline is as follows:
</p>

<ul>
	<li>Resumes will be reviewed through October 31</li>

	<li>15 minute video chat or phone screenings will be scheduled from October 25 to November 19. This screening is to get to know you and your experiences with open source, free software, and diversity and inclusion.</li>

	<li>1 hour writing exercises will be scheduled from November 29 to December 10. Before this exercise, you should read the Outreachy
	<a href="{% url 'docs-community' %}">Community Guide</a>,
	<a href="{% url 'docs-applicant' %}">Applicant Guide</a>, and
	<a href="{% url 'docs-internship' %}">Internship Guide</a>.
	</li>

	<li>Final video chat interviews with Outreachy staff will take place from January 3 to January 14. The final interviews will ask questions about your skills and experiences working on or volunteering with teams.</li>

	<li>The Outreachy organizers and Outreachy Project Leadership Committee (PLC) will review final candidate information and make a hiring decision. The Outreachy PLC will approve the position and hourly rates. If the candidate seeks an employment position, the Software Freedom Conservancy board will review the position.</li>

</ul>

<p>
These dates may change, depending on the number of applications we receive.
</p>

<p>
All candidates will be notified of our decision by February 1, 2022.
</p>

{% endblock %}
