{% extends "base.html" %} 
{% load static %}

{% block title %}
Outreachy welcomes new community manager
{% endblock %}

{% block content %}
{% load humanize %}


<h1>Outreachy welcomes new community manager</h1>

<p><i>Date: April 15, 2022</i></p>
{% comment %}<p><i>Last updated: DATE</i> - See the "SECTION" section below.</p>{% endcomment %}

<p>Outreachy is a remote, paid internship program of Software Freedom Conservancy. Outreachy provides internships in open source and open science. Outreachy's goal is to support people who face discrimination or systemic bias and who are impacted by underrepresentation in the technical industry where they are living.</p>

<p>Outreachy is pleased to announce that after a <a href="https://www.outreachy.org/blog/2021-10-14/hiring-for-an-outreachy-community-manager/">six month long search</a>, we have hired our new community manager!</p>

<img src="{% static 'organizers/Omotola.png' %}" alt="Headshot of Omotola Omotayo" class="img-fluid">
<p><i>Photo Copyright Omotola Omotayo</i></p>

<p>Omotola Eunice Omotayo is an experienced community manager who has worked in diverse and inclusive teams since 2019. Omotola uses she/her pronouns. She understands how communities work, and creates an extraordinarily welcoming and safe environment for community users. She has successfully managed community's brands and online presences in the technology, business, and development world. One of Omotola's core values is empathy, and she works to understand the feelings and experiences of everyone.</p>

<p>Before joining Outreachy, Omotola worked full-time as the media officer at <a href="https://www.lawyersalertng.org/">Lawyers Alert Nigeria</a>. Lawyers Alert Nigeria is a non-profit human rights organization that empowers women and vulnerable populations with the knowledge of their legal rights. At Lawyers Alert Nigeria, Omotola worked with and managed community relationships with groups of LGBTQ+ people, disabled people, people living with HIV, people affected by tuberculosis, and other marginalized populations. Omotola helped these marginalized groups promote and protect their rights.</p>

<p>Omotola worked as a community manager at <a href="https://www.greenridgefoundation.org/">Green Ridge Foundation</a>. Green Ridge Foundation is a Community Economic Development (CED) driven organization. The Green Ridge Foundation was created to develop an excellent pro bono culture amongst corporate professional services firms. The Green Ridge Foundation drives economic transformation across Africa by leveraging technology. Through managing the organization's online community, Omotola enhanced the economic empowerment of marginalized and vulnerable groups in Africa.</p>

<p>Omotola volunteers her time as the community manager lead at <a href="https://shecodeafrica.org/">She Code Africa</a>. SCA is a non-profit organization that empowers women in tech across Africa. Omotola serves as the team lead, working with another community manager, two social media managers, and numerous local chapter community leaders.</p>

<p>As the community manager lead, Omotola contributed to the growth of the SCA community. Omotola ensured SCA provided a safe space for women in technology, and helped grow their membership from less than a thousand to over 11,000 members. Under Omotola's guidance, her team grew the SCA social media platforms audience. The SCA Twitter account now has over 22,000 followers.</p>

<p>Omotola worked with her SCA community team to provide digital empowerment support through diverse offline and online communities. Omotola monitored the community growth and developed dedicated mentorship programs for members of the community. Omotola is passionate about women empowerment and open source. She is bridging the gender gap in open source through She Code Africa Contributhon and the Women of Open Source programs.  Outreachy encourages people to <a href="https://shecodeafrica.org/donate-partner">donate to support She Code Africa's efforts</a>.</p>

<p>The Outreachy organizer team is very excited to welcome Omotola!</p>

<p>Sage Sharp, an Outreachy organizer since 2016, said, "Omotola's extensive community management and social media experience will be invaluable to Outreachy. We are excited for Omotola's insight and perspectives, especially on supporting African women in tech and other marginalized groups. The Outreachy team looks forward to working with Omotola to engage and deepen our support for Outreachy participants and grow Outreachy's social media presence."</p>

<p>Omotola Omotayo said, "As the community manager at Outreachy, I will utilize my skills, experience, and expertise to support and engage the Outreachy community, to build and promote the brand and voice of the organization, and to drive awareness of Outreachy internships."</p>

<p>Anna e só, an Outreachy organizer since 2018, said, "Omotola's community management expertise, as well as her extensive experience working with marginalized populations, will be key for Outreachy's continued growth and success. We are very fortunate to have her joining Outreachy as our community manager."</p>
{% endblock %}
