{% extends "base.html" %}
{% load static %}

{% block title %}
Outreachy welcomes mentor advocate
{% endblock %}

{% block content %}
{% load humanize %}

<h1>Outreachy welcomes mentor advocate</h1>

<p><i>Date: August 24, 2023</i></p>
{% comment %}<p><i>Last updated: date</i> - change log. See the <a href='#FIXME-ID'>FIXME</a> section below.</p>{% endcomment %}

<p>Outreachy is a remote, paid internship program of Software Freedom Conservancy. Outreachy provides internships in open source and open science. Outreachy's goal is to support people who face discrimination or systemic bias and who are impacted by underrepresentation in the technical industry where they are living.</p>

<p>Outreachy is pleased to announce that we have hired Tilda Udufo as a mentor advocate!</p>

<img src="{% static 'organizers/tilda.jpeg' %}" alt="Headshot of Tilda Udufo" class="img-fluid">
<p><i>Photo Copyright Tilda Udufo</i></p>

<p>Mentors are at the heart of Outreachy. Our volunteer mentors dedicate their time during the 1 month application process and the 3 month internship. They do heroic work preparing their community documentation and issue trackers for Outreachy applicants. Mentors work directly with interns, guiding their progress, coaching interns on learning new skills, and connecting interns to their open source network.</p>

<p>As mentor advocate, Tilda will work with current Outreachy mentors, as well as people who are interested in becoming Outreachy mentors. Tilda will guide mentors through all steps of the Outreachy internship program, and advocate for changes to Outreachy processes to better support mentors.</p>

<p>Tilda Udufo is a dedicated individual with a passion for fostering vibrant open source communities and contributing to open-source projects. Her open source journey speak volumes about her commitment to making a difference in the Open Source world.</p>

<p>Tilda's journey into the world of open source began during her Outreachy internship in Summer 2021, where she interned with <a href="https://publiclab.org/">Public Lab</a>. Public Lab is a non-profit dedicated to democratizing science to address environmental issues that affect people. Public Lab was formed in the wake of the BP oil distaster along the US Gulf South. Tilda's focus was on enhancing the Public Lab platform, culminating in a more streamlined and coherent system for educators along the US Gulf Coast. Her work supported educators as they engaged students in vital discussions around environmental and environmental justice matters.</p>

<p>Having demonstrated exceptional dedication and talent during her internship, she joined the Public Lab team as one of their Code Community Coordinators and Open Source Programs mentor. She demonstrated her dedication to nurturing the Public Lab open source community by creating more than a 100 ‘good-first-issues' designed specifically to welcome and engage new contributors.</p>

<p>As a Public Lab Code Community Coordinator, Tilda excelled in community coordination, deftly managing tasks such as assigning and facilitating weekly check-ins, offering support to fellow community members, and driving engagement on priority projects.</p>

<p>She provided mentorship for two cohorts of the Outreachy and Google Season of Code (GSOC) programs, offering invaluable guidance to budding open-source enthusiasts. Tilda's meticulous approach and her ability to connect with community members were instrumental in fostering an inclusive and collaborative environment.</p>

<p>When Tilda is not immersed in the world of open source and tech, you can find her reading a good thriller and exploring new and exciting literary worlds.</p>

<p>Omotola Omotayo, Outreachy's community manager, said, "Tilda's knowledge of the Outreachy program and mentoring will be invaluable to its continued success. I am thrilled that she has joined the team!"</p>

<p>Anna e só, Outreachy's information and process architect, said, "It's such a joy to have Tilda in our team! Her experience as an Outreachy intern, mentor, and coordinator will be invaluable as we continue to improve our processes to provide additional support to our mentoring organizations."</p>

{% endblock %}
