{% extends "base.html" %}
{% load static %}

{% block title %}
Outreachy 2023: Year in Review
{% endblock %}

{% block content %}
{% load humanize %}

<h1>Outreachy 2023: Year in Review</h1>

<p><i>Date: January 10, 2024</i></p>
{% comment %}<p><i>Last updated: date</i> - change log. See the <a href='#FIXME-ID'>FIXME</a> section below.</p>{% endcomment %}

<div class="card border-info mb-3">
	<div class="card-header text-white bg-info"><b>Support Outreachy: Your Contribution Matters!</b></div>
	<div class="card-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<a href="https://sfconservancy.org/sustainer/"><img src="{% static 'conservancy-logo.png' %}" alt="Software Freedom Conservancy logo" class="img-thumbnail float-left" height="200" width="200"></a>
				</div>
				<div class="col-10">
					<div class="card-text">
						<p>Please <b><a href="https://sfconservancy.org/sustainer/">donate by January 15</a></b></p>


						<p>If you appreciate Outreachy's work, we encourage you to donate to Software Freedom Conservancy's yearly fundraiser by January 15, 2023.</p>


						<p>Outreachy is a core part of Software Freedom Conservancy. Outreachy would not exist without the support of Software Freedom Conservancy.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h2>Celebrating 14 Years of Impact</h2>

<p>In 2023, Outreachy marked a significant milestone in its 14-year journey by welcoming over 1,000 interns into the open source community. This remarkable achievement was commemorated through a series of 6 local celebrations across various countries and 3 virtual events, showcasing the global reach of Outreachy's impact. The celebrations served as a testament to the diversity and inclusivity that Outreachy champions.</p>

<img src="{% static '2023-celebration/cameroon-celebration.jpg' %}" alt="Group photo of Cameroon Outreachy interns cutting a cake with the Outreachy logo" class="img-fluid">
<p><i>Photo CC-BY Outreachy</i></p>

<h2>Outreachy in 2023: By the Numbers</h2>

<p>Outreachy's impact in 2023 by the numbers tells a compelling story. Collaborating with <b>40 open source communities</b> and engaging <b>191 mentors</b>, Outreachy inspired <b>488 new open source contributors</b> to embark on their open source journey. The open source communities saw an impressive <b>3,439 contributions</b> merged from 764 applicants, showcasing the incredible impact of this program.</p>

<p>The heart of Outreachy lies in the interns it supports. In 2023, <b>121 interns</b> worked full-time on open source projects for three months each. This commitment was met with a distribution of <b>$847,000 in internship stipends</b> to people facing discrimination and systemic bias.</p>

<p>Despite these achievements, the need for financial support remains urgent. It requires significant resources to continue this level of success. And with <b>1,936 applicants in 2023</b>, there is a compelling case for increased funding to expand Outreachy and provide more opportunities for those eager to contribute to open source. If Outreachy had additional funding, we could support and recruit more mentors, directly fund more internships, and accept more interns from the <b>764 applicants who made open source contributions</b>.</p>


<h2>Outreachy Team Milestones</h2>

<h3>1. 1000th Intern Celebration</h3>

<p>The Outreachy organizing team played a big role in orchestrating the celebratory events. In addition to hitting the milestone of accepting the 1,000th Outreachy intern, the team organized 6 local celebrations and 3 virtual events. The local celebrations were held in 6 countries: Cameroon, Canada, India, Kenya, Nigeria, and the USA. Each celebration served as a testament to the global reach of Outreachy's impact and the diversity it fosters within the open source community.</p>

<p>We also appreciate our alums who served as the leads for the local celebrations. These dedicated leads played a crucial role in organizing the events, ensuring that everyone at the event felt celebrated and included. Outreachy merch were also sent around the world, symbolizing the interconnectedness of the global Outreachy community.</p>

<p>Photo albums capturing the vibrant moments of each celebration are available:</p>

<p><a href="https://nextcloud.sfconservancy.org/apps/photos/public/Jx00FZsOIpRSs6pdOKEvO9MwtLFkJmDp">Cameroon</a></p>
<p><a href="https://nextcloud.sfconservancy.org/apps/photos/public/BPGgZtATkaKO2RIq6aASC7IKztV6qMCy">Canada</a></p>
<p><a href="https://nextcloud.sfconservancy.org/apps/photos/public/dnE0ZILO4SL5SMCmmaW55tX9EASDt9eu">India</a></p>
<p><a href="https://nextcloud.sfconservancy.org/apps/photos/public/9wamsHiEET5DcZsVDXDfIpqMRh0HnDme">Kenya</a></p>
<p><a href="https://nextcloud.sfconservancy.org/apps/photos/public/NuGmPTnQma2dDwXeNZlqMTrlf9VkyX83">Nigeria</a></p>
<p><a href="https://nextcloud.sfconservancy.org/apps/photos/public/kybQNVHcmk81KCSraILEOnm0bWUgucHa">USA</a></p>

<p>These celebratory events not only recognized the interns but also acknowledged the vital role of mentors, coordinators, and the wider open source community. It was a moment to reflect on the collaborative efforts that have driven Outreachy to its current standing and set the stage for future endeavors.</p>

<h3>2. Intern and Community Support</h3>

<p>The heart of Outreachy lies in its interns, and the team ensured their support throughout 2023. With 121 interns participating in the May and December cohorts, the Outreachy team encouraged personal connections through 1:1 meetings and a social hour. These initiatives aimed not only to facilitate professional growth but also to foster a sense of community among interns across diverse open source communities.</p>

<h3>3. Applicant Empowerment</h3>

<p>Empowering applicants is a core focus of Outreachy, and in 2023, 1,936 applicants were approved to participate in the May and December contribution periods. To enhance the application process, the team increased initial application reviewers to 17, providing a more comprehensive and supportive review process. Live Q&A sessions were conducted to help applicants navigate open source community practises and understand the Outreachy application process better.</p>

<h3>4. Mentor and Coordinator Engagement</h3>

<p>The involvement of mentors and community coordinators is crucial to Outreachy's success. In 2023, 191 mentors supported interns in the May and December cohorts, showcasing the growing mentorship network. The team addressed challenges faced by mentors through discussion sessions at three different conferences. Outreachy's commitment to mentorship extended to encouraging interns to become mentors, resulting in 30 mentors who were past Outreachy interns – a significant increase from previous years.</p>

<p>To further support mentors, a full-time Outreachy mentor advocate - Tilda Udufo was hired, reflecting the dedication to enhancing the mentorship experience. The team also conducted office hours, providing a platform for mentors and coordinators to seek guidance during critical phases such as the community sign-up period, contribution period, and internship period.</p>

<h3>5. Embracing Open Source</h3>

<p>Outreachy's commitment to open source and software freedom extended beyond its internship program. The team embraced platforms like Mastodon, PeerTube, NextCloud, Big Blue Button, Espanso, and Etherpad, showcasing a dedication to using and promoting open source software. This move not only aligns with Outreachy's values but also sets an example for the wider community.</p>

<h3>6. Community Engagement</h3>
<p>Outreachy didn't limit its impact to its own community. The team actively spoke about Outreachy at 14 different events and meet-ups, amplifying the message of diversity and inclusion in open source. These engagements provided opportunities to share insights, inspire new contributors, and foster collaborations with like-minded organizations.</p>

<p>Outreachy organizers gave a keynote at FOSSY to celebrate 1,000 interns and talk about Outreachy's history:</p>

<div class="container mt-4 mb-4">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://archive.org/embed/fossy2023-outreachy-celebration" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
	</div>
</div>

<p>Outreachy organizers also attended the following conferences:</p>

<ul>
	<li>Diversity and Inclusion in Scientific Computing (DISC) Unconference by NumFocus, PyData Amsterdam, and PyCon Uganda: <a href="https://medium.com/@omotolaEO/september-2023-productive-by-stretch-6e80afe36ac1">Report</a></li>

	<li>OSCA fest: <a href="https://medium.com/@omotolaEO/june-2023-milestone-celebration-and-open-source-festival-d9eedb4fc7d1">Report</a> and <a href=https://www.youtube.com/watch?v=9kBykVyiPpw">Video</a></li>

	<li>Euro Python: <a href="https://medium.com/@omotolaEO/outreachy-at-europython-2023-d8dd7917d02">Report</a> and <a href="https://youtu.be/423gqlGBT0Y">Video</a></li>

	<li>Django Africa: <a href="https://medium.com/@omotolaEO/outreachy-report-november-2023-6e9b0b1137eb">Report</a></li>

	<li>Open Life Science program (Open Seed Cohort 8): <a href="https://medium.com/@omotolaEO/outreachy-report-november-2023-6e9b0b1137eb">Report</a></li>

	<li>Dublin Developer Relations Meetup (August 2023 edition):  <a href="https://medium.com/@omotolaEO/august-2023-wrapping-up-a-round-and-getting-ready-for-the-next-200a618d6142">Report</a> and <a href="https://youtu.be/m0EZlz689EI?si=MFB0lXM80KGVGr8z">Video</a></li>

	<li>Women TechMakers Karu branch, Abuja FCT, Nigeria: <a href="https://medium.com/@omotolaEO/outreachy-report-may-2023-4f8e05355c4f">Report</a></li>

	<li>FOSS Backstage (Dinner with Outreachy mentors): <a href="https://medium.com/@omotolaEO/a-journey-to-berlin-networking-e3d7ee41a97d">Report</a></li>

	<li>CZI LatAm meeting: <a href="https://anna.flourishing.stream/reports/2023/05/01/outreachy-report-april-2023/">Report</a></li>

	<li>FOSSY: <a href="https://anna.flourishing.stream/reports/2023/07/25/outreachy-report-july-2023/">Report</a></li>

	<li>DevFest Cerrado: <a href="https://anna.flourishing.stream/reports/2023/11/30/outreachy-report-november-2023/">Report</a></li>

	<li>Angola Open Source Community's The Open Source Café: <a href=https://www.youtube.com/watch?v=oZMH6vbfkFY">Video</a></li>
</ul>

<h2>Looking Ahead to 2024</h2>
<p>As Outreachy gears up for the May 2024 cohort, the team is committed to continuous improvement. Beyond the usual operations, the Outreachy team has identified key areas for development:</p>

<p><b>Better mentor support:</b> The Outreachy team will continue to offer more chances for mentors to connect through office hours, group chats, public Q&A sessions, and private advice sessions.</p>

<p><b>Spotlighting Outreachy mentors:</b> The Outreachy team will be running a series of online chats and blog posts to acknowledge and spotlight the awesome work Outreachy mentors do to support interns and applicants.</p>

<p><b>Improved website experience:</b> The Outreachy team will work on user experience improvements for mentors and coordinators.</p>

<p><b>Partnering with organizations:</b> The Outreachy team will explore partnerships with other organizations to increase the reach of our call for mentors.</p>

<p><b>Updated longitudinal study:</b> Building on the success of the 2019 longitudinal study, Outreachy is set to conduct another study in 2024. This updated version will provide valuable insights into the program's impact and areas for further enhancement.</p>


<p>Outreachy remains steadfast in its mission to foster diversity and inclusion in open source, and with the ongoing support of the community, the future looks promising for creating lasting positive change. The collaborative efforts of interns, mentors, coordinators, and supporters are shaping a more inclusive and vibrant software freedom landscape.</p>

<div class="card border-info mb-3">
	<div class="card-header text-white bg-info"><b>Support Outreachy: Your Contribution Matters!</b></div>
	<div class="card-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<a href="https://sfconservancy.org/sustainer/"><img src="{% static 'conservancy-logo.png' %}" alt="Software Freedom Conservancy logo" class="img-thumbnail float-left" height="200" width="200"></a>
				</div>
				<div class="col-10">
					<div class="card-text">
						<p>Please <b><a href="https://sfconservancy.org/sustainer/">donate by January 15</a></b></p>


						<p>If you appreciate Outreachy's work, we encourage you to donate to Software Freedom Conservancy's yearly fundraiser by January 15, 2023.</p>


						<p>Outreachy is a core part of Software Freedom Conservancy. Outreachy would not exist without the support of Software Freedom Conservancy.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
