{% extends "base.html" %}
{% load static %}
{% block title %}Outreachy Impact: Intern Stories with Ahmed and Rafiat{% endblock %}
{% block content %}
  <h1>Outreachy Impact: Intern Stories with Ahmed and Rafiat</h1>
  <p>
    <i>Date: July 19, 2024</i>
  </p>
  {% comment %}<p><i>Last updated: date</i> - change log. See the <a href='#FIXME-ID'>FIXME</a> section below.</p>{% endcomment %}
  <p>
    In 2023, Outreachy celebrated a remarkable achievement: empowering over 1,000 individuals to embark on their journeys in the open-source world! This blog post shines a light on two of these inspiring stories - Ahmed and Rafiat, who participated in the Outreachy program and experienced incredible growth during their internships.
  </p>
  <div class="mb-4 mt-4">
    <img src="{% static 'intern-spotlight/ahmed-rafiat-banner.png' %}"
         alt="Banner image shows portraits of Outreachy interns - Ahmed Olarenwaju (left) and Rafiat Sulaimon (right) interviewed for this blog post."
         class="rounded mx-auto d-block img-fluid"
         width="800">
    <figcaption class="text-center font-italic">
      Photo: Ahmed Olarenwaju (left), Rafiat Sulaimon (right). Photo Copyright: Ahmed Olarenwaju, Rafiat Sulaimon (respective owners).
    </figcaption>
  </div>
  <h2>Rafiat's Journey: Creating Engaging Science Lessons with Oppia</h2>
  <p>
    Rafiat, an Outreachy intern with Oppia, discussed her experience creating science lessons and making learning more fun. She also translated lessons into Yoruba, facing challenges in ensuring accuracy and cultural appropriateness.
  </p>
  <h3 class="font-italic">Interview with Rafiat</h3>
  <p>
    <b>Q: Can you tell us about your Oppia project?</b>
  </p>
  <p>
    <b>Rafiat:</b> I'm a software engineering graduate with a Bachelor's degree in Software Engineering, currently pursuing my master's in Data Science. I am an organizer for GDG Bamenda and Women Techmakers(WTM) Bamenda. I'm also a Women Techmakers ambassador, and I'm really glad to be one. I discovered Outreachy through the GDG Bamenda community. An Outreachy alum shared a link for people to apply. Despite lacking skills initially, I applied out of curiosity. For my first application to Outreachy, I chose to just observe how the program was. That was when I found Mboalab, a community that shared my interests and values in tech and medicine. I joined the community forum, and I just got chatting.
  </p>
  <p>
    <b>Q: What were some of the biggest challenges you encountered?</b>
  </p>
  <p>
    <b>Rafiat:</b> One of the biggest challenges I faced was mastering how to compose my skill tree, skill table, and script to make it easier for young learners to understand. These tools were new to me, and understanding how to structure lessons in a way that facilitated progressive learning required a steep learning curve. Additionally, translating lessons into Yoruba posed its own set of challenges, as I needed to ensure the translations were accurate and culturally appropriate.
  </p>
  <p>
    <b>Q: How did your mentors support you in overcoming these challenges?</b>
  </p>
  <p>
    <b>Rafiat:</b> My mentors, Aanuoluwapo Adeoti and Adewumi Mobolaji, were instrumental in helping me overcome these challenges. They provided me with step-by-step guidance, detailed feedback, and the resources I needed to learn new skills. Their support was invaluable in helping me navigate through difficult tasks and ensuring I stayed on track.
  </p>
  <p>
    A particularly challenging task was creating a comprehensive and simple skill table for the lesson - Water and Carbon Cycles. I struggled to align the learning objectives with the lesson content, and it was also difficult to structure simple sentences that young learners would understand. Aanuoluwapo patiently walked me through the process, providing examples and explaining the rationale behind each step. This guidance not only helped me complete the task but also deepened my understanding of curriculum development.
  </p>
  <p>
    <b>Q: What qualities did you especially appreciate in your mentors?</b>
  </p>
  <p>
    <b>Rafiat:</b> Aanuoluwapo and Adewumi possessed several qualities that made them exceptional mentors. Their patience, willingness and readiness to provide detailed feedback, and ability to break down complex concepts into manageable steps were incredibly helpful. They fostered a supportive and encouraging environment that made learning enjoyable and less daunting.
  </p>
  <p>
    <b>Q: What are you most proud of achieving during your internship?</b>
  </p>
  <p>
    <b>Rafiat:</b> I am most proud of successfully creating and translating a series of science lessons that received positive feedback from the Oppia community. Seeing my work contribute to the platform and knowing that it would help learners from underserved communities worldwide was incredibly fulfilling.
  </p>
  <p>
    <b>Q: How would you say the Outreachy internship has impacted your career goals or your aspirations?</b>
  </p>
  <p>
    <b>Rafiat:</b> The Outreachy experience has significantly impacted my future career goals. It has solidified my passion for educational technology and mentoring. I'm currently a mentor in the ongoing Outreachy Internship, and I'm also pursuing an M.Sc. Degree in Public Health at the University of Lagos, where I hope that after its completion, I'll continue to develop engaging educational science materials and leverage technology to make learning accessible to diverse communities. The skills and experiences gained during my internship have equipped me with the confidence and knowledge to pursue these aspirations.
  </p>
  <p>
    In conclusion, my Outreachy internship with Oppia was a transformative experience that provided me with valuable skills, supportive mentorship, and a clearer vision for my future career. I am grateful for the opportunity and look forward to continuing my journey in the field of educational technology.
  </p>
  <h2>Ahmed's Experience: Documenting Accessibility Tools for Wagtail</h2>
  <p>
    Ahmed Olarenwaju, an Outreachy intern with Wagtail, worked on documenting accessibility tools for Wagtail. We spoke with Ahmed to learn about his internship experience and how the Outreachy program has impacted him.
  </p>
  <h3 class="font-italic">Interview with Ahmed</h3>
  <p>
    <b>Q: What made you decide to contribute to Wagtail for Outreachy?</b>
  </p>
  <p>
    <b>Ahmed:</b> I was drawn to Wagtail's project because it aligned with my interest in writing and accessibility. I have a background in Language and Literature but technical writing wasn't my forte.
  </p>
  <p>
    <b>Q: Can you tell us about the contributions you made to Wagtail?</b>
  </p>
  <p>
    <b>Ahmed:</b> A key task was to research and understand how Wagtail's system worked. What concepts came alive to you? And how would you explain it in your own words? One topic I came up with for that particular task was called accessibility and usability. Those two words are very interchangeable despite them meaning different things. So I had to sit down and try as much as possible to understand then break it down. 
  </p>
  <p>
    <a href="https://olanrewajuolaitan.substack.com/p/accessibility-and-usability-like"
       target="_blank">Accessibility and Usability by Ahmed Olarenwaju</a>
  </p>
  <p>
    <b>Q: Did you face any challenges during your internship?</b>
  </p>
  <p>
    <b>Ahmed:</b> Power outages were a hurdle but my mentors were incredibly supportive. They understood my situation and we adjusted deadlines when needed. Speaking of mentors, both Damilola (a former Outreachy intern) and Thibaud were fantastic! They provided invaluable guidance and encouragement whenever I faced technical challenges.
  </p>
  <p>
    It was also my first time working on a project that large. You're speaking to people that are not in the same geographical location. It felt overwhelming because these were people that had years of experience alone and and I was just posing questions to them that might sound silly sometimes but they were just really eager to listen. Also, while conducting the interviews for my research, just having that feeling that people wanted to speak with you, and you didn't feel like a nuisance was so helpful too.
  </p>
  <p>
    <b>Q: What were some of the most impactful aspects of your internship?</b>
  </p>
  <p>
    <b>Ahmed:</b> There were several! I truly enjoyed personalizing my learning about accessibility principles to fit Wagtail's specific context. Also, documenting user experiences related to accessibility within the platform is one of my highlights during the internship. It's fulfilling to know that my research suggestions were incorporated into another project, highlighting the value of my contribution. Additionally, I improved my technical writing skills while gaining a deeper understanding of the Wagtail CMS.
  </p>
  <p>Being able to complete my project and seeing its impact made all of the challenges I had worth it.</p>
  <p>
    <b>Q: How would you say the Outreachy internship has impacted your career goals or your aspirations?</b>
  </p>
  <p>
    <b>Ahmed:</b> The experience gave me a huge confidence boost in my abilities and knowledge. There's just this confidence and pride that comes along with knowing that you worked on a project like Wagtail. And it's proof of your achievements for when you reach out to potential employers. Being an Outreachy intern removed any doubt from my mind about my skills. Also, when it comes to personal projects, my thought process has evolved for the better.
  </p>
  <p>
    <b>Thank you both for sharing your inspiring stories!</b>
  </p>
  <p>
    Ahmed and Rafiat's experiences showcase the impact of mentorship, diversity and inclusivity within open source communities. Outreachy's goal is to continue creating opportunities and empowering people from underrepresented groups in tech to make meaningful contributions to open-source projects while shaping their futures in the tech industry.
  </p>
  <p>Inspired by Rafiat and Ahmed's stories? Learn more about how you can support Outreachy and create more impact.</p>
  <p>
    <a href="https://www.outreachy.org/sponsor/" target="_blank">Learn more about sponsoring Outreachy</a>
  </p>
{% endblock %}
