{% extends "base.html" %} 
{% block title %}
Statistics for Outreachy {{ current_round.internstarts|date:"F Y" }} to {{ current_round.internends|date:"F Y" }} application period
{% endblock %}

{% block content %}
{% load humanize %}
<h1>Statistics for Outreachy {{ current_round.internstarts|date:"F Y" }} to {{ current_round.internends|date:"F Y" }} application period</h1>
{% if not current_round.contributions_close.has_passed %}
	<p>Statistics for this Outreachy application period will be available the day after the application period closes on {{ current_round.contributions_close }}.</p>
{% else %}
	<h2>Who was interested in Outreachy?</h2>

	<p>In order to ensure mentors only work with applicants who are eligible to participate in Outreachy, the Outreachy organizers created an eligibility check form. Once the form was filled in, applicants could see the details about the Outreachy projects offered. Along with protecting mentor time and resources, this allows Outreachy organizers to determine how much reach and interest we have in the program.</p>

	{% with eligibility_stats=current_round.get_statistics_on_eligibility_check %}
	<p>This round, we had {{ eligibility_stats.0 }} people filled out an eligibility check. {{ eligibility_stats.1 }} people were eligible.</p>
	<h3>Why were people ineligible for Outreachy?</h3>
	<p>Outreachy's focus is on mentoring and providing a welcoming environment for people from groups under-represented in tech. An explanation of the statistics that informed our eligibility criteria is <a href="/sponsor/#why-sponsor-diversity-in-foss">here</a>.</p>
	<p>Of the people who were ineligible, {{ eligibility_stats.2|floatformat:"0"|intcomma }}% were ineligible because they did not meet at least one of the following eligibility criteria:
	<ul>
		<li>Outreachy internships are open internationally to women (cis and trans), trans men, and genderqueer people.</li>
		<li>Internships are also open to residents and nationals of the United States of any gender who are Black/African American, Hispanic/Latin@, Native American/American Indian, Alaska Native, Native Hawaiian, or Pacific Islander.</li>
	</ul></p>
	<p>Some folks did meet the above criteria, but had full-time commitments (school, work, or volunteer commitments) that meant they were not eligible for a full-time, 40-hours a week Outreachy internship. {{ eligibility_stats.3|floatformat:"0"|intcomma }}% of the ineligible applicants fell into this category.</p>
	<p>The remaining {{ eligibility_stats.4|floatformat:"0"|intcomma }}% of ineligible applicants were ineligible due other factors such as not being over 18 years of age when the internship starts, not being ineligible to work 40 hours a week in their country of residence, or having participated as an intern in Google Summer of Code or Outreachy before.</p>

	<h2>Where do people live who are eligible?</h2>
	{% with country_data=current_round.get_countries_stats %}
	<p>Outreachy also allows applicants to (optionally) set their location. Of the {{ eligibility_stats.1 }} people who were eligible, the most common countries are:</p>
	<ul>
		{% for name, count in country_data %}
			<li>{{ name|capfirst }} - {{ count }} people</li>
		{% endfor %}
	</ul>
	{% endwith %}
	{% endwith %}

	<h2>Who completed a contribution?</h2>
	<p>Outreachy is a highly competitive program, and we require applicants to work with Outreachy mentors to make a contribution to a project. A contribution can be something small, like refactoring a function, adding a few paragraphs of documentation, translating a small amount of text, creating a graphical element for one part of an application, or reviewing how a user might complete a task to evaluate user experience.</p>
	{% with demographics_stats=current_round.get_contributor_demographics gender_stats=current_round.get_contributor_gender_stats funding_stats=current_round.get_contributor_applicant_funding_status %}
	<p>{{ demographics_stats.0 }} people made a contribution to an Outreachy project:</p>
	<ul>
		<li>Across all contributors, {{ gender_stats.1|floatformat:"0"|intcomma }}% are transgender, {{ gender_stats.2|floatformat:"0"|intcomma }}% are genderqueer, and {{ gender_stats.0|floatformat:"0"|intcomma }}% are cisgender</li>
		<li>For contributors who live in the United States, or are United States residents or nationals, {{ demographics_stats.2|floatformat:"0"|intcomma }}% are Black/African American, Hispanic/Latin@, Native American/American Indian, Alaska Native, Native Hawaiian, or Pacific Islander. {{ demographics_stats.1|floatformat:"0"|intcomma }}% are white.</li>
	</ul>
	<h2>How can you help?</h2>
	<p>Outreachy currently has {{ funding_stats.2 }} applicants, but only enough funding to accept {{ funding_stats.3 }} interns. Can your company sponsor one intern at $6,500? Please <a href="/contact/contact-us/">contact us today</a>!</p>
	{% endwith %}

{% endif %}
{% endblock %}
