{% load static wagtailuserbar %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div class="fixed-container">
                <div class="navbar nav-container">
                        <div class="container">
                                <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse" >
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span></button>
                                        <a class="brand" href="/">Outreachy</a>                
                                        <div class="nav-collapse collapse" style="height: 0px;">
                                            <ul class="nav">
						{% for headerp in header_pages %}
                                                    <li><a href="{% pageurl headerp %}">{{ headerp.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                </div>
                        </div>

                </div>
        </div>
        <div class="container" id="home">

        {% block content %}{% endblock %}
        </div>

        <div class="footer">
                <div class="footer-art"></div>
                <div class="footer-grass"></div>
			<p>Copyright © 2017 Outreachy</p>
			<p class="cc-description">Free to share and remix: <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons CC-BY</a>, except for the individual organization logos, which are property of their respective owners, and any pictures with additional creative commons attributions.</p>
			<p class="cc-description">The Outreachy website is built with <a href="https://www.djangoproject.com/">Django</a>, <a href="https://wagtail.io/">Wagtail</a>, <a href="http://getbootstrap.com/">bootstrap</a> and deployed with <a href="http://dokku.viewdocs.io/dokku/">Dokku</a>. The code is licensed <a href="https://www.gnu.org/licenses/gpl.html">GPL v3</a> and can be found on <a href="http://github.com/sarahsharp/outreachy-django-wagtail/">github.</a></p>
			<p>This program and all offers related to it are void where prohibited or restricted by law or where operation of the program would violate any law or right. All participants in the program must agree to the terms and conditions of the program which will be provided to the selected applicants.</p>
        </div>
        {# Global javascript #}
	<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
