{% load approval_status %}

<a id="actions"></a>
{% for status, status_group in section %}
	<h2>{{ status|title }}</h2>
	{% for label, group in status_group %}
		<h3>{{ label|title }}</h3>
		{% for obj in group %}
			<div class="card mb-3">
			<div class="card-body">
				<p class="card-text"><a href="{{ obj.get_preview_url }}">{{ obj }}</a></p>
				<div class="mx-auto mr-sm-0" role="group" aria-label="Actions">
				{% if obj.is_approved %}
					{% if obj|is_submitter:request.user %}
					<a href="{{ obj.get_withdraw_url }}" class="btn btn-warning">Withdraw</a>
					{% endif %}
					{% if obj|is_approver:request.user %}
					<a href="{{ obj.get_reject_url }}" class="btn btn-danger">Reject</a>
					{% endif %}
				{% elif obj.is_pending %}
					{% if obj|is_approver:request.user %}
					<a href="{{ obj.get_preview_url }}" class="btn btn-primary">Review</a>
					{% endif %}
					{% if obj|is_submitter:request.user %}
					<a href="{{ obj.get_withdraw_url }}" class="btn btn-warning">Withdraw</a>
					{% endif %}
				{% elif obj.is_withdrawn %}
					{% if obj|is_submitter:request.user %}
					<a href="{{ obj.get_submit_url }}" class="btn btn-success">Resubmit</a>
					{% endif %}
				{% elif obj.is_rejected %}
					{% if obj|is_approver:request.user %}
					<a href="{{ obj.get_approve_url }}" class="btn btn-success">Approve</a>
					{% endif %}
				{% endif %}
				</div>
			</div>
			</div>
		{% endfor %}
	{% endfor %}
{% endfor %}

