{% with internship=section my_round=section.round %}
	{% load wagtailcore_tags %}
	<h1>My Outreachy Internship</h1>

	<p>You {% if not my_round.has_internship_ended %}are participating{% else %}had participated{% endif %} in the <a href="{% pageurl my_round %}">{{ my_round.official_name }}</a>.
	You can view your profile, project, and mentor on <a href="{% url 'alums' %}">the intern list page</a>.
	To change your profile, click the 'Edit Profile' button above.
	</p>

	<h2>Internship Contract</h2>
	{% if not internship.intern_contract %}
		<p><b>Please sign your <a href="{% url 'intern-agreement' round_slug=my_round.slug community_slug=internship.project.project_round.community.slug project_slug=internship.project.slug%}">internship contract</a>.</b></p>
	{% else %}
		<p>You signed your internship contract on {{ internship.intern_contract.date_signed }}. <a href="{% url 'intern-contract-export' %}">Download your contact</a>.</p>
	{% endif %}

	<h2>Outreachy Mailing Lists</h2>
	<p>There are two mailing lists you may want to sign up for:
	<ul>
		<li>The <a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/community">community mailing list</a> is only for current interns, alumni, and current and past mentors of Outreachy.
	You can chit-chat on the list, ask for help, talk about conferences, ask for career advice, and more.
		</li>
		<li>The <a href="https://lists.outreachy.org/cgi-bin/mailman/listinfo/opportunities">opportunities mailing list</a> is open to anyone who is eligible for the community list, and it is also open to sponsors of the Outreachy program.
	People use this list to send job postings, other internships, conference CFPs, or other opportunities.
		</li>
	</ul>
	<p>

	<h2>Travel Stipend</h2>

	<p><b>Please read the <a href="">travel stipend details</a> before booking your travel!</b></p>
	
	<p>Each Outreachy intern has a $500 USD stipend to travel to conferences or events related to their internship.
	{% if my_round.is_travel_stipend_valid %}
		Your travel stipend is good for travel starting on {{ my_round.travel_stipend_starts }} to {{ my_round.travel_stipend_ends }}.
		Please talk with your mentor about what conferences you might use your travel stipend for.
	{% else %}
		Your travel stipend is currently expired.
	{% endif %}
	</p>

	{% if not my_round.has_internship_ended %}
		<h2>Internship Dates</h2>
		{% if not internship.intern_has_custom_dates %}
			<p>Your Outreachy internship starts on {{ my_round.internstarts }} and ends on {{ my_round.internends }}.{% if not my_round.has_internship_ended %} <a href="/mentor/mentor-faq/#internship-delays">Internships can be extended</a> by up to five weeks if your mentor feels you are not putting in a full-time (40 hours a week effort), or you need to take more than a week off from your internship. Please have your mentor <a href="{% url 'contact-organizers' %}">discuss any extensions</a> or changes to your start date with the Outreachy organizers.{% endif %}</p>
		{% else %}
			<p>Your Outreachy internship has custom start or end dates, or custom feedback dates.</p>
			<p>Your internship will start on {{ internship.intern_starts }} and end on {{ internship.intern_ends}}.{% if not my_round.has_internship_ended %} <a href="/mentor/mentor-faq/#internship-delays">Internships can be extended</a> by up to five weeks from the official end date of {{ my_round.internends }}. Please have your mentor <a href="{% url 'contact-organizers' %}">discuss any further extensions</a> or changes to the your start date with the Outreachy organizers.{% endif %}</p>
		{% endif %}

		<h2 id="feedback">Internship Feedback</h2>
		<p>The Outreachy organizers want to ensure that all interns get the support they need from their mentors. You will be asked to provide mentor feedback on specific dates, which coincide with when your mentor is giving feedback on your internship efforts.</p>
		<p>The feedback form also collects information about how you view your own progress in the internship. This is important to provide, especially if your mentor has previously asked for an extension for your internship. The feedback form also offers a way for interns to request additional help or support.</p>
		<p>The feedback is private and completely optional. Your feedback about your mentors will only be seen by the Outreachy organizers. We will discuss the feedback with you before contacting your mentors about how to improve their mentorship.</p>

		{% if internship.is_initial_feedback_on_mentor_open %}
			<p><a href="{% url 'initial-intern-feedback' %}"><button type="button" class="btn btn-info">Submit Initial Feedback</button></a></p>
		{% endif %}
		{% if internship.is_midpoint_feedback_on_mentor_open %}
			<p><a href="{% url 'midpoint-intern-feedback' %}"><button type="button" class="btn btn-info">Submit Midpoint Feedback</button></a></p>
		{% endif %}
		<p>Feedback and payment status:</p>
		<ul>
			{% if internship.initialinternfeedback %}
				<li>Your initial feedback was submitted.</li>
			{% endif %}
			{% if internship.initialmentorfeedback %}
				<li>Your mentor most recently submitted initial feedback on {{ internship.initialmentorfeedback.find_version_mentor_edited.revision.date_created }}</li>
			{% endif %}
			{% if not internship.initialinternfeedback and not internship.initialmentorfeedback %}
				<li>Neither you nor your mentor have submitted initial feedback.</li>
			{% endif %}
			{% if internship.initialmentorfeedback.organizer_payment_approved %}
				<li>The Outreachy organizers have requested that the Software Freedom Conservancy pay your initial stipend.</li>
			{% endif %}
			{% if internship.midpointinternfeedback %}
				<li>Your midpoint feedback was submitted.</li>
			{% endif %}
			{% if internship.midpointmentorfeedback %}
				<li>Your mentor most recently submitted midpoint feedback on {{ internship.midpointmentorfeedback.find_version_mentor_edited.revision.date_created }}</li>
			{% endif %}
			{% if not internship.midpointinternfeedback and not internship.midpointmentorfeedback %}
				<li>Neither you nor your mentor have submitted midpoint feedback.</li>
			{% endif %}
			{% if internship.midpointmentorfeedback.organizer_payment_approved %}
				<li>The Outreachy organizers have requested that the Software Freedom Conservancy pay your midpoint stipend.</li>
			{% endif %}
		</ul>

		<p>Dates for you to give feedback on your mentor:
		<ul>
			<li>{{ internship.initial_feedback_opens }} 4pm UTC - Initial feedback forms open</li>
			<li>{{ internship.initial_feedback_due }} 4pm UTC - Initial feedback is due</li>
			<li>{{ my_round.midfeedback }} - Mid-point feedback is due</li>
			<li>{{ my_round.finalfeedback }} - Final feedback is due</li>
		</ul>
		</p>
		<p>You can <a href="{% url 'contact-organizers' %}">contact Outreachy organizers</a> at any time to give informal feedback or ask for additional help.</p>
	{% endif %}

	{% with current_round=my_round %}
		{% include 'home/snippet/payment_schedule.html' %}
	{% endwith %}

	<p>Please note that your payment may be delayed for several reasons:
	<ul>
		<li>You did not supply a W8-BEN or W-9 form promptly.</li>
		<li>Your payment account was in another person's name, and you needed to complete a third-party payment form.
		That form must be approved by the Software Freedom Conservancy's Executive Director, Karen Sandler.
		Payment cannot be processed until the third party payment form is approved.
		Please notify SFC accounting ASAP if you have a different name on your account than the legal name you signed your contract with.
		</li>
		<li>You have an extension for your internship.
		If your internship was extended at the midpoint, your midpoint payment will be delayed by that amount of time.
		This will also move your final payment by the same amount of time (or more, if your internship is extended again).
		</li>
	</ul>
	</p>
	<p>If you do not think your payment has been delayed for any of the reasons above, please wait at least ten days past the payment deadline before contacting the SFC accounting.</p>
{% endwith %}
