{% with current_round=section.current_round mentored_projects=section.mentored_projects communities=section.mentored_communities %}
<h1>Your Mentored Project</h1>

<p>
Below is the project{{ mentored_projects|pluralize }} you are mentoring in {{ current_round.official_name }}.
You can also <a href="{% url 'community-cfp' %}#mentor">submit another project</a>.
</p>

{% for project in mentored_projects %}

	<h4 id="{{ project.slug }}">{{ project.short_title }}</h4>
	{% include 'home/snippet/mentor_action.html' %}
	{% if communities %}
	<p>
	You can also see the list of all applicants to the communities you're mentoring for:
	</p>
	{% endif %}
	<ul>
	{% for c in communities %}
		<li>{{ c.name }}: <a href="{% url 'community-applicants' round_slug=current_round.slug community_slug=c.slug  %}">see applicants</a> or <a href="{% url 'community-read-only' community_slug=c.slug %}">submit another project</a> or <a href="{% url 'community-landing' round_slug=current_round.slug community_slug=c.slug %}">view the community projects page applicants see</a></li>
	{% endfor %}
	</ul>
{% endfor %}
{% endwith %}
