{% with current_round=section.current_round %}
<h2>Community progress</h2>
<table class="table table-striped table-bordered">
	<thread class="thread-dark">
	<tr>
		<th scope="col">Community</th>
		<th scope="col">Community Approved?</th>
		<th scope="col">Project</th>
		<th scope="col">Project Approved?</th>
		<th scope="col">Number Applicants With Contribution</th>
		<th scope="col">Number Final Applications</th>
		<th scope="col">Number Withdrawn Final Applications</th>
		<th scope="col">Number Applicants For GSoC</th>
	</tr>
	</thread>
{% for p in section.participations %}
	{% for project in p.project_set.all %}
		{% with applicants=project.get_applicants_and_contributions_list %}
			<tr>
				<td>{% if p.approval_status != p.APPROVED %}{{ p.community.name }}{% else %}<a href="{% url 'community-applicants' round_slug=current_round.slug community_slug=p.community.slug %}">{{ p.community.name }}</a>{% endif %}</td>
				<td>{{ p.get_approval_status_display }}</td>
				<td>{% if p.approval_status == p.APPROVED and project.approval_status == project.APPROVED %}<a href="{% url 'project-applicants' round_slug=current_round.slug community_slug=p.community.slug project_slug=project.slug %}">{{ project.short_title }}</a>{% else %}{{ project.short_title }}{% endif %}</td>
				<td>{{ project.get_approval_status_display }}</td>
			{% if project.approval_status != project.APPROVED or not applicants %}
				<td> - </td>
				<td> - </td>
				<td> - </td>
				<td> - </td>
			{% else %}
				<td>{{ applicants|length }}</td>
				<td>{{ project.get_applications|length }}</td>
				<td>{{ project.get_withdrawn_applications|length }}</td>
				<td>{{ project.get_gsoc_applications|length }}</td>
			{% endif %}
			</tr>
		{% endwith %}
	{% empty %}
			<tr>
				<td>{% if p.approval_status != p.APPROVED %}{{ p.community.name }}{% else %}<a href="{% url 'community-applicants' round_slug=current_round.slug community_slug=p.community.slug %}">{{ p.community.name }}</a>{% endif %}</td>
				<td>{{ p.get_approval_status_display }}</td>
				<td>No Projects</td>
				<td> - </td>
				<td> - </td>
				<td> - </td>
				<td> - </td>
				<td> - </td>
			</tr>
	{% endfor %}
{% endfor %}
</table>
<br>
{% endwith %}
