{% with current_round=section %}
<hr>
<h2>Intern Progress</h2>
<p>Standard mentor feedback dates:
<ul>
	<li><p>{{ current_round.initialfeedback }} - Initial feedback is due. <a href="{% url 'initial-feedback-summary' round_slug=current_round.slug %}"><button class="btn btn-secondary">View Initial Feedback</button></a> <a href="{% url 'initial-feedback-export' round_slug=current_round.slug %}"><button class="btn btn-success">Export Initial Feedback</button></a></p></li>
	<li><p>{{ current_round.midfeedback }} - Mid-point feedback is due. <a href="{% url 'midpoint-feedback-summary' round_slug=current_round.slug %}"><button class="btn btn-secondary">View Midpoint Feedback</button></a> <a href="{% url 'midpoint-feedback-export' round_slug=current_round.slug %}"><button class="btn btn-success">Export Midpoint Feedback</button></a></p></li>
	<li><p>{{ current_round.finalfeedback }} - Final feedback is due</p></li>
</ul>
{% with interns=current_round.get_approved_intern_selections %}
	<table class="table table-striped table-bordered">
		<thread class="thread-dark">
		<tr>
			<th scope="col">Intern</th>
			<th scope="col">Initial mentor feedback</th>
			<th scope="col">Initial intern feedback</th>
			<th scope="col">Mid-point mentor feedback</th>
			<th scope="col">Mid-point intern feedback</th>
			<th scope="col">Final mentor feedback</th>
			<th scope="col">Final intern feedback</th>
		</tr>
		</thread>
		{% for intern in interns %}
			<tr>
				<td>{{ intern.applicant.applicant.public_name }}</td>
				<td>
					{% include 'home/snippet/mentor-feedback-status.html' with mentor_status=intern.get_mentor_initial_feedback_status extension_date=intern.initialmentorfeedback.extension_date %}
				</td>
				<td>
					{% include 'home/snippet/intern-feedback-status.html' with intern_status=intern.get_intern_initial_feedback_status %}
				</td>
				<td>
					{% include 'home/snippet/mentor-feedback-status.html' with mentor_status=intern.get_mentor_midpoint_feedback_status extension_date=intern.midpointmentorfeedback.extension_date %}
				</td>
				<td>
					{% include 'home/snippet/intern-feedback-status.html' with intern_status=intern.get_intern_midpoint_feedback_status %}
				</td>
				<td></td>
				<td></td>
			</tr>
			{% if intern.intern_has_custom_dates %}
				<tr>
					<td>starts: {{ intern.intern_starts }}<br>ends: {{ intern.intern_ends }}</td>
					<td>initial feedback opens: {{ intern.initial_feedback_opens }}</td>
					<td>initial feedback due: {{ intern.initial_feedback_due }}</td>
					<td>mid-point feedback opens: {{ intern.midpoint_feedback_opens }}</td>
					<td>mid-point feedback due: {{ intern.midpoint_feedback_due }}</td>
					<td></td>
					<td></td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endwith %}
{% endwith %}
