<hr>
<h1>Internship info</h1>

<p>These pages have detailed information about interns and mentors. These pages also include applicants who are selected as interns by mentors, but are not yet approved by Outreachy organizers. These pages also include interns with terminated internships.</p>
<ul>
{% for cohort in section.cohorts %}
	<li>
		<a href="{% url 'review-interns' round_slug=cohort.slug %}">{{ cohort.internstarts|date:"F Y" }} internships</a>
	</li>
{% endfor %}
</ul>
<hr>

<h1>Email Subscriptions</h1>

<p>Subscribe mentors and coordinators to the mentor mailing list using these contact lists:
</p>

<ul>
	<li>
<a href="{% url 'trusted-volunteers-list' %}">Participating volunteers</a> - during the application period, subscribe all mentors and coordinators to the mentor mailing list. This list includes communities who are approved to participate in this internship cohort, and mentors of projects approved by those coordinators.
	</li>
	<li>
<a href="{% url 'active-trusted-volunteers-list' %}">Active volunteers</a> - after interns selection is approved by Outreachy organizers, subscribe volunteers from this list instead. It excludes mentors who did not pick an intern. Mentors will drop off this list once the internship ends.
	</li>
</ul>


<p>
Subscribe volunteers using <a href="https://lists.outreachy.org/cgi-bin/mailman/admin/mentors/members/add">this link</a>. Anyone who is already subscribed won't be subscribed again.
</p>

<h1>Zulip chat invitations</h1>

<p>Mentors and coordinators - use the volunteer links above to get a list of mentors to invite to the Zulip chat.</p>

<p><a href="{% url 'active-internship-contacts' %}">Active interns and mentors</a> - use the intern contacts on this page to invite new Outreachy interns to the Zulip chat.</p>

<h1>Informal chat contacts</h1>
<p>
<a href="{% url 'informal-chat-contacts' %}">Volunteers for informal chats with interns.</a>
</p>
<hr>
