<h1>Email Subscriptions</h1>

<p>
Unfortunately, because Outreachy is running Mailman 2.0, we can't automatically
subscribe coordinators and mentors to the mailing lists with Django.
It's a manual process to subscribe approved mentors and approved coordinators
for communities that are approved to participate in a round.
</p>

<p>
During the application period, Outreachy organizers can see the
<a href="{% url 'trusted-volunteers-list' %}">full list of approved volunteer email addresses</a>
for all approved community coordinators and mentors with approved projects.
</p>

<p>
Once all intern selections are approved by Outreachy organizers, they can see the
<a href="{% url 'active-trusted-volunteers-list' %}">full list of active volunteer email addresses</a>
for the intern's mentors who signed the mentor contract,
and all approved community coordinators for communities who selected an intern.
(This list excludes mentors and communities who don't have an approved intern.
Mentors and coordinators will disappear from this list once their regular or
extended internship ends.)
</p>

<p>
Then subscribe them using the following links (anyone already subscribed won't be subscribed again):
</p>
<ul>
	<li><a href="https://lists.outreachy.org/cgi-bin/mailman/admin/mentors/members/add">mentors mailing list</a></li>
	<li><a href="https://lists.outreachy.org/cgi-bin/mailman/admin/announce/members/add">announce mailing list</a></li>
</ul>

<p>
You'll also need to subscribe people to the Zulip chat manually.
Use the volunteer email list above to get all mentors and coordinators.
You can use the following link to see a list of all intern emails,
and get a contact list for all intern's mentors and coordinators.
</p>

<p>
<a href="{% url 'active-internship-contacts' %}">See the active internship email contacts list.</a>
</p>
