<h1>Email Subscriptions</h1>

<p>Subscribe mentors and coordinators to the mentor mailing list using these contact lists:
</p>

<ul>
	<li>
<a href="{% url 'trusted-volunteers-list' %}">Participating volunteers</a> - during the application period, subscribe all mentors and coordinators to the mentor mailing list. This list includes communities who are approved to participate in this internship cohort, and mentors of projects approved by those coordinators.
	</li>
	<li>
<a href="{% url 'active-trusted-volunteers-list' %}">Active volunteers</a> - after interns selection is approved by Outreachy organizers, subscribe volunteers from this list instead. It excludes mentors who did not pick an intern. Mentors will drop off this list once the internship ends.
	</li>
</ul>


<p>
Subscribe volunteers using <a href="https://lists.outreachy.org/cgi-bin/mailman/admin/mentors/members/add">this link</a>. Anyone who is already subscribed won't be subscribed again.
</p>

<p>
You'll also need to subscribe volunteers to the Zulip chat manually.
</p>

<h1>Intern contacts</h1>
<p>
<a href="{% url 'active-internship-contacts' %}">See the active internship email contacts list.</a>
</p>

<h1>Informal chat contacts</h1>
<p>
<a href="{% url 'informal-chat-contacts' %}">See the information of people who volunteered for informal chats with interns.</a>
</p>
