{% extends "base.html" %}
{% load approval_status %}

{% block title %}
{{ view.kwargs.action|title }} Coordinator for {{ coordinatorapproval.community }}
{% endblock %}

{% block content %}
<h1>
	{{ view.kwargs.action|title }} Coordinator for
	<a href="{{ coordinatorapproval.community.get_preview_url }}">{{ coordinatorapproval.community }}</a>
</h1>

{% with c=coordinatorapproval.coordinator community=coordinatorapproval.community %}

<p>{{ c.public_name }} &lt;{{ c.account.email }}&gt;</p>

<ul>
	{% if c.pronouns_to_participants %}<li>Pronouns: {{ c.get_pronouns_display }}</li>{% endif %}
	{% if c.timezone %}<li>Timezone: {{ c.get_timezone_display }}</li>{% endif %}
	{% if c.primary_language %}<li>Primary language: {{ c.get_primary_language_display }}</li>{% endif %}
	{% if c.second_language %}<li>Second language: {{ c.get_second_language_display }}</li>{% endif %}
	{% if c.third_language %}<li>Third language: {{ c.get_third_language_display }}</li>{% endif %}
	{% if c.fourth_language %}<li>Fourth language: {{ c.get_fourth_language_display }}</li>{% endif %}
</ul>

<form action="" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" class="btn btn-primary" value="{{ view.kwargs.action|title }}" />
</form>

{% endwith %}
{% endblock %}
