{% extends "base.html" %}
{% load approval_status %}

{% block title %}
{{ view.kwargs.action|title }} Application for {{ finalapplication.project.project_round.community.short_title }}
{% endblock %}

{% block content %}
{% with applicant=finalapplication.applicant.comrade project=finalapplication.project community=finalapplication.project.project_round.community %}

<h1>
	Application for Internship with {{ community.name }}</a>
</h1>
<p>Project: <strong>{{ finalapplication.project.short_title }}</strong></p>

{% if view.kwargs.action == 'submit' %}
	<h2>Application Information</h2>

	{% include "home/snippet/privacy_policy.html" %}

{% elif view.kwargs.action == 'withdraw' %}
<p>We're sorry to hear you want to withdraw your application. We hope that working with Outreachy mentors and coordinators has been a good experience for you, and please <a href="{% url 'contact-us' %}">contact the Outreachy organizers</a> if you have any concerns.</p>
{% else %}
	<p>"{{ applicant.public_name }}" &lt;{{ applicant.account.email }}&gt;</p>
	{% include "home/snippet/mentor_info.html" with approval=mentorapproval only %}
{% endif %}

<p><form action="" method="post">
    {% csrf_token %}
    {{ form.media }}
    {% for field in form.visible_fields %}
    <div class="form-group">
	{{ field.errors }}
	{% if 'time commitments listed' in field.label_tag %}
		<div class="card border-info mb-3">
			<div class="card-header text-white bg-info">Time commitments on initial application</div>
			<div class="card-body">
				<p class="card-text">
				You listed the following time commitments on your initial application.
				Please make sure they are correct and reflect your current time commitments:
				</p>
				{% with tcs=form.instance.applicant.get_time_commitments %}
					{% include 'home/snippet/time_commitments.html' %}
					{% if not tcs.school_time_commitments and not tcs.volunteer_time_commitments and not tcs.employment_time_commitments and not tcs.noncollege_school_time_commitments %}
						<p><i>You have not listed any university/college, coding school/online courses, work, or volunteer time commitments.</i></p>
					{% endif %}
				{% endwith %}
			</div>
		</div>
		{{ field.label_tag }}
		{{ field }}
		{% if field.help_text %}
		<div class="text-muted">{{ field.help_text|safe }}</div>
		{% endif %}
	{% elif 'Reason denied' in field.label_tag %}
		<p>Please let us know why you're withdrawing your application (e.g. time commitments changed, you want to focus on applying for another Outreachy project, you've accepted a full-time job, etc). This reason will be shared with your mentor, the community coordinator, and the Outreachy organizers.</p>
		{{ field }}
	{% else %}
		{{ field.label_tag }}
		{{ field }}
		{% if field.help_text %}
		<div class="text-muted">{{ field.help_text|safe }}</div>
		{% endif %}
	{% endif %}
    </div>
    {% endfor %}
    {% for hidden in form.hidden_fields %}
	{{ hidden }}
    {% endfor %}
    <input type="submit" class="btn btn-{% if view.kwargs.action == 'withdraw' %}warning{% elif view.kwargs.action == 'reject' %}danger{% else %}success{% endif %}" value="{{ view.kwargs.action|title }}" />
</form></p>

{% endwith %}
{% endblock %}
