{% extends "base.html" %}
{% load approval_status %}

{% block title %}
{{ mentorapproval.get_approval_status_display }} Mentor for {{ mentorapproval.project.short_title }}
{% endblock %}

{% block content %}
{% with mentor=mentorapproval.mentor project=mentorapproval.project community=mentorapproval.project.project_round.community %}

<h1>
	{{ mentorapproval.get_approval_status_display }}
	Mentor for
	<a href="{{ project.get_preview_url }}">{{ project.short_title }}</a>
</h1>

<p>{{ mentor.public_name }} &lt;{{ mentor.account.email }}&gt;</p>

{% if mentorapproval.approval_status == mentorapproval.PENDING %}
{% if mentorapproval|is_approver:request.user %}
{% include "home/snippet/mentor_approval_warnings.html" with approval=mentorapproval only %}
<a href="{% url 'mentorapproval-action' action='approve' community_slug=community.slug project_slug=project.slug username=mentor.account.username %}" class="btn btn-success">Approve Mentor</a>
<a href="{% url 'mentorapproval-action' action='reject' community_slug=community.slug project_slug=project.slug username=mentor.account.username %}" class="btn btn-warning">Reject Mentor</a>
{% endif %}
{% endif %}

{% include "home/snippet/mentor_info.html" with approval=mentorapproval only %}

{% endwith %}
{% endblock %}
