{% extends "base.html" %}
{% load approval_status %}

{% block title %}
{{ view.kwargs.action|title }} Community Participation for {{ participation.community }}
{% endblock %}

{% block content %}
<h1>
	{{ view.kwargs.action|title }} Community Participation for {{ participation.community }}</a>
</h1>

{% include "home/snippet/privacy_policy.html" %}

{% if view.kwargs.action == 'submit' %}
	<div class="card border-info mb-3">
		<div class="card-header text-white bg-info">Outreachy internship funding is required.</div>
		<div class="card-body">
			<p class="card-title">Each FOSS community that participates in Outreachy must <strong>provide funding for at least one intern ($6,500).</strong></p>

			<p>The $6,500 intern sponsorship covers: the three-month internship stipend ($5,500),
			a travel stipend for the intern to speak or network at conferences or events ($500),
			and an accounting fee ($500) for the Outreachy parent non-profit, Software Freedom Conservancy, to handle intern payment and sponsor invoicing.
			</p>
		</div>
	</div>
	<h2>Intern Funding</h2>
	<p>Funding for {{ participation.community.name }} interns may come from a number of different sources. It's ok if you don't know all the information about your sponsors, or you are waiting to recieve final confirmation of your budget. You can always come back and edit this form later.</p>

	<h3>Community funds</h3>
	<p>FOSS communities often fund Outreachy interns directly from their own community funds, or by using funds from the foundation or non-profit who is their fiscal sponsor.</p>
	{% comment %}Show past community funders for this community{% endcomment %}

	<h3>Corporate Sponsors</h3>
	<p>Many FOSS communities find funding from corporate sponsors who use their FOSS project. If your community has participated in Outreachy in the past, Outreachy organizers may have been able to find your community additional corporate sponsors and arrange funding for you. FOSS coordinators should notify Outreachy organizers if they are able to secure additional funding from corporate sponsors.</p>

	<h3>Credits</h3>
	<p>If this community has participated in past Outreachy rounds,
	the community may have a credit from past sponsors, or from
	partially completed internships.</p>

	<h2>Funding Sources for {{ participation.community.name }} interns</h2>

	{% if readonly_sponsorships %}
	<p>The Outreachy organizers have indicated that you have the
	following community funds, sponsorships, or credits
	available:</p>
	<ul>
	{% for sponsorship in readonly_sponsorships %}
	<li>
		<p><strong>{{ sponsorship.funding_secured|yesno:"Confirmed,Tentative" }}</strong>:
		${{ sponsorship.amount }} from {{ sponsorship.name }}
		{% if not sponsorship.funding_secured %}
		(decision by {{ sponsorship.funding_decision_date|date }})
		{% endif %}
		</p>
		{{ sponsorship.additional_information|safe }}
	</li>
	{% endfor %}
	</ul>
	{% endif %}

	<p>Given the various options above, and taking into account any
	credits or additional corporate sponsors listed above, please
	give us information about your additional sponsors.</p>

	<p>You must fill out the information for at least one sponsor.
	The form below has space for multiple sponsors,
	but you can always edit sponsorship information or add more sponsors later.</p>
{% else %}
<ul>
	<li>Number of interns funded: {{ participation.interns_funded }}</li>
</ul>
{% endif %}

<p><form action="" method="post">
	{% csrf_token %}
	{{ form.management_form }}
	{% for f in form %}
		{% with forloop.counter as sponsor_number %}
		<h2>Sponsor #{{ sponsor_number }}</h2>
		{{ f.media }}
		{% for field in f.visible_fields %}
			{% if 'Funding secured' in field.label_tag %}
				<div class="form-group card">
					<div class="card-header">
						Sponsor {{ sponsor_number }} - {{ field.label_tag }}
					</div>
					<div class="card-body">
						{{ field }}
						{{ field.help_text|safe }}
					</div>
				</div>
			{% elif 'Delete' in field.label_tag %}
				<div class="form-group card border-warning">
					<div class="card-header text-white bg-warning">
						Delete Sponsor {{ sponsor_number }}?
					</div>
					<div class="card-body">
						{{ field }} Check this box to delete this sponsorship information.
						{{ field.help_text|safe }}
					</div>
				</div>
			{% else %}
				<div class="form-group card">
					{{ field.errors }}
					<div class="card-header">
						Sponsor {{ sponsor_number }} - {{ field.label_tag }}
					</div>
					<div class="card-body">
						{{ field }}
					</div>
					{% if field.help_text %}
						<div class="card-footer bg-white">{{ field.help_text|safe }}</div>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
		{% endwith %}
	{% endfor %}
	<input type="submit" class="btn btn-{% if view.kwargs.action == 'withdraw' %}warning{% elif view.kwargs.action == 'reject' %}danger{% else %}success{% endif %}" value="{{ view.kwargs.action|title }}" />
</form></p>

{% if view.kwargs.action == 'submit' %}
	<h2>Funding for Additional Outreachy Interns</h2>

	<p>Once communities have secured funding for at least one intern, the Outreachy program may be able to provide funding for additional interns from our general fund. During the intern selection process, Outreachy organizers review the funding requests across all participating communities, and fund the most promising applicants. The evaluation criteria we use for general funding is:</p>
	<ol>
		<li><p>Is the applicant eligible? It's important to have applicants check their eligibility section of their application early so mentors don't work with ineligible applicants</p></li>
		<li><p>Does the applicant have additional time constraints? If they barely meet the time criteria, they may not be a good candidate.</p></li>
		<li><p>Has the candidate made multiple contributions? Are those contributions more than just a documentation fix or whitespace change? Candidates that show skills specific to the project and are consistently contributing are more likely to be accepted for general funding.</p></li>
	</ol>
{% endif %}

{% endblock %}
