{% extends "base.html" %}

{% block title %}
{{ view.kwargs.action|title }} Project for {{ project.project_round.community }}
{% endblock %}

{% block content %}

<h1>{{ view.kwargs.action|title }} Internship Project Proposal</h1>

<p>Mentors submit internship project proposals, which will be reviewed by Outreachy organizers and your community coordinators.</p>

<h2>Terms Used</h2>
{% include "home/snippet/foss-terms.html" %}

<h2>Internship Project Requirements</h2>
{% include "home/snippet/license-requirements.html" %}

<h2>Internship Project Information</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="{{ view.kwargs.action|title }} project" />
</form>

{% endblock %}
