{% extends "base.html" %}

{% block title %}
{{ view.kwargs.action|title }} Project for {{ project.project_round.community }}
{% endblock %}

{% block content %}

<p><a href="{% url 'community-cfp' %}">Timeline and FAQ for Outreachy Communities</a> &gt;
<a href="{{ project.project_round.get_absolute_url }}">{{ project.project_round.community.name }}</a> &gt;
{{ view.kwargs.action|title }} a Project
</p>

{% if view.kwargs.action|title == 'Submit' %}
	<p>Steps to {{ view.kwargs.action|title|lower }} a Project:
	<ol>
		<b><li>Project details</li></b>
		<li>Mentor profile</li>
		<li>Project skills</li>
		<li>Project communication channels</li>
	</ol>
	You can always edit this information later.
	</p>
	<h1>{{ view.kwargs.action|title }} Internship Project Proposal</h1>
{% elif view.kwargs.action|title == 'Approve' %}
	<h1>Confirm Project Participation in Outeachy</h1>
	{% with mentors=project.get_mentor_names %}
		<p>"{{ project.short_title }}" with mentor{{ mentors|pluralize }} {{ mentors }}.</p>
	{% endwith %}
{% endif %}


{% if view.kwargs.action|title == 'Submit' %}
	<p>Before submitting a project, make sure to read:
	<ul>
		<li><a href="/mentor/mentor-faq/">The mentor FAQ</a></li>
		<li><a href="/mentor/#mentor">Outreachy mentor duties</a>, including the 5 hour a week time commitment.</li>
		<li><a href="/mentor/mentor-faq/#define-a-project">Tips on what makes a good project</a></li>
		<li><a href="{% url 'generic-mentor-contract-export' %}">The Outreachy mentor contract</a>, which you as an individual will be required to sign</li>
	</ul>
	</p>

	<p>Mentors submit internship project proposals, which will be reviewed and approved by Outreachy organizers and your community coordinators. Coordinators should not submit projects on behalf of mentors. When you submit a project, you are taking responsibility for providing mentorship to interns.</p>

	<p>If you have multiple mentors who will be mentoring different parts of the project, each mentor should submit their own project proposal. If you have multiple mentors working on the same project, one mentor should submit the project, and other mentors can sign up to co-mentor the project.</p>

{% endif %}

{% if view.kwargs.action|title == 'Submit' %}
	{% include "home/snippet/privacy_policy.html" %}
{% endif %}

{% if view.kwargs.action|title == 'Submit' %}
	<h3>Required Internship Project Details</h3>
{% endif %}

<p><form action="" method="post">
	{% csrf_token %}
	{{ form.media }}
	{% for field in form %}
		{% if 'new_contributors_welcome' in field.label_tag %}
			<h3 id="contributors-welcome">Accepting New Contributors?</h3>
			<p>If you have many strong applicants who completed a contribution,
			you may want to close your project to new contributors.
			Remember that the goal of Outreachy is to select a strong intern.
			Closing your project to new contributors will help
			applicants who are searching for a new project to contribute to.
			</p>
			<p>
			Closing your project will only change how your project is displayed on the project page.
			Your project will be moved to a new "Closed Projects" section.
			Applicants will still be able to record contributions and submit final applications.
			</p>
		{% endif %}
		{% if 'Repository' in field.label_tag %}
			<h3>Optional Internship Project Details</h3>
		{% endif %}
		{% if 'Approved license' in field.label_tag or 'No proprietary software' in field.label_tag or 'more applicants' in field.label_tag %}
			<div class="form-group card">
				<div class="card-header">
					{{ field.label_tag }}
				</div>
				<div class="card-body">
					{{ field }}
					{{ field.help_text|safe }}
				</div>
			</div>
		{% elif 'Delete' in field.label_tag %}
			<div class="form-group card border-warning">
				<div class="card-header text-white bg-warning">
					Delete this item #{{ sponsor_number }}?
				</div>
				<div class="card-body">
					{{ field }} Check this box to delete this item.
					{{ field.help_text|safe }}
				</div>
			</div>
		{% else %}
			<div class="form-group card">
				{{ field.errors }}
				<div class="card-header">
					{{ field.label_tag }}
				</div>
				<div class="card-body">
					{{ field }}
				</div>
				{% if field.help_text %}
					<div class="card-footer bg-white">{{ field.help_text|safe }}</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
	<input type="submit" class="btn btn-{% if view.kwargs.action == 'withdraw' %}warning{% elif view.kwargs.action == 'reject' %}danger{% else %}success{% endif %}" value="{{ view.kwargs.action|title }}" />
</form></p>

{% endblock %}
