{% extends "base.html" %}

{% block title %}
Activation failed
{% endblock %}

{% block content %}
<div class="card border-warning mb-3">
    <div class="card-header text-white bg-warning">
        Activation failed
    </div>
    <div class="card-body">
        <p class="card-text">
        This isn't a valid activation link. Please check that you copied
        the complete link from the email we sent you.
        </p>
        <p class="card-text">
        This could happen if you already activated your account. In that
        case, you can log in now.
        </p>
        <a href="{% url 'login' %}" class="btn btn-success">Log in</a>
    </div>
</div>
{% endblock %}
