{% extends "base.html" %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<h2>New Account</h2>
<p>Don't have an account?</p>
<p><a href="{% url 'register' %}?next={{ next|urlencode }}" class="btn btn-success">Create Account</a></p>

<h2>Existing Account</h2>
<form method="post" action="">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn btn-success" value="Login" />

</form>

{% endblock %}
