{# https://docs.djangoproject.com/en/1.11/topics/auth/default/#django.contrib.auth.views.PasswordResetConfirmView #}
{% extends "base.html" %}

{% block title %}
Password reset confirmation
{% endblock %}

{% block content %}
<h1>Password reset confirmation</h1>

{% if validlink %}

<p>You are requesting to reset your account password. Please enter your new
password twice so we can verify you typed it in correctly.</p>

<form method="post">{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" class="btn btn-success" value="Change my password" /></p>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been
used. Please request a new password reset.</p>

{% endif %}

{% endblock %}
