{# https://docs.djangoproject.com/en/1.11/topics/auth/default/#django.contrib.auth.views.PasswordChangeView #}
{% extends "base.html" %}

{% block title %}
Change password
{% endblock %}

{% block content %}
<h1>Change password</h1>
<form method="post">{% csrf_token %}
<p>Please enter your old password, for security's sake, and then enter your new
password twice so we can verify you typed it in correctly.</p>
{{ form.as_p }}
<p><input type="submit" class="btn btn-success" value="Change my password" /></p>
</form>
{% endblock %}
