{# https://docs.djangoproject.com/en/1.11/topics/auth/default/#django.contrib.auth.views.PasswordResetView #}
{% filter wordwrap:72 %}Someone asked for a password reset on {{ domain }}.{% endfilter %}

- Username: {{ user.username }}
- Email: {{ email }}

{% filter wordwrap:72 %}If you want to reset your password, please follow this link:{% endfilter %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% filter wordwrap:72 %}If you did not request to reset your {{ domain }} password, then you can ignore this message.{% endfilter %}
