{# https://docs.djangoproject.com/en/1.11/topics/auth/default/#django.contrib.auth.views.PasswordResetView #}
{% extends "base.html" %}

{% block title %}
Password reset
{% endblock %}

{% block content %}

<h1>Password reset</h1>

<form method="post" action="">
{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" class="btn btn-success" value="Reset password" /></p>
</form>

<p><a href="{% url 'register' %}" class="btn btn-success">Create Account</a></p>
<p><a href="{% url 'login' %}" class="btn btn-success">Log in</a></p>

{% endblock %}
