// Override simple Bootstrap theming variables.
$body-bg: #fff;
$body-color: #333;

// Override maps before importing the default variables
// or they will be ignored.

$theme-colors: (
    primary: #20b2aa
);

// Base Bootstrap definitions
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Most variables can be overridden before importing defaults
// but anything that is defined in terms of functions over
// other variables must come after importing both functions
// and variables, but before the first module that uses them.

// For example, an assignment like this would go here:
// $headings-color: theme-color-level(primary, 5);

// All Bootstrap variables must have their final values
// at this point, before the following imports can work.

// Next, pull in the Bootstrap modules we use. There are
// many more to choose from! If a Bootstrap component that
// you're trying to use isn't working, look in
// node_modules/bootstrap/scss/ for the missing styles. A
// component named e.g. "carousel" is probably in
// "_carousel.scss", but if that does not help then you
// might need to grep for the class names associated with
// your component.

// These are listed in the same order as in
// node_modules/bootstrap/scss/bootstrap.scss. It probably
// doesn't matter, but I'd suggest keeping it that way just
// in case there are subtle ordering dependencies.

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";
@import "node_modules/bootstrap/scss/images";
